.btn.btn-sm-admin {
  padding: {
    top: 12px;
    bottom: 12px;
  }
  width: 150px;
  min-width: 150px;
  font-size: 16px;
  min-height: 46px;
  margin-top: 30px;
  
//  &+& {
//    margin-left: 13px;
//  }
  
}

body.admin {
  background-color: #f0f2f5;
}

@media (min-width: 1440px) {
  .admin-container {
    max-width: 85%;
  }
}

.navbar-admin-side {
  margin-left: 3%;
  width: 77px;
  min-height: 100%;
  border-radius: 8px;
  border: solid 1px $color-gray;
  background-color: $color-white;
  
  & ul {
    margin-bottom: 0;
  }
  
  &__item {
    width: 100%;
    text-align: center;
    position: relative;
    
    &__link {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 8px;
      font-weight: $font-weight-semibold;
      
      & svg {
        
      }
      
      & span {
        margin-top: 3px;
      }
      
      &::after {
        display: none;
        position: absolute;
        height: 38px;
        top: 20px;
        right: -2px;
        content: '';
        border-right: solid 3px $color-highlight;
        border-radius: 10px;
      }
      
      &:hover {
        color: $color-highlight;
        font-weight: $font-weight-bold;
        
        & svg .svg-hover-highlight {
          fill: $color-highlight;
        }
        
        & svg .svg-hover-highlight-stroke {
          stroke: $color-highlight;
          fill: $color-white;
        }
        
        &::after {
          display: block;
        }
        
      }
      
      &.active {
        
        color: $color-highlight;
        font-weight: $font-weight-bold;
        
        & svg .svg-hover-highlight {
          fill: $color-highlight;
        }
        
        & svg .svg-hover-highlight-stroke {
          stroke: $color-highlight;
          fill: $color-white;
        }
        
        &::after {
          display: block;
        }
      }
      
    }
    
  }
  
}

.admin-register {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  min-height: 328px;
  height: 328px;
  border-radius: 8px;
  border: solid 1px $color-gray;
  background-color: $color-white;
  box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.12);
  
  & .section-title {
    margin-top: 40px;
    font-size: 20px;
    color: $color-highlight;
  }
  
  & form {
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
    & .form-group {
      
      & .form-control {
        border-radius: 8px;
        border: solid 1px $color-gray;
        background-color: rgba(208, 216, 226, 0.11);
        padding: 12px 26px;
        font-size: 14px;
        min-height: 42px;
        line-height: 14px;
        margin-bottom: 14px;
        
        &::placeholder {
          font-size: 14px;
        }
        
        &:last-of-type {
          margin-bottom: 0;
        }
        
      }
      
      & .btn {
        margin-top: 30px;
      }
      
    }
    
  }
  
  & .btn {
    width: 150px;
    min-width: 150px;
    font-size: 16px;
    min-height: 46px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  & img {
    position: absolute;
    top: -74px;
    left: 26px;
  }
  
}

.admin-section {
  margin-top: 20px;
  min-height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}



.admin-container {
  
}

.admin-section-card_basic {
  background-color: $color-white;
  border: solid 1px $color-gray;
  border-radius: 8px;
}


.admin-section-card {
  width: 683px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 60px;
  height: 100%;
  
  & .section-title {
    font-size: 18px;
  }
  
  &_1000 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
}


.user-account-admin {

  & .section-title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  & .user-account-image {

    margin-bottom: 40px;

    & a {
      margin-top: 10px;
      display: inline-block;

      &::after {
        display: none;
      }

    }

    & .img-user-big {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 130px;
      height: 130px;

      & input, & img {
        object-fit: cover;
        object-position: center;
        width: 130px;
        height: 130px;
        border-radius: 100%;
        border: solid 1px $color-gray;
        pointer-events: none;
      }

    }

  }

  & form {

    & .form-group {
      margin-bottom: 18px;
      
      & .show-hide-pass {
        
        top: 10px;
        
        & img {
          height: 16px;
          width: 16px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
      
      & label {
        font-size: 14px;
      }
      
      & input {
        min-height: 42px;
        font-size: 13px;
        
        &::placeholder {
          font-size: 13px;
        }
        
      }

    }

  }

  & .btn {
    
    padding: {
      top: 12px;
      bottom: 12px;
    }
    
    font-size: 16px;
    min-height: 46px;
    margin-top: 30px;
  }

}

.user-account-admin-right__btn .btn {
  min-width: 150px;
  margin-right: 13px;

  &:last-child {
    margin-right: 0;
  }

}

.admin-setting-item {
  
  padding: 14px 0;
  border-bottom: solid 1px $color-gray;
  margin-bottom: 5px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  &__name {
    display: inline-block;
    font-size: 14px;
    font-weight: $font-weight-semibold;
  }
  
  &__status {
    float: right;
    display: inline-block;
    
    & a.status:hover {
      color: $color-highlight;
    }
    
    & .status {
      font-size: 12px;
      color: $color-secondary;
    }
    
    & .status + .switch {
      margin-left: 30px;
    }
    
  }
  
}

.admin-top {
  margin-top: 10px;
  margin-bottom: 20px;
  
  &__heading {
    font-size: 22px;
    font-weight: $font-weight-semibold;
  }
  
  &__back-btn {
    
    & svg {
      height: 21px;
      width: 12px;
      
      & .color {
        fill: #98a6b4;
      }
      
    }
    
  }
  
}


.admin-top__btn {
  min-height: 46px!important;
  min-width: 150px!important;
  padding: 12px 20px!important;
  font-size: 16px!important;
}

.admin-staff-top {
  
  margin-bottom: 10px;
  
  &__search {
    
    display: inline-block;
   
    & .search {
      border-radius: 6px;
      padding: 8px 47px;
      width: 346px;
      font-size: 14px;
      background-image: url(../images/svg/search.svg);
      background-repeat: no-repeat;
      background-position: 8px 5px;
      
      &::placeholder {
        font-size: 14px;
        color: $color-secondary;
      }
      
    }
    
  }
  
  & .btn {
    min-height: 46px;
    min-width: 150px;
    padding: 12px 20px;
    font-size: 16px;
  }
  
}

.admin-staff-item {
  border-radius: 4px;
  height: 64px;
  width: 100%;
  padding-left: 26px;
  padding-right: 40px;
  margin-bottom: 10px;
  color: $color-secondary;
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  &__personal {
    
    &__name {
      font-size: 14px;
      font-weight: $font-weight-semibold;
    }
    
    &__email {
      font-size: 12px;
      color: $color-secondary;
    }
    
    &__img {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 30px;

      & img {
        object-fit: cover;
        object-position: center;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: solid 1px $color-gray;
        pointer-events: none;
      }
    }
    
  }
  
  &__country {
    font-size: 14px;
  }
  
  &.active & {
    &__personal {
    
      &__name {
        color: $color-primary;
      }
      
    }
    
    &__country {
        color: $color-primary;
    }
  }
  
}

.admin-clients-item {
  color: $color-primary;
  
  &__personal {
    
    &__name {
      font-size: 14px;
      font-weight: $font-weight-semibold;
    }
    
    &__email {
      font-size: 12px;
      color: $color-secondary;
    }
    
    &__img {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 30px;

      & img {
        object-fit: cover;
        object-position: center;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: solid 1px $color-gray;
        pointer-events: none;
      }
    }
    
  }
  
  &__value {
    margin-left: 10%;
    color: $color-highlight;
    font-weight: $font-weight-semibold;
    font-size: 14px;
  }
  
  &__active-time {
    font-size: 14px;
    color: $color-secondary;
  }
  
  & .admin-requests-item__btn {
    margin-left: 22%;
  }
  
} 

.admin-requests {
  margin-bottom: 30px;
  
  &__select {
    
    & .custom-select {
      width: 200px;
    }
    
    & .select-selected {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 20px;
      padding-right: 34px;
      background-position: center right 0;
      background-size: 10px 10px;
      border-bottom: none;
      font-size: 14px;
      color: $color-secondary;
      font-weight: $font-weight-normal;
    }
    
    & .select-items {
      padding-top: 10px;
      padding-bottom: 10px; 
      & div {
        padding: 11px 22px!important;
        
        &.same-as-selected {
          &::after {
            content: '';
          }
        }
        
      }
    }
  }
  
  &-item {
    position: relative;
    padding: 20px 40px 40px;
    border-radius: 4px;
    margin-bottom: 10px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
    &__unread {
      & .admin-requests-item__status {
        display: block;
      }
    }
    
    &__status {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      border-top-left-radius: 3px;
      
      & &__tr {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16.1px 17.4px 0 0;
        border-color: $color-highlight transparent transparent transparent;
      }
      
    }
    
    & p {
      font-size: 13px;
      
      &:last-of-type {
        margin-bottom: 0;
      }
      
    }
    
    & &__left {
      width: 90%;
    }
    
    & &__left__top {
      margin-bottom: 27px;
    }
    
    & .admin-staff-item__personal__img {
      margin-right: 16px;
    }
    
    & .admin-staff-item__personal__name {
      margin-right: 50px;
    }
    
    &__time {
      font-size: 11px;
      color: $color-secondary;
    }
    
    &__section-indicator {
      min-width: 93px;
      border: solid 1px $color-gray;
      border-radius: 8px;
      padding: 6px 12px 6px 10px;
      
      &__color {
        width: 7px;
        height: 7px;
        border-radius: 100%;
        
        &.your-ideas {
          background-color: #178fff;
        }
        
        &.contact {
          background-color: #0b284c;
        }
        
        &.partnership {
          background-color: #23d90c;
        }
        
        &.services {
          background-color: #d90c0f;
        }
        
      }
      
      & span {
        margin-left: 10px;
        color: $color-secondary;
        font-size: 9px;
        font-weight: $font-weight-semibold;
      }
      
    }
    
    &__btn {
      width: 24px;
      height: 24px;
      
      &:hover {
        & svg {
          & .btn-form {
            fill: #D0D8E2;
            fill-opacity: 0.37;
          }
          
          & .btn-icon {
          }
        }
      }
      
      &_active {
         & svg {
          & .btn-form {
            fill: $color-highlight;
            stroke: $color-highlight;
          }
          
          & .btn-icon {
            fill:$color-white;
          }
        }
        
        &:hover {
          & svg {
            & .btn-form {
              fill: #0D73D2;
              stroke: #0D73D2;
              fill-opacity: 1;
            }

            & .btn-icon {
              fill:$color-white;
            }
          }
        }
      }
      
    }
    
    &_send {
      padding-bottom: 20px;
      
      & .form-group {
        margin-top: 20px;
        
        & label {
          font-size: 13px;
          color: $color-secondary;
          margin-bottom: 9px;
        }
        
        & textarea {
          resize: none;
          font-size: 12px;
          padding: 11px 14px;
          border-radius: 4px;
          border: solid 1px $color-gray;
        }
        
        & .btn {
          margin-top: 20px;
        }
      }
      
    }
    
  }
  
}

.admin-reviews {
  margin-bottom: 30px;
  
  &-list {
    & .admin-requests-item__left__top {
      margin-bottom: 3px;
    }

    & .admin-requests-item__section-indicator {
      padding-left: 15px;
      padding-right: 15px;
      min-width: 0;

      & span {
        margin-left: 0;
        color: $color-highlight;
      }

    }
  }
  
  
  &-item {
    
    padding-bottom: 20px;
    
    &__date {
      color: $color-secondary;
      font-size: 13px;
      font-weight: $font-weight-semibold;
      margin-bottom: 14px;
    }
  }
}

.admin-pagination {
  
  margin-top: 28px;
  
  & .page-items-list {
    background: $color-white;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 13px;
  }

  & .page-link {
    
    background: $color-white;

    &.prev {
      margin-right: 10px;
    }

    &.next {
      margin-left: 10px;
    }

    &.prev, &.next {
      
      border-radius: 50%!important;
      background-color: $color-white;

    }
    
  }
  
}

.admin-blog [class*="col-"] {
  margin-bottom: 10px;
}

.admin-blog [class*="col-"]:nth-child(odd) {
  padding-right: 5px;
}

.admin-blog [class*="col-"]:nth-child(even) {
  padding-left: 5px;
}

.admin-blog-item {
  padding: 30px;
  background-color: $color-white;
  border-radius: 4px;
  border: solid 1px $color-gray;
  height: 100%;
  
  &__img {
    
    position: relative;
    width: 100%;
    
    & img {
      border: solid 1px #979797;
      border-radius: 4px;
      height: 104px;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  &__heading {
    margin-top: 20px;
    font-size: 18px;
    font-weight: $font-weight-semibold;
  }
  
  &__text {
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    color: $color-primary;
  }
  
  &__control {
    position: absolute;
    top: 13px;
    right: 17px;
  }
  
  &__btn {
    
    margin-right: 16px;
    
    &:last-of-type {
      margin-right: 0;
    }
    
    &:hover {
      & svg {
        & .color {
          fill: $color-white;
          fill-opacity: 0.68042346;
        }
      }
    } 
  }
  
}

.admin-order-item {
  color: $color-primary;
  padding-left: 15px;

  & .operation-status-img {
    margin-right: 46px;
    width: 50px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

    & img {
      max-width: 50px;
      width: 100%;
      max-height: 40px;
      object-fit: contain;
      object-position: center center;
    }

    .if-card {
      margin-top: 5px;
      text-align: center;
      min-width: 55px;
      font-size: 12px;
      color: $color-secondary;
      display: block;
      line-height: 1;
    }

  }

  & .operation-name {
    color: $color-primary;
    font-size: 14px;

    & img {
      max-height: 18px;
      display: block;
      object-fit: contain;
    }

  }
  
  & .operation-mail {
    font-size: 14px;
    font-weight: $font-weight-semibold;
  }

  & .operation-value {
    font-size: 14px;
    color: $color-highlight;
    font-weight: $font-weight-semibold;
  }
  
  

  & .operation-status {
    font-size: 14px;
    padding-bottom: 3px;
  }

  & .operation-date {
    text-align: right;
    color: $color-secondary;
    font-size: 10px;
  }
  
  &_pending {
    & .operation-status {
      color: $color-secondary;
    }
  }
  
}

.admin-service-top {
  margin-bottom: 20px;
}

.admin-service-folders > .row > [class*="col-"] {
  margin-bottom: 18px;
}

.admin-service-folder {
  min-height: 209px;
  height: 100%;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  
  &__name {
    font-size: 18px;
    font-weight: $font-weight-semibold;
  }
  
  &__top {
    margin-bottom: 13px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, $color-gray 70%, rgba(255,255,255,0) 0%);
    background-position: bottom left;
    background-size: 10px 1px;
    background-repeat: repeat-x;
  }
  
  &__bottom {
    
    &.row {
      margin-left: -3px;
      margin-right: -3px;
      margin-bottom: -6px;
    }
    
    & [class*="col-"] {
      padding-right: 3px;
      padding-left: 3px;
      margin-bottom: 6px;
    }
    
    &_empty {
      font-size: 16px;
      color: $color-gray;
      font-weight: $font-weight-semibold;
      width: 100%;
      height: 60%;
    }
    
  }
  
  &__add {
    height: 28px;
    width: 28px;
  }
  
  &__service-card {
    display: block;
    height: 40px;
    padding-top: 6px;
    padding-bottom: 13px;
    text-align: center;
    border: solid 1px $color-gray;
    border-radius: 2px;
    
    & img {
      vertical-align: middle;
      object-fit: contain;
      height: 100%;
      max-width: 100%;
    }
    
  }
  
  &__all {
    font-size: 11px;
    font-weight: $font-weight-semibold;
    width: 100%;
    height: 100%;
    text-align: center;
    
    & a {
      color: $color-highlight; 
    }
  }
  
}

.admin-service-view {
  padding: 30px 40px;
  
  & .admin-top {
    margin-bottom: 40px;
  }
  
  & .admin-top__heading {
    font-size: 18px;
  }
  
  & .admin-country-top {
    
    & .nav-link {
      font-size: 14px;
    }
    
    & .user-menu {
      text-align: left;
    }
  }
  
  &__card {
    text-align: center;
    padding: 5px 14px;
    width: 110px;
    height: 58px;
    border-radius: 2px;
    border: solid 1px $color-gray;
    margin-right: 10px;
    margin-bottom: 10px;
    
    &__top {
      font-size: 14px;
      font-weight: $font-weight-semibold;
      padding-bottom: 4px;
      background-image: linear-gradient(to right, $color-gray 70%, rgba(255,255,255,0) 0%);
      background-position: bottom left;
      background-size: 10px 1px;
      background-repeat: repeat-x;
    }
    
    &__bottom {
      & img {
        height: 13px;
      }
    }
    
  }
  
}

.admin-service-amount__card-list {
  margin-top: 18px;
  margin-right: -18px;
}
.admin-service-amount__card {
  margin-right: 18px;
  margin-bottom: 10px;
  border: solid 1px $color-gray;
  border-radius: 2px;
  height: 54px;
  min-width: 126px;
  padding-left: 18px;
  padding-right: 18px;
  
  &__currency {
    color: $color-secondary;
  }
  
  &_add {
    font-size: 14px;
    color: $color-highlight;
    font-weight: $font-weight-semibold;
    text-align: center;
  }
  
}

.admin-country-top {
  position: relative;
  
  & .nav-link {
    color: $color-highlight;
    font-weight: $font-weight-semibold;
    
    & img {
      margin-left: 44px;
    }
    
  }
  
  & .user-menu {
    z-index: 2;
    position: absolute;
    right: 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.12);
    box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.12);
    background-color: #ffffff;
    border: solid 1px #d0d8e2;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    
    & .collapse-content {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    & .menu-item {
      width: 248px;
      
      &:last-of-type {
        margin-bottom: 0;
      }

      &.active {
        position: relative;
      }

      &.active, &:hover {
        background-color: $color-lightgray;
      }
      
       & a {
        display: block;
        padding: 10px 32px;
        font: {
          size: 13px;
          weight: $font-weight-regular;
        }
        color: $color-primary;

        & img {
          margin-right: 20px;
        }
      }
      
      &.add {
        & a {
          margin-top: 5px;
          padding-top: 0;
          padding-bottom: 5px;
          font-weight: $font-weight-semibold;
          color: $color-highlight;
         
          &:before {
            display: block;
            height: 2px;
            width: 100%;
            border-top: solid rgba(208, 216, 226, 0.52) 2px;
            content: '';
            margin-bottom: 12px;
          }
        }
      }
    }
    
  }
  
}

.admin-post-create {
  font-size: 14px;
  & .section-title {
    margin-bottom: 58px;
  }
  
  &__title {
    font-size: 14px;
    color: $color-secondary;
    margin-top: 20px;
    margin-bottom: 10px;
    
  }
  
  &__name {
    font-size: 16px;
    font-weight: $font-weight-semibold;
  }
  
  &__link {
    color: $color-primary;
  }
  
  &__input {
    & .select-selected {
      font-size: 14px;
      font-weight: $font-weight-regular;
      background-size: 13px 7px;
    }
    & .select-items {
      max-height: 250px;
      overflow: scroll;
      @include custom-scroll;
    }
    & input.search {
      padding: 9px 32px;
      border: none;
      width: 100%;
      font-size: 12px;

      &::placeholder {
        font-size: 12px;
        color: $color-secondary;
      }
    }
  }
  
  & .form-group {
    margin-bottom: 0;
  }
  
  & textarea {
    resize: none;
    font-size: 14px;
    padding: 20px!important;
    border-radius: 4px;
    border: solid 1px $color-gray;
    margin-bottom: 0;
  }
  
  & input.image-upload {
    width: 100%;
    height: 102px;
    object-fit: cover;
    object-position: center;
  }
  
  & input[type=image].image-upload.cover {
    position: relative;
    background-color: #f7f9fd;
    border-radius: 4px;
    outline: none;
    border: dashed 1px $color-gray;
    -webkit-appearance: none;
  }
  
  & .img-user-big  {
    
    &.covered {
      & span {
        display: none;
      }
    }
    
    position: relative;
    
    & span {
      font-size: 12px;
      font-weight: 600;
      color: $color-gray;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      pointer-events: none;
    }
    
    &:hover {
      & span {
        color: $color-secondary;
      }
      
      & input[type=image].image-upload.cover {
        background-color: #f7f9fd;
        border: dashed 1px $color-secondary;
      }
    
    }
  }
  
}

.form-group-admin-textarea {

  & label {
    font-size: 13px;
    color: $color-secondary;
    margin-bottom: 9px;
  }

  & textarea {
    resize: none;
    font-size: 14px;
    padding: 11px 14px;
    border-radius: 4px;
    border: solid 1px $color-gray;
  }
}

.admin-user-profile {
  border-radius: 4px;
  
  &_close {
    position: absolute;
    
    & svg {
      vertical-align: top;
    }
    
  }
  
  &__top {
    height: auto;
    padding: 20px;
    margin-bottom: 10px;
    
    & .img-user-big {
      & img {
        object-fit: cover;
        object-position: center;
        width: 79px;
        height: 79px;
        border-radius: 100%;
        border: solid 1px $color-gray;
        pointer-events: none;
      }
    }
    
    & .admin-user-profile__stats {
      margin-top: 40px;
    }
  }
  
  &__user-email {
    margin-top: 10px;
    font-size: 14px;
    font-weight: $font-weight-semibold;
  }
  
  &__stats {
    font-size: 14px;
    
    &__title {
      color: $color-secondary;
      margin-bottom: 8px;
    }
    
    &__value {
      font-weight: $font-weight-semibold;
      color: $color-highlight;
    }
    
  }
  
  &__balance {
    padding-left: 70px;
    width: 50%;
    border-right: solid 2px $color-gray;
  }
  
  &__trsnsaction {
    padding-left: 88px;
    width: 50%;
  }
  
  &__bottom {
    min-height: 689px;
    height: 689px;
    padding: 14px 40px 30px;
  }
}

.admin-user-profile {
  
  & .pagination {
    & .page-items-list, & .page-link {
      background-color: #eff3f8;
    }
    
  }
  
  & .tab-content {
    height: 91%;
  }
  
  & .tab-pane {
    height: 100%;
  }
  
  & .nav-link-like-tabs {
    border-bottom: solid 1px $color-gray;
    margin-bottom: 17px;
  }
  
  & .nav-item {
    font-size: 14px;
    width: 50%;
    text-align: center;
    
  }
  
  & .nav-link {
    padding-bottom: 19px;
    padding-top: 0;
    position: relative;
    
    &:after {
      display: none;
      content: '';
      border-bottom: solid 3px #178fff;
      width: 38px;
      position: absolute;
      left: 50%;
      bottom: -2px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    
    &.active, &:hover {
      
      color: $color-highlight;
      font-weight: $font-weight-semibold;
      
      &:after {
        display: block;
      }
    }
    
    
  }
  
  & .user-operation-card {
      padding: 0 5.4%;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      height: 59px;
      border-radius: 4px;
      border: solid 1px $color-gray;
      font-size: 14px;
      
      &:last-of-type {
        margin-bottom: 0;
      }
      
      & .operation-status-img {
        height: 23px;
        width: 23px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10%;
      }
      
      & .operation-name {
        width: 19%;
        margin-right: 2%;
      }
      
      & .operation-value {
        width: 28%;
      }
      
      & .operation-date {
      }
      
      & .operation-status {
        min-width: 20%;
        text-align: right;
      }
      
    }
    
    & .user-operation-card_confirmed {
      
      & .operation-value {
        color: $color-highlight;
        font-weight: $font-weight-semibold;
      }
      
    }
    
    & .user-operation-card_pending {
      
      color: $color-secondary;
      
    }
    
    & .user-operation-card_cancelled {
      
      
      & .operation-status-img {
        height: 18px;
        width: 18px;
      }
      
      & .operation-status {
        color: #ea1d3c;
      }
      
      & .operation-name {
        color: $color-secondary;
        font-weight: $font-weight-semibold;
      }
      
      & .operation-value {
        color: $color-secondary;
        font-weight: $font-weight-semibold;
      }
      
      & .operation-date {
        color: $color-secondary;
        font-weight: $font-weight-semibold;
      }
      
    }
    
    & .user-operation-card_outgoing {
      padding: 0 20px;
      
      & .operation-status-img {
        width: 40px;
        height: 40px;
        margin-right: 5%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          width: 100%;
          max-height: 25px;
          object-fit: contain;
          object-position: center center;
        }
        
        .if-card {
          margin-top: 5px;
          text-align: center;
          min-width: 55px;
          font-size: 12px;
          color: $color-secondary;
          display: block;
        }
        
      }
      
      & .operation-name {
        color: $color-primary;
        width: 17%;
        margin-right: 0;
        height: 60%;
        
        & img {
          display: block;
          object-fit: contain;
        }
        
      }
      
            
      & .operation-status {
        width: 33%;
        margin-right: 0;
        margin-left: 5%;
        text-align: left;
      }
      
      & .operation-value {
        width: 13%;
        margin-right: 0;
        color: $color-highlight;
        font-weight: $font-weight-semibold;
      }
      
      & .operation-date {
        text-align: right;
        margin-right: 0;
        min-width: 10%;
        color: $color-secondary;
        font-weight: $font-weight-semibold;
      }

      
    }
}

.admin-edit-card {
  border-radius: 4px;
  margin-bottom: 20px;
  
  &.admin-edit-card__editable {
    & .admin-edit-panel {
      display: block;
    }
    
    & .user-account-admin-right__btn {
      display: block;
    }
    
    & .admin-edit-card__top__buttons {
      display: none!important;
    }
  }
  
  & .admin-edit-panel {
    display: none;
  }
  
  & .user-account-admin-right__btn {
    display: none;
  }
  
  &__top {
    padding: 20px 40px;
    border-bottom: solid 1px $color-gray;
    
    
    &__heading {
      font-weight: $font-weight-semibold;
      font-size: 20px;
      margin-bottom: 0;
    }
    
    &__buttons {
      & .admin-requests-item__btn {
        margin-left: 12px;
      }
    }
  }
  
  &__content-block {
    margin-left: 40px;
    padding: 30px 40px 30px 0;
    border-bottom: solid 1px $color-gray;
    
    &:last-of-type {
      border-bottom: 0;
    }
    
    &__heading {
      margin-bottom: 16px;
      & h4 {
        font-weight: $font-weight-semibold;
        font-size: 18px;
        display: block;
        margin-bottom: 0;
      }
    }
    
    &__text {
      font-size: 16px;
      margin-bottom: 0;
      line-height: normal;
    }
    
    &_edit {
      
      & .admin-edit-card__content-block__heading {
        display: block!important;
      }
    
      & .label {
        font-size: 16px;
        color: $color-secondary;
        margin-bottom: 8px;
      }
      
      & .btn {
        margin-top: 20px;
      }

    }
    
  }
  
  &__text {
    
    padding: 20px 40px;
    
    & .admin-edit-card__top__buttons {
      
    }
    
    & .text-content {
      
      & h3 {
        font-size: 18px;
      }
      
      & p {
        font-size: 16px;
        
        &:last-of-type {
          margin-bottom: 0;
        }
        
      }
      
      & li {
        font-size: 16px;
      }
    }
  }

}

.admin-edit-panel {
//  display: none;
  margin-right: 40px;
  margin-top: 28px;
  
  &__button {
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    border-radius: 8px;
    border: solid 1px $color-gray;
    line-height: 1.6;
    margin-left: 12px;
    width: 38px;
    height: 38px;
    background-color: $color-white;
    
    &:hover:not(.admin-edit-panel__button_color) {
      background-color: rgba(208, 216, 226, 0.37);
    }
    
    &_italic {
      
    }
    
    &_bold {
      font-weight: $font-weight-bold; 
    }
    
    &_underline {
      text-decoration: underline;
    }
    
    &_color {
      
    }
    
  }
}
