body.arab {
  
  h2, h3, h4, p {
    text-align: right;
  }
  
  a.more {
    &:after {
      transform: rotate(180deg);
      margin-left: 0;
      margin-right: 10px;
    }
  }
  
  & .btn-share-block {
    direction: ltr;
    transform: scale(-1, 1);
    
    & img {
      transform: scale(-1, 1);
    }
    
  }
  
  .form-check {
    text-align: right;
    
    & .checkbox + .form-check-label {
      
      padding-right: 39px;
      padding-left: 0;
      
      &::before {
        left: auto;
        right: 0;
      }
    }
    
  }
  
  .form-group {
    text-align: right;
    
    & .show-hide-pass {
      left: 0;
      right: auto;
    }
    
  }
  
  .group-password {
    & input {
      &.form-control-underline {
        &_pass {
          padding-right: 0;
          padding-left: 50px;
        }
      }
    }
    
  }
  
  .select-selected {
    &::before {
      background-position: center left 0;
    }
  }
  
  .select-items {
    direction: ltr;
    text-align: left;
  }
  
  .top-up-heading {
    & h3, p {
      text-align: center !important;
    }
  }
  
  .top-up-main {
    &__select {
      &__phone {
        direction: ltr;
      }
      &__img {
        img {
          margin-right: 0;
          margin-left: 30px;
        }
      }
      &_next {
        &__label {
          text-align: right;
        }
      }
      &__top {
        text-align: right;
      }
    }
    &__blocks {
      direction: ltr;
    }
  }
  
  & .navbar {
    
    & .navbar-nav {
      & .nav-item {
        
        &.lang {
          & .lang-menu {
            direction: ltr;
          }
        }
        
        & .nav-link {
          & img {
            margin-right: 13px;
            margin-left: 0;
          }
        }
      }
    }
    
    & .btn-default {
      margin-left: 0;
      margin-right: 28px;
    }
  }
  
  & .masthead {
    
    & h1 {
      text-align: right;
    }
    
    & p {
      text-align: right;
    }
    
    & .slider-wrap {
      direction: ltr;
      
      & p {
        text-align: left;
      }
      
    }
    
  }
  
  & .form-control-and-form-select {
    float: right;
    margin-right: 0;
    margin-left: 28px;

    & .form-control-select {
      margin-right: 0;
      margin-left: -1px;
      background-position: center left 20px;
    }
  }

  & .select-input-btn {
    & .btn {
      float: right;
    }
  }
  
  & .top-up-your-balance {
    & [class*='col-'] {
      text-align: right;
    }
  }
  
  & .products-for {
    & .tabs-switch {
      direction: ltr;
    }
    
    & .nav-tabs {
      direction: ltr;  
    }
    
    & .didnt-find-btn {
      margin-right: 10px !important;
      margin-left: 0 !important;
    }
    
  }
  
  & .how-it-works {
    & [class*='col-'] {
      text-align: right;
    }
    
    & .feature-card h4 {
      padding-left: 30%;
    }
    
    & .feature-card p {
      padding-left: 40%;
      padding-right: 0;
    }
  }
  
  & .review-card {
    direction: ltr;
    
    & p {
      text-align: left;
    }
    
  }
  
  & .footer-index {
    & .socials {
      direction: ltr;

      & a + a {

      }
    }
    
    & li {
      text-align: right;
    }
  
    & p {
      direction: ltr;
      text-align: left;
    }
  }
  
  @media only screen and (max-width: 767.9px) {
    
    .navbar {
      
      & .btn-default {
        margin-right: 16px;
      }
      
      & .mobile-side-navbar {
        
        & .menu-nav {
          float: right;
          
          & .nav-link {
            &.active {
              border-right: solid 2px $color-highlight;
              border-left: none;
            }
          }
          
        }
        
        & .menu-img {
          float: left;
          
          & img {
            transform: scale(-1, 1);
          }
        }
        
        &__top {
          & .nav-item {
            text-align: left;
            margin-left: 0;
            width: 100%;
            padding-left: 0;

            &.lang {
              
              & .lang-menu {
                direction: ltr;
                margin-left: 0;
                left: 0;
              }
              
              & .nav-link {
                padding-left: 0;

                & img {
                  margin-left: 0;
                  margin-right: 13px;
                }

              }
            }

          }
        }
      }
      
    }
    
  }
  
}