html {
  height: 100%;
  min-height: auto;
}

body {
  height: 100%;
}
.fill {
  height: 100%;
  min-height: 670px;
}

.masthead {
  margin-bottom: 35px;
  padding-bottom: 35px;
  margin-top: -80px;
  
  
  &-top {
    margin-top: 80px;
    width: 100%;
  }
  
  & h1 {
    margin-bottom: $indent-default;
  }
  
  & p {
    margin-bottom: $indent-x-large;
  }
  
}

.user-menu.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.slider-wrap {
  height: 500px;
  width: 100%;
  
  &.slider {
    width: 100%;
  }
  
  & .slider-item {
    transform: scale(0);
    margin-left: 20px;
    width: 475px;
    height: 100px;
    border-radius: 2.8px;
    border: solid 1.4px $color-gray;
    background-color: $color-white;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    opacity: 0;
    z-index: 0;
    box-shadow: 0 4px 9px #f1f1f4;
    left: 0;
    top: 0;
    
    & .slider-item_content {
      padding-left: 17px;
      width: 72%;
      height: 100%;
      border-right: solid 1.4px $color-gray;
      
      & .animation-card_image {
        min-width: 63px;
        height: 63px;
        margin-right: 26px;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          width: 100%;
          max-width: 63px;
          max-height: 63px;
          object-fit: contain;
          object-position: center center;
        }
        
        & .if-card {
          margin-top: 8px;
          font-size: 13px;
          color: $color-gray;
        }

      }

      & .animation-card_content {
        width: 100%;
        max-width: 374px;

        & .animation-card_content_title {
          color: #4a4545;
          font-size: $font-size-default;
          font-weight: 400;
          margin: 0;
          margin-bottom: 4px;  
          line-height: 1;
        }
        
        & .animation-card_content_bottom {
          
          & img {
            min-height: 20px;
            max-height: 30px;
            max-width: 50px;
            object-fit: contain;
          }
          
          & .animation-card_content_date {
            margin: 0;
            font-size: 16px;
            color: #9da9b7;
            margin-left: 20px;
          }
          
        }

      }
      
    }
    
    & .slider-item_price {
      width: 28%;
      text-align: right;
      font-size: 40px;
      font-weight: $font-weight-semibold;
      color: $color-highlight;
      line-height: 0.6;
      
      & span {
        font-size: 19.6px;
        font-weight: $font-weight-bold;
        color: $color-highlight;
        margin-left: 3px;
      }
      
    }
    
  }
        
}

.form-control-and-form-select {
  display: inline-block;
  float: left;
  margin-right: 26px;
}

.products-for {
  
  & .nav-tabs {
    border-bottom: solid 1px $color-gray;
    margin-bottom: $indent-xx-large;
    
    & .nav-link {
      font-size: 26px;
      color: #0b284c66;
      border: none;
      padding: 0 0 13px 0;
      
      &.active {
        font-weight: $font-weight-semibold;
        color: #0b284c;
        background-color: #fff;
        border-bottom: solid 1px #0b80ed;
        
      }
      
    }
    
  }
  
}

.services {
  
  & .service-card {
    display: inline-block;
    height: 180px;
    width: 180px;
    padding: 0 20px;
    border: solid 1px $color-gray;
    @include transition;
    
    & img {
      max-width: 100%;
    }
    
    & + .service-card {
      margin-left: -1px;
    }
    
    &:only-of-type {
      margin-left: 0;
    }
    
    &_add {
      margin-left: 10px!important;
      border: solid 1px #f1f3f6;
      
      &:only-of-type {
        margin-left: 0!important;
      }
      
      & p {
        color: #9da9b7;
        font-size: 16px;
        font-weight: $font-weight-semibold;
        display: block;
        margin-bottom: 5px;
      }
      
      & span {
        color: $color-highlight;
        font-size: 24px;
        font-weight: $font-weight-semibold;
        display: block;
        text-transform: uppercase; 
      }
      
    }
    
    &:hover {
      box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.23);
    }
    
  }
  
}

.payment-methods {
  background-color: #f7fafb;
  padding: $indent-x-large 0;
}

.payment--cards {
  
  & .payment-card {
    display: inline-block;
    width: 141px;
    height: 63px;
    border-radius: 2px;
    border: solid 1px $color-gray;
    padding: 0 15px;
    position: relative;
    
    & img {
      object-fit: contain;
      max-width: 100%;
    }
  }
  
}

.feature-card {
  border: solid 1px $color-gray;
  padding: 39px;
  height: 100%;
  
  & img {
    height: 62px;
    margin-bottom: 24px;
  }
  
  & .center-heading {
    min-height: 80px;
    margin-bottom: 15px;
  }
  & h4 {
    line-height: 1.4;
    margin-bottom: 0;
  }
  
  & p {
    font-size: 17px;
    padding-right: 10%;
  }
  
}

.review-social-link {
  color: $color-primary;
  
  &:hover {
    color: inherit;
  }
}

.review-card {
  display: block;
  padding: 32px 24px 18px;
  border-radius: 2px;
  background-color: #d8dfe60f;
  border: solid 1px $color-gray;
  min-height: 257px;
  
  & .review-card_head {
    margin-bottom: 22px;
    
    & .photo {
      margin-right: 12px;
      margin-left: -1px;
      
      & img {
        height: 47px;
        width: 47px;
        z-index: 1;
        border-radius: 50%;
        object-fit: cover;
        object-position: center top;
        border: solid 1px $color-gray;
      }
      
    }
    
    & p {
      margin-bottom: 0;
    }
    
    & .name-date {
      
      margin-top: 2px;
      
      & .name {
        font-size: 20px;
        font-weight: $font-weight-semibold;
        line-height: 1;
      }

      & .date {
        font-size: 15px;
        color: #9da9b7;
      }
    }
    
    & img {
      height: 50px;
      width: 50px;
      margin-top: -1px;
    }
    
    
  }
  
  & p {
    max-height: 112px;
    overflow: hidden;
    font-size: $font-size-small;
    margin-bottom: 0;
  }
  
  & .more-small {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    cursor: pointer;
    pointer-events: all;
    margin-top: 8px;
    display: block;
    line-height: 1;
    font-size: $font-size-x-small;
    font-weight: $font-weight-semibold;
    color: $color-highlight;
  }
  
  &.more {
    max-height: 100%;
    height: auto;
    
    & .review-text {
      overflow-x: visible;
      max-height: 100%;
    }
    
  }
  
}

.cta-section {
  
  & h2 {
    margin-bottom: $indent-large;
  }
  
}

.footer-index {
  padding: 36px 0;
  border-top: solid 1px $color-gray;
  margin-bottom: -1rem;
  
  & ul {
    margin-bottom: 0;
    
    & li {
      
      & + li {
        margin-top: 1rem;
      }
      
      & a {
        font-weight: $font-weight-semibold;
        font-size: 16px;
        color: $color-primary;
        line-height: 1;
        text-transform: uppercase;
        
        &:hover {
          color: inherit;
        }
        
      }
      
    }
    
  }
  
  & .socials {
    margin-bottom: $indent-small;
    & a {
   
      & img {
        height: 40px;
        width: 40px;
      }
      
      & + a {
        margin-left: 20px;
      }
      
    }
    
  }
  
  & .copyright {
    font-weight: $font-weight-semibold;
    font-size: 16px;
  }
  
}

.blog {
  margin-top: 40px;
}
  
.pagination {
  margin-bottom: 0;

  & .page-item {

    &.active .page-link, .page-link:hover {
      box-shadow: 0 2px 12px 0 rgba(110, 146, 179, 0.81);
      background-color: $color-highlight;
      color: $color-white;
    }
  }
  
  & .page-item:first-child .page-link {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  & .page-item:last-child .page-link {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  

  & .page-link {

      @include transition;
      margin: 0 1px;
      background-color: transparent;
      max-width: 28px;
      max-height: 26px;
      line-height: 1;
      border-radius: 6px;
      font-size: 10px;
      padding: 0.5rem 0.70rem;
      border: none;
      color: $color-primary;
      

      &:focus {
        box-shadow: none;
      }

      &.prev {
        margin-right: 20px;
      }

      &.next {
        margin-left: 20px;
      }

      &.prev, &.next {
        
        padding-top: 6px;
        padding-bottom: 10px;

        &:hover {

          svg {

            #Shape {
              fill: #ffffff;
            }

          }

        }

      }

  }

}
        

.blog-card {
  margin-bottom: 26px;
  border-radius: 2px;
  pointer-events: none;
  @include transition;
  
  &:hover {
    background-color: rgba(208, 216, 226, 0.07);
    box-shadow: 0 2px 12px 0 rgba(208, 216, 226, 0.62);
  }
  
  & a {
    color: inherit;
    
    &:hover {
      color: inherit;
    }
    
  }
  
  &_img {
    border-radius: 2px;
    height: 182px;
    width: 100%;
    pointer-events: all;
    
    & img {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      z-index: 2;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: solid 1px #d0d8e2;
    }
    
  }
  
  &_content {
    padding: 20px;
    
    & .center-heading {
      min-height: 46px;
      
      & h3 {
        pointer-events: all;
        font-size: 16px;
        margin-bottom: 6px;
      }
    }
    
    & .date {
      margin-top: 0;
      margin-bottom: 13px;
      font-size: 10px;
      color: #98a6b4;
      pointer-events: none;
    }
    
    & p {
      font-size: 12px;
      max-height: 74px;
      overflow: hidden;
      margin-bottom: 0;
      pointer-events: none;
    }
    
    & .more-small {
      pointer-events: all;
      margin-top: 6px;
      font-size: 10px;
      font-weight: $font-weight-semibold;
      color: $color-highlight;
      
      &:hover {
        color: $color-highlight;
      }
      
    }
    
  }
  
}

.subpage {
  & .review-card {
    margin-bottom: 26px;
  }
  
  & .socials {
    margin-bottom: 34px;
    & a {
      margin-right: 30px;
      
      &:last-of-type {
        margin-right: 0;  
      }
      
    }
    
    & img {
      height: 50px;
      width: 50px;
    }
    
  }
  
}

.maintenance {
  margin-top: 85px;
  
  & h2 {
    font-size: 40px;
    margin-bottom: 32px;
  }
  
  & p {
    font-size: 24px;
  }
  
  & form {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    width: 470px;
    
    & .form-group {
      
      & input.form-control {
        width: 294px;
        display: inline-block;
        float: left;
        min-height: 46px;
        font-size: 14px;
        line-height: 14px;
        
        &::placeholder {
          font-size: 14px;
        }
        
      }
      
      & label {
        margin-bottom: 20px;
      }
      
    }
    
    & .btn {
      width: 150px;
      min-width: 150px;
      font-size: 16px;
      min-height: 46px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    
  }
  
}