@media only screen and (max-width: 1439.9px)  {
  
/*-- Main --*/  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 70px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  p {
    font-size: 18px;
  }
  
  a.more {
    font-size: 16px;
  }
  
  .main-heading {
    font-size: 22px;
  }
  .sub-heading {
    font-size: 19px;
    margin-bottom: 24px;
  }
  
  section {
    margin: 100px 0;
  }
  
  .text-content {
    & h3 {
      font-size: 20px;
      margin-bottom: 14px;
    }
    
    & ul {
      & li {
        font-size: 16px;
      }
    }
    
    & p {
      font-size: 16px;
    }
    
    & .mail {
      font-size: 16px;
    }
    
    & .collapse-content {
      & h4 {
        margin-bottom: 14px;
        font-size: 20px;
      }
      
      & p {
        margin-bottom: 20px;
      }
    }
  }
  
  .switch {
    transform: scale(0.85);
    margin-right: -4px;
  }
/*-- Main-End --*/  
  
  
/*-- Buttons --*/
  
  .btn {
    font-size: 18px;
    padding: 17px 30px;
    min-height: 60px;
  }
  
  .btn.btn-sm-admin {
    min-width: 120px;
    width: 129px;
    min-height: 40px;
    padding: 12px 10px;
    font-size: 12px;
  }
  
  .select-input-btn .btn {
    min-height: 50px;
    min-width: 160px;
    padding: 12px 20px;
    line-height: 1.3;
  }
  
/*-- Buttons-End --*/
  
  
/*-- Forms --*/
  
  .form-group {
    margin-bottom: 20px;
    & label {
      font-size: 17px;
    }
    
    & input.form-control-underline {
      font-size: 15px;
      line-height: 1;
      min-height: 50px;
      
      &::placeholder {
        font-size: 15px;
        
      }
      
    }
    
    & .show-hide-pass {
      
      height: 22px;
      width: 24px;
      
      top: 12px;
      
      & img {
        height: 22px;
        width: 24px;
      }
    } 
    
  }
  
  .form-control {
    min-height: 50px;
    font-size: 18px;
  
    &::placeholder {
      font-size: 18px;
    }
    
  }
  
  .form-control-and-form-select {
    margin-right: 20px;
  
    & input.form-control {
      width: 270px;
    }

    & .form-control-select {
      width: 99px;
      font-size: 18px;
      background-size: 12px;
      padding-left: 17px;
      padding-right: 16px;
    }

  }
  
  input.form-control-underline {
    font-size: 16px;
    
    &::placeholder {
      font-size: 16px;
    }
  }
  
  .select-selected {
    font-size: 14px;
    background-size: 19px 19px;
    
    &::before {
      background-size: 19px 19px;
    }
    
  }
  
  .country-select label {
    font-size: 14px;
  }
  
  .login-register-form {
    width: 680px;
    padding: 60px 109px;
    
    & .sub-heading {
      min-width: auto;
      font-size: 18px;
      
      & br {
        display: none;
      }
      
    }
    
    & form {
      width: 386px;
      margin-left: auto;
      margin-right: auto;
      
      & a.f-pass {
        margin-top: 20px;
      }
      
    }
    
    & .btn {
      min-width: 224px;
      padding-top: 19px;
      padding-bottom: 19px;
    }
    
    & .form-check {
      margin-top: 20px;
    }
    
    & .small {
      font-size: 16px;
      
    }
    
  }
  
  .cd-popup {
    & .cd-form {
      max-width: 680px;
      padding: 30px 30px;
      
      & .cd-popup-close {
        left: 30px;
        width: 17px;
        height: 17px;
        
        & svg {
          width: 17px;
          height: 17px;
        }
        
      }
      
    }
    
    & .main-heading {
      font-size: 24px;
      margin-bottom: 20px;
      min-width: 386px;
    }
    
    & .sub-heading {
      font-size: 18px;
      margin-bottom: 30px;
      min-width: 386px;
      
      & br {
        display: none;
      }
    }
    
    &-container {
      width: 386px;
      
      &-fw {
        width: 100%;
      }
      
    }
    
    & form .form-group .custom-select .select-selected.placeholder {
      font-size: 15px;
    }
    
    & form {
      & .form-group {
        & .custom-select {
          & .select-items {
            & div {
              font-size: 18px;
            }
          }
        }
      }
    }
    
    &.semi-automatic {
       pointer-events: none;

      & .cd-form {
        pointer-events: all;
       }

      & .main-heading {
        margin-bottom: 20px;
      }

      & .text-content {
        width: 484px;
      }

      & p {
        font-size: 14px;
      }

      & img {
        width: 458px;
        height: 262px;
        margin-bottom: 34px;
      }

      & .btn {
        margin-left: auto;
        margin-right: auto;
        pointer-events: all;
        min-width: 224px;
      }
    }
    
  }
  
/*-- Forms-End --*/
  
  
/*-- Nav --*/
  
  .navbar {

    & .navbar-brand {
      margin-right: 45px;
      height: 34px;
      
      & img {
        height: 34px;
      }
      
    }

    & .navbar-nav {

      & .nav-item {

        & .nav-link {
          padding: 21px 25px;
          font-size: 14px;
        }

        &.lang {

          & .nav-link {


            &.active, &:hover {
              &:after {

              }

            }

            & img {
              height: 6px;
            }

          }

          & .lang-menu {


            & .lang-item {


              &.active {


                &:after {

                }

              }

              &.active, &:hover {
              }

              & a {

                & img {
                  
                }
              }

            }

          }

        }

      }
      
      & .nav-item-user-menu {
        & .nav-link {
          & img {
            height: 6px;
          }
        }
        
        & .user-menu {
          margin-top: 59px;
        }
        
        & .img-user-small {
          margin-right: 12px;
          
          height: 26px;
            width: 26px;
          
          & img {
            height: 26px;
            width: 26px;
          }
          
        }
      }

    }

    & .btn {
      min-width: 120px;
      min-height: 40px;
      padding: 10px 10px;
      font-size: 14px;
    }

    & .btn-default {
      
    }
    
    &.user-submenu {
      min-height: 50px;
      
      & .navbar-nav {
        margin-left: 0!important;
        
        &.navbar-history {
          margin-left: auto!important;
        }
        
        &.balance-menu {
          margin-left: auto!important;
          
          & .balance {
            font-size: 14px;
          }
          
        }
        
        & .nav-item {
          & .nav-link {
            padding: 15px 25px;
            
          }
        }
        
        & .nav-item-user-menu {
          & .user-menu {
            margin-left: -100px;
          }
        }
      }
    }

  }

/*-- Nav-End --*/
  
  
/*-- Index --*/
  
  .maintenance {
    & h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }
    
    & p {
      font-size: 18px;
    }
    
    & form {
      margin-top: 60px;
      margin-bottom: 80px;
      
      & .form-group {
        & label {
          font-size: 16px;
        }
        
        & input.form-control {
          font-size: 12px;
          min-height: 40px;
          
          &::placeholder {
            font-size: 12px;
          }
          
        }
      }
      
      & .btn {
        height: 40px;
        min-height: 40px;
        min-width: 129px;
        font-size: 12px;
      }
    }
    
    & img {
      width: 80%;
    }
  }
  
  .masthead {
    margin-bottom: 35px;
    padding-bottom: 35px;
    margin-top: -80px;


    &-top {
      margin-top: 80px;
      width: 100%;
    }

    & h1 {
      margin-bottom: 20px;
    }

    & p {
      margin-bottom: 38px;
    }

  }

  .top-up-your-balance {

    & img {
      height: 80px;
      width: 80px;
    }

    & p {
      font-size: 15px;
    }
  }
  
  .top-up-my-account {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 387px;

    & .section-heading {
      font-size: 24px;
      margin-bottom: 40px;
    }

    &__balance {
      margin-bottom: 50px;
      padding-bottom: 20px;
      font-size: 16px;
      & .label {

      }

      & .balance {
        font-size: 14px;
      }
    }

    &__form {
      & .qr-code {
        height: 84px;
        width: 84px;
        margin-right: 16px;
        & img {
          height: 84px;
          width: 84px;
        }
      }

      & .form-group {
        & .form-control {
          padding: 10px 20px 10px;
          height: 40px;
          min-height: 40px;
          font-size: 13px;

          &::placeholder {
            font-size: 13px;
          }

        }
      }

      & p {
        line-height: 1.3;
        font-size: 14px;
        margin-bottom: 0;
      }

      & .btn {
        margin-top: 50px;
      }
    }
  }

  .slider-wrap {
    position: absolute;
    margin-left: -70px;
    transform: scale(0.75) translateY(-105%);
//    & .slider-item {
//      width: 332px;
//      height: 72px;
//
//      & .slider-item_content {
//        & .animation-card_image {
//          min-width: 53px;
//          height: 53px;
//          margin-right: 14px;
//
//
//          & img {
//            max-width: 53px;
//            max-height: 53px;
//          }
//
//        }
//
//        & .animation-card_content {
//
//
//          & .animation-card_content_title {
//            font-size: 15.7px;  
//          }
//          & .animation-card_content_bottom {
//
//            & img {
//              min-height: 11px;
//              max-height: 25px;
//            }
//
//            & .animation-card_content_date {
//              margin-left: 9px;
//              font-size: 11.8px;
//            } 
//          } 
//        }
//      }
//
//      & .slider-item_price {
//        font-size: 28px;
//
//        & span {
//          font-size: 13.7px;
//        }
//
//      }
//
//    }
  }
  
  .products-for {
  
    & .nav-tabs {
      margin-bottom: $indent-xx-large;

      & .nav-link {
        font-size: 18px;
        padding: 0 0 13px 0;

      }

    }

  }
  
  .services {
  
    & .service-card {
      height: 140px;
      width: 140px;
      padding: 0 10px;
      
      & img {
        max-width: 90%;
      }


      &_add {
        margin-left: 10px!important;
        border: solid 1px #f1f3f6;

        &:only-of-type {
          margin-left: 0!important;
        }

        & p {
          font-size: 14px;
          margin-bottom: 5px;
        }

        & span {
          font-size: 20px;
        }

      }

      &:hover {
        box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.23);
      }

    }

  }
  
  .payment-methods {
    padding: 50px 0;
  }
  
  .payment--cards .payment-card {
    width: 114px;
  }
  
  .payment--cards .payment-card img {
    max-width: 90%;
  }
  
  .switch-btn_left {
    margin-right: 30px;
  }
  
  .feature-card {
    padding: 26px 37px;
    & .center-heading {
      min-height: 58px;
    }
    
    & h4 {
      font-size: 20px;
      
    }
    
    & p {
      padding-right: 5%;
      font-size: 15px;
    }
  }
  
  
  .review-card {
    
    padding: 30px 20px;
    min-height: 245px;
    height: 245px;
    
    & .review-card_head {
      
      & .name-date {
        
        & .name {
          font-size: 14px;
          word-spacing: 9999rem;
          line-height: 1.3;
        }
        
        & .date {
          font-size: 12px;
        }
        
      }
      
      & img {
        height: 32px;
        width: 32px;
      }
    }
    
    & p {
      font-size: 14px;
      max-height: 90px;
    }
  }
  
  .cta-section {
    
    & img {
      height: 227px;
    }
    
    & h2 {
      margin-bottom: 40px;
    }
    
  }
  
  .blog {
    margin-top: 20px;
  }
  
  .blog-card_img {
    height: 111px;
  }
  
  .blog-card_content {
    padding: 14px 16px;
    
    & .center-heading {
      & h3 {
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
    
    & .date {
      font-size: 9px;
    }
    
    & p {
      font-size: 10px;
    }
    
    & .more-small {
      margin-top: 4px;
    }
    
  }
  
  .subpage {
    & .sub-heading {
      font-size: 16px;
    }
    
    & .socials {
      margin-bottom: 22px;
      
      & img {
        height: 34px;
        width: 34px;
      }
      
    }
  }
  
  .footer-index {
    & ul li a {
      font-size: 14px;
    }
    
    & .socials a {
      & + a {
        margin-left: 14px;
      }
      & img {
        height: 30px;
        width: 30px;
      }
    }
    
    & p.copyright {
      font-size: 14px;
    }
  }
  
/*-- Index-End --*/
  
  
  
/*-- User --*/
  
  .user-panel-section {
    
    & .no-service-available {
      & .section-title {
        font-size: 24px;
        margin-bottom: 20px;
      }
      
      & p {
        
      }
      
      & p + img {
        margin-top: 40px;
      }
      
      & img {
        height: 270px;
      }
      
    }
    
    & .custom-select {
      & .select-selected.placeholder, .select-selected {
        font-size: 15px;
      }
      & .select-items {
        & div {
          font-size: 18px;
        }
      }
    }
    & .user-services {
      & .section-title {
        font-size: 24px;
        margin-bottom: 30px;
      }
      
      & .services {
        & .service-card_add {
          margin-left: 12px!important;
        }
      }
    }
    
    & .user-history {
      & .user-operation-card {
        height: 80px;
        font-size: 17px;
        padding-left: 3.5%;
      }
      
      & .user-operation-card_outgoing {
        & .operation-name {
          font-size: 16px;
        }
        & .operation-status {
          width: 25%;
          margin-right: 13%;
        }
      }
    }
    
    & .user-account {
      
      width: 386px;
      
      & .section-title {
        font-size: 24px;
        margin-bottom: 50px;
      }
      
      & .user-account-image {
        & .img-user-big {
          height: 100px;
          width: 100px;
          
          & img {
            width: 100px;
            height: 100px;
          }
          
          & input {
            width: 100px;
            height: 100px;
          }
          
        }
      } 
      
    }
  }
  
/*-- User-End --*/
  
  

/*-- Admin --*/
  
  .admin-register {
    width: 381px;
    min-height: 282px;
    height: 282px;
    
    & img {
      height: 127px;
      top: -67px;
    }
    
    & .section-title {
      font-size: 18px;
      margin-top: 30px;
    }
    & form {
      margin-top: 30px;
      width: 267px;
      
      & .form-group {
        & .form-control {
          font-size: 13px;

          &::placeholder {
            font-size: 13px;
          }

        }
      }
      
      
      
    }
    
    & .btn {
      font-size: 12px;
      min-height: 40px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  
  .navbar-admin {
    & .navbar-brand {
      & img {
        margin-left: 15px;
      }
    }
    & .navbar-nav {
      & .nav-item {
        & .nav-link {
          padding-top: 15px;
          padding-bottom: 15px;
          font-size: 10px;
          padding-left: 0;
          
          & img {
            height: 5px;
          }
          
        }
      }
      
      & .nav-item-user-menu {
        & .img-user-small {
          width: 17px;
          margin-right: 12px;
          
          
          & img {
            width: 17px;
            height: 17px;
          }
        }
        
        & .user-menu {
          margin-top: 45px;
          margin-left: -20px;
          
          & .collapse-content {
            & .menu-item {
              width: 167px;
            }
          }
          
        }
      }
      
      & .nav-item-notification {
        margin-right: 23px;
        
        & .user-menu {
          margin-top: -4px;
          margin-left: -110px;
          & .collapse-content {
            & .menu-item {
              width: 264px;
            }
          }
        }
        
      }
      
    }
  }
  
  .navbar-admin-side {
    width: 66px;
    
    &__item {
      &__link {
        & svg {
          transform: scale(0.8)
        }
        & span {
          font-size: 7px;
        }
      }
    }
  }
  
  .admin-section-card {
    width: 565px;
    padding: 36px 40px;
    
    &_1000 {
      width: 90%;
    }
    
    & .section-title {
      font-size: 16px;
    }
    
  }
  
  .admin-post-create {
    font-size: 12px;
    & .section-title {
      margin-bottom: 40px;
    }
    
    &__title {
      font-size: 12px;
    }
    
    &__name {
      font-size: 14px;
    }
    
    &__input {
      & .select-selected {
        font-size: 11px;
        
        &::before {
          background-size: 10px 10px;
        }
        
      }
    }
    
    &.admin-blog-create {
      & .form-group-admin-textarea {

        & textarea {
          height: 100%;
        }

        height: 100%;
      }
    }
    
  }
  
  .form-group-admin-textarea textarea {
    font-size: 12px;
  }
  
  .user-account-admin {
    & .section-title {
      font-size: 16px;
    }
    
    & .user-account-image {
      & .img-user-big {
        width: 94px;
        height: 94px;
        
        & img,  & input {
          width: 94px;
          height: 94px;
        }
        
      }
    }
    
    & form {
      & .form-group {
        margin-bottom: 14px;
        
        & label {
          font-size: 12px;
        }
        
        & input {
          min-height: 35px;
          font-size: 11px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    
    & .btn {
      min-width: 124px;
      min-height: 40px;
      font-size: 12px;
      margin-top: 40px;
    }
    
  }
  
  .admin-country-top {
    
    & .nav-link {
      font-size: 12px;
      
      & img {
        margin-left: 20px;
        height: 6px;
      }
      
    }
    
    & .user-menu {
      
      & .collapse-content {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      & .menu-item {
        width: 167px;
        
        & a {
          font-size: 10px;
          padding: 7px 22px;
        }
      }
    }
  }
  
  .admin-staff-top {
    
    & .btn {
      min-height: 40px;
      min-width: 129px;
      font-size: 12px;
    }
    
    &__search {
      & .search {
        font-size: 12px;
        padding: 7px 40px;
        background-position: 5px 3px;
        width: 232px;
        
        &::placeholder {
          font-size: 12px;
        }
        
      }
    }
  }
  
  .admin-top {
    margin-top: 0;
    &__btn {
      font-size: 12px !important;
      min-height: 40px !important;
      min-width: 129px !important;
    }
    
    &__heading {
      font-size: 16px;
    }
    
    &__back-btn {
      & svg {
        height: 12px;
      }
    }
  }
  
  .admin-service {
    &-folder {
      min-height: 168px;
      margin-bottom: 0;

      &__name {
        font-size: 15px;
      }

      &__add {
        & svg {
          height: 23px;
          width: 23px;
        }
      }

      &__service-card {
        & img {
          transform: scale(0.7);
        }
      }

      &__bottom {
        &_empty {
          font-size: 14px;
        }
      }
      
    }
    
    &-view {
      & .admin-top {
        margin-top: 0;
        &__heading {
          font-size: 16px;
        }
      }
      
      &__card {
        padding: 6px 9px;
        width: 86px;
        
        &__top {
          font-size: 12px;
        }
        
      }
    }
    
    &-amount {
      &__card-list {
        margin-bottom: -10px;
      }
      &__card {
        min-width: 108px;
        margin-right: 15px;
        height: 39px;
        font-size: 14px;
        
        &_add {
          font-size: 9px;
        }
        
      }
    }
    
  }
  
  .admin-post-create {
    
  }
  
  .admin-staff-item {
    height: 59px;
    
    &__personal {
      &__name {
        font-size: 12px;
      }
      
      &__email {
        font-size: 10px;
      }
      
      &__img {
        width: 18px;
        height: 18px;
        line-height: 1;
        
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
    
    &__country {
      font-size: 12px;
    }
    
  }
  
  .admin-clients {
    &-item {
      &__personal {
        &__name {
          font-size: 12px;
        }
        &__img {
          height: 18px;
          width: 18px;
          line-height: 1;
          
          & img {
            height: 18px;
            width: 18px;
          }
        }
      }
      
      &__value {
        font-size: 12px;
      }
      
      & .admin-requests-item__btn {
        width: 18px;
        height: 18px;
        line-height: 1;
        & svg {
          height: 18px;
          width: 18px;
        }
        
      }
      
      &__active-time {
        font-size: 12px;
      }
    }
  }
  
  .admin-user-profile {
    
    &__top {
      padding: 20px 30px 50px;
    }
    
    &__bottom {
      padding: 17px 40px;
    }
    
    &__stats {
      font-size: 12px;
    }
    
    &__user-email {
      font-size: 12px;
    }
    
    & .nav-item {
      font-size: 12px;
    }
    
    & .user-operation-card {
      font-size: 12px;
      height: 49px;
      
      &_outgoing {
        & .operation-name {
          font-size: 10px;
          
          & img {
            max-height: 10px;
          }
        }
        
        & .operation-status-img {
          & img {
            transform: scale(0.8)
          }
          & .if-card {
            font-size: 9px;
          }
        } 
      }
      
    }
  }
  
  .admin-order-item {
    & .operation-mail, & .operation-name, & .operation-value, & .operation-status {
      font-size: 12px;
    }
    & .operation-date {
      font-size: 9px;
    }
    
    & .operation-status-img {
      & img {
        transform: scale(0.8);
      }
      & .if-card {
        font-size: 7px;
      }
    }
    
    & .operation-name {
      & img {
        margin-left: -2px;
        transform: scale(0.8)
      }
    }
    
  }
  
  .admin-requests {
    &__select {
      width: 167px;
      
      & .select-items {
        & div {
          font-size: 10px;
          padding: 7px 22px !important;
        }
      }
      
      & .select-selected {
        font-size: 12px;
        margin-bottom: 10px;
        
        &::before {
          background-size: 10px;
        }
        
      }
    }
    
    &-item {
      
      padding: 18px 26px 26px;
      
      &_send {
        padding: 18px 26px 20px;
        
        & .form-group {
          & label {
            font-size: 11px;
          }
          & textarea {
            font-size: 11px;
          }
        }
        
      }
      
      &__btn {
        height: 18px;
        width: 18px;
        
        & svg {
          height: 18px;
          width: 18px;
        }
        
      }
      
      & &__left {
        &__top {
          margin-bottom: 20px;
        }
      }
      
      &__time {
        text-align: right;
        font-size: 9px;
      }
      
      & .admin-staff-item__personal__name {
        margin-right: 29px;
      }
      & p {
        font-size: 11px;
      }
      
      &__section-indicator {
        border-radius: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        
        &__color {
          width: 5px;
          height: 5px;
        }
        
        & span {
          font-size: 8px;
        }
      }
      
      &__right {
        min-width: 52px;
      }
      
    }
  }
  
  .admin-reviews-list {
    & .admin-reviews-item {
      padding: 18px 26px;
      
      &__date {
        font-size: 10px;
        margin-bottom: 12px;
      }
    }
    
    & .admin-requests-item {
      &__left {
        &__top {
          margin-bottom: 4px;
        }
      }
    }
    
  }
  
  
  .admin-setting-item {
    padding: 10px 0;
    &__name {
      font-size: 12px;
    }
    
    &__status {
      & .status {
        font-size: 10px;
      }
    }
  }
  
  .admin-blog {
    
    & [class*="col-"] {
      margin-bottom: 18px;
      
      &:nth-child(odd) {
        padding-right: 9px;
      }
      
      &:nth-child(even) {
        padding-left: 9px;
      }
    }
    
    
    
    &-item {
      
      &__control {
        top: 11px;
      }
      
      &__btn {
        display: inline-block;
        line-height: 1;
        margin-right: 10px;
        & svg {
          height: 18px;
          width: 18px;
        }
      }
      
      padding: 20px;
      &__heading {
        font-size: 16px;
      }

      &__text {
        font-size: 12px;
      }
    }
  }
  
  .admin-edit-card {
    margin-bottom: 14px;
    &__top {
      line-height: 1;
      padding: 16px 40px;
      
      &__heading {
        font-size: 18px;
      }
    }
    
    &__content-block {
      padding: 20px 40px 20px 0;
      &__heading {
        line-height: 1;
        margin-bottom: 14px;
        & h4 {
          font-size: 16px;
        }
      }
      
      &__text {
        font-size: 14px;
      }
      
      &_edit {
        
        & .label {
          font-size: 14px;
        }
        
        & span {
          font-weight: $font-weight-semibold;
        }
        
      }
    }
    
    &__text {
      & .text-content {
        & h3 {
          font-size: 16px;
        }
        
        & p {
          font-size: 14px;
        }
        
        & ul li {
          font-size: 14px;
        }
        
        a {
          font-size: 14px;
        }
      }
    }
  }
  
  
/*-- Admin-End --*/
  

/*-- Topup --*/
  
  .top-up {
    margin-top: 30px;
    &-heading {
      
      & h3 {
        font-size: 24px;
      }
      
      & p {
        font-size: 18px;
        width: 447px;
        margin-left: auto;
        margin-right: auto;
        & br {
          display: none;
        }
        
      }
      
    }
    
    &-main {
      width: 387px;
      
      & .form-check {
        
        margin-top: 20px;
        
        & .form-check-label {
          width: 387px;
          font-size: 15px;
        }
      } 
      
      &__select {
        font-size: 16px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        
        &__top {
          margin-bottom: 14px;
        }
        
        &__img {
          & img {
            margin-right: 20px;
          }
        }
        
        &__edit {
          font-size: 14px;
        }
        
        &_next {
          &__label {
            font-size: 15px;
          }
        }
        
      }
      
      &__blocks{
        margin-right: -13px;
      }
      
      &__block {
        height: 50px;
        width: 88px;
        margin-right: 12px;
        
        &_service-add {
          line-height: 1.3;
          font-size: 11px;
          
          & span {
            font-size: 12px;
          }
          
        }
        
        &_amount {
          height: 60px;
          width: 120px;
          
          &__value-1 {
            font-size: 16px;
          }
          
          &__value-2 {
            font-size: 13px;
            line-height: 1.1;
          }
          
          & span {
            font-size: 14px;
          }
          
        }
        
      }
      
      &__form-group + &__form-group {
        margin-top: 20px;
      }
      
      & .btn {
        margin-top: 40px;
      }
      
      &__alert {
        margin-top: 20px;
      }
      
    }
  }
  
/*-- Topup-End --*/
  
}