@media only screen and (max-width: 767.9px) {
/*-- Main --*/
  
  h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  
  section {
    margin: 100px 0;
  }
  
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .text-content {
    & h3 {
      font-size: 16px;
      margin-bottom: 8px;
      
      & + p {
        margin-top: 8px;
      }
    }
    
    & ul {
      margin-bottom: 14px;
      & li {
        font-size: 14px;
      }
    }
    
    & p {
      font-size: 14px;
      margin-bottom: 14px;
    }
    
    & .mail {
      font-size: 14px;
    }
    
    & h3.collapser {
      &.select-selected {
        font-size: 16px;
        padding: 8px 0;
      }
    }
    
    & .collapse-content {
      margin-top: 14px;
      & h4 {
        margin-bottom: 8px;
        font-size: 16px;
      }
      
      & p {
        font-size: 14px;
        margin-bottom: 14px;
        
        & + ul {
          margin-top: -13px;
        }
      }
      
      
      
      & ul {
        margin-bottom: 14px;
        
        & li {
          font-size: 14px;
        }
      }
    }
  }
  
  
  #fade-wrapper {
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(11, 40, 76, 0.33);
    display: none;

    &.on {
      display: block;
    }

  }
  
/*-- Main-End --*/
  
  
  
/*-- Buttons --*/
  .select-input-btn .btn {
    font-size: 13px;
    min-height: 44px;
    min-width: 100%;
    padding: 12px 20px;
  }
/*-- Buttons-End --*/
  
  
  
/*-- Forms --*/
  
  .select-selected::before {
    background-size: 16px 16px;
  }
  
  
  .form-control-and-form-select {
    margin-right: 0;
    width: 100%;
    margin-bottom: 16px !important;
  
    & input.form-control {
      width: 100%;
    }

    & .form-control-select {
      min-width: 91px;
      font-size: 14px;
      background-size: 12px;
      padding-left: 14px;
      padding-right: 14px;
    }

  }
  
  
  .form-group {
    margin-bottom: 20px;
    & label {
      font-size: 16px;
    }
  }
  
  input.form-control-underline.search {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 30px;
    
    &::placeholder {
      font-size: 12px;
    }
  }
  
  
  .cd-popup {
    padding-left: 12px;
    padding-right: 12px;
    
    & .search {
      & + .text-content {
        margin-top: 6px;
      }
    }
    & form {
      & .btn {
        min-width: 224px;
      }
      
      & .cd-popup-container {
        width: 100%;
      }
      
    }
    
    & .cd-form {
      margin-top: 20px;
      width: 100%;
      max-width: 605px;
      padding: 30px 20px;
      
      & .cd-popup-close {
        margin-top: 3px;
        left: 18px;
        width: 17px;
        height: 17px;
        
        & svg {
          width: 17px;
          height: 17px;
        }
        
      }
      
    }
    
    & .main-heading {
      font-size: 24px;
      margin-bottom: 20px;
      min-width: 305px;
      width: 305px;
      margin-left: auto;
      margin-right: auto;
    }
    
    & .sub-heading {
      font-size: 15px;
      margin-bottom: 30px;
      padding-left: 1px;
      padding-right: 1px;
      min-width: 100%;
      width: 100%;
      
      & br {
        display: none;
      }
    }
    
    &-container {
      width: 386px;
      
      &-fw {
        width: 100%;
      }
      
    }
    
    & form .form-group .custom-select .select-selected.placeholder {
      font-size: 14px;
    }
    
    & form .form-group .custom-select .select-selected {
      padding: 10px 0;
      font-size: 14px;
    }
    
    & form {
      & .form-group {
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
        & input.form-control-underline {
          min-height: 30px;
          font-size: 15px;
        }
        
        & .custom-select {
          & .select-items {
            & input.search {
              padding: 9px 24px;
            }
            & div {
              padding: 9px 24px;
              font-size: 16px;
            }
          }
        }
      }
    }
    
    &.semi-automatic {
       pointer-events: none;

      & .cd-form {
        pointer-events: all;
       }

      & .main-heading {
        margin-bottom: 20px;
      }

      & .text-content {
        width: 100%;
      }

      & p {
        font-size: 14px;
        margin-bottom: 80px;
      }

      & img {
        width: 100%;
        height: 197px;
        margin-bottom: 100px;
      }

      & .btn {
        margin-left: auto;
        margin-right: auto;
        pointer-events: all;
        min-width: 224px;
      }
    }
    
  }
  
  .login-register-form {
    width: 95%;
    height: auto;
    min-height: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px 30px;
    
    & .sub-heading {
      font-size: 15px;
      margin-bottom: 30px;
    }
    
    & form {
      width: 100%;
    }
    
    & .small {
      font-size: 14px;
    }
    
    & .btn {
      height: 60px;
      margin-top: 30px;
    }
    
    & .form-check {
      margin-bottom: 50px;
    }
    
  }
  
  .form-check .checkbox + .form-check-label {
    width: 100%;
  }
  
/*-- Forms-End --*/
  
/*-- Navbar --*/
  
  .navbar {
    min-height: 60px;
    
    & .mobile-side-navbar {
      overflow-y: scroll;
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      z-index: 1000;
      background-color: $color-white;
      @include transition;
      
      & .menu-img {
        float: right;
        margin-top: 70px;
        max-width: 50%;
        
        & img {
          
          height: 437px;
          object-fit: contain;
        }
        
      }
      
      & .menu-nav {
        margin-top: 60px;
        width: 45%;
        float: left;
        
        & .nav-link {
          text-transform: uppercase;
          margin-bottom: 14px;
          line-height: 1.8;
          padding: 4px 0px 4px 30px;
          font-size: 13px;
          font-weight: $font-weight-semibold;
          
          &.active, &:hover:after, &:hover {
            color: $color-highlight;
            border-left: solid 2px $color-highlight;
          }
        }
      }
      
      &_open {
        left: 0;
      }
      
      &__top {
        padding: 20px 30px 0;
        min-height: 45px;
        line-height: 1;
        
        & .nav-item {
          margin-left: auto;
          width: 80%;
          list-style: none;
          text-align: right;
          line-height: 1;
          
          & .nav-link {
            
            padding-bottom: 0;
          }
          
          &.lang {
            
            & .nav-link {
              font-weight: $font-weight-semibold;
              font-size: 18px;
              padding-right: 0;
              padding-top: 0;
              color: $color-highlight;
              text-transform: uppercase;

              &.active, &:hover {
                &:after {
                  border-color: transparent;
                }

              }

              & img {
                margin-top: -3px;
                height: 9px;
                margin-left: 13px;
              }

            }

            & .lang-menu {
              text-align: left;
              margin-left: 68px;
              z-index: 2;
              margin-top: 7px;
              position: absolute;
              max-height: 141px;
              border-radius: 2px;
              box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.12);
              background-color: #ffffff;
              border: solid 1px $color-gray;
              overflow-y: scroll;
              -webkit-overflow-scrolling: touch;

              & .lang-item {
                width: 180px;

                cursor: pointer;

                &.active {
                  position: relative;

                  &:after {
                    position: absolute;
                    top: 5px;
                    right: 13px;
                    display: block;
                    content: url('../images/svg/done.svg');
                    height: 20px;
                    width: 20px;
                  }

                }

                &.active, &:hover {
                  background-color: $color-lightgray;
                }

                & a {
                  display: block;
                  padding: 6px 22px 6px 18px;
                  font: {
                    size: 13px;
                    weight: $font-weight-regular;
                  }
                  color: $color-primary;

                  & img {
                    margin-right: 20px;
                  }
                }

              }

              @include custom-scroll;

            }

          }
          
          &.nav-item-user-menu {
            -webkit-box-pack: end !important;
            -ms-flex-pack: end !important;
            justify-content: flex-end !important;
            
            & .img-user-small {
              margin-right: 10px;
              display: block;
              width: 24px;
              height: 24px;

              & img {
                object-fit: cover;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                border: solid 1px $color-gray;
              }

            }

            & .nav-link {
              font-size: 12px;
              padding-left: 0;
              padding-right: 0!important;
              color: $color-secondary;
              text-transform: none!important;
              padding-top: 6px;

              &.active, &:hover {
                &:after {
                  border-color: transparent;
                }

              }

              & img {
                height: 6px;
                margin-left: 16px;
              }

            }

            & .user-menu {
              text-align: left;
              z-index: 2;
              margin-left: 0;
              margin-top: 30px;
              position: absolute;
              max-height: 141px;
              border-radius: 2px;
              box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.12);
              background-color: #ffffff;
              border: solid 1px $color-gray;
              overflow-y: hidden;
              -webkit-overflow-scrolling: touch;

              .collapse-content {
                margin: 14px 0;
                text-align: left;
              }

              & .menu-item {
                width: 180px;
                cursor: pointer;
                margin-bottom: 8px;

                &.log-out a {
                  color: $color-secondary;
                }

                &:last-of-type {
                  margin-bottom: 0;
                }

                &.active {
                  position: relative;
                }

                &.active, &:hover {
                  background-color: $color-lightgray;
                }

                & a {
                  display: block;
                  padding: 6px 22px 6px 18px;
                  font: {
                    size: 13px;
                    weight: $font-weight-regular;
                  }
                  color: $color-primary;

                  & img {
                    margin-right: 20px;
                  }
                }

              }

              @include custom-scroll;
          }
          }
          
        }
        
      }
      
    }
    
    &.navbar-user {
      
        & .navbar-nav.user-nav-country {
          & .nav-item-user-menu.lang {
            position: relative;
            
            & .nav-link {
              padding: 20px 15px;
              
              & img {
                margin-left: 18px;
              }
            }
            
            & .nav-item-user-menu__country {
              display: none;

              &_mobile {
                display: inline-block;
                height: 18px;
                width: 36px;
                
                & img {
                  margin-left: 0!important;
                  height: 18px !important;
                  width: 36px !important;
                  object-fit: cover;
                }
                
              }

            }
          & .user-menu {
            margin-left: 0;
            margin-top: 0;
            right: 0;
            top: 50px;
          }
        }
      }
      
    }
    
    & .user-nav-country {
      margin-left: auto;
    }
    
    & .container {
      padding-left: 30px;
      padding-right: 30px;
    }
    
    & .navbar-toggler {
      display: none;
    }
    
    & .navbar-mobile-toggler {
      display: block;
      z-index: 1001;
    }
    
    & .navbar-collapse {
      display: none;
    }
    
    & .mobile-nav-btns {
      & .btn {
        min-width: 80px;
        font-size: 12px;
      }
    }
    
    & .navbar-brand {
      display: none;
    }
    
    &.user-submenu {
      min-height: 45px;
      & .navbar-collapse {
        overflow-x: hidden;
      }
      
      &_services {
        & .container {
          padding-left: 0!important;
          padding-right: 0!important;
        }
        & .navbar-nav {
          & .nav-item {
            &:first-of-type {
              padding-left: 15px;
            }
            &:last-of-type {
              padding-right: 15px;
            }
          }
        }
      }
      & .navbar-nav {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        
        & .nav-item {
          white-space: nowrap; 
          
          & .nav-link {
            padding-top: 14px;
            padding-bottom: 14px;
            
            &::after {
              border-width: 4px;
            }
            
          }

        }
        
        &.balance-menu {
          width: 100%;
          padding: 0 30px;
          margin-left: 0 !important;
          
          & .balance {
            font-size: 12px;
            margin-left: 0px;
            padding-top: 7px;
          }
          
          & .nav-item {
            margin-left: 0;
            margin-right: 0;
            
            &.mobile-balance-btn {
              margin-left: auto;
            }
          }
          
          & .btn {
            margin-left: auto;
            padding: 7px 10px;
            width: 112px;
            font-size: 12px;
            height: 30px;
            min-height: 30px;
          }
        }
        
      }
    }
  }
  
  
/*-- Navbar-End --*/

/*-- Index --*/
  .masthead {
    margin-bottom: 35px;
    padding-bottom: 35px;
    margin-top: -80px;


    &-top {
      margin-top: 80px;
      width: auto;
    }
    
    & h1 {
      width: 80%;
    }

  }
  
  .top-up-your-balance {
    text-align: center;
    
    & p {
      margin-top: 8px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 186px;
      
    }
    
    & img + h3 {
      margin-top: 16px;
    }
    
    & h3 {
      margin-bottom: 8px;
    }
    
  }
  
  .products-for {
    & h2 {
      width: 186px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    
    & .nav-tabs {
      margin-top: 30px;
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: 30px;
      padding-right: 30px;
      padding-left: 30px;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-y: hidden;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      
      & .nav-item {
        white-space: nowrap;
        margin-right: 47px;
        
        &:last-of-type {
          margin-right: 0;
          padding-right: 30px;
        }
        
      }
      
    }
    
  }
  
  .tabs-switch {
    text-align: center;
    transform: scale(1);
  }
  
  .services {
    & .service-card {
      width: 104px;
      height: 104px;
      margin-left: -1px;
      margin-bottom: -1px;
      padding: 0 8px;
      
      &_add {
        margin-left: -1px !important;
      }
    }
  }
  
  .reviews {
    & h2 {
      text-align: center;
    }
    & .row {
      margin-right: -15px;
    }
    
    & [class*="col-"]:last-of-type {
      padding-right: 15px;
    }
  }
  
  .payment-methods {
    padding: 60px 0;
    
    & h2 {
      text-align: center;
    }
    
    & .payment--cards {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -10px;
      
      & .payment-card {
        margin-right: 7px;
        margin-left: 7px;
        margin-bottom: 10px;
      }
      
    }
    
  }
  
  .how-it-works {
    & h2 {
      text-align: center;
    }
    
    & .row {
      & [class*="col-"] {
        margin-bottom: 30px;
        
        &:last-of-type {
          margin-bottom: 0;
        }
        
      }
    }
    
    & .feature-card {
      min-height: 300px;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      padding: 30px 40px 20px 30px;
      
      & p {
        margin-bottom: 0;
      }
      
      & .center-heading {
        margin-bottom: 8px;
      }
      
    }
  }
  
  .cta-section {
    & h2 {
      text-align: center;
    }
  }
  
  .footer-index {
    & ul {
      width: 45%;
      margin-bottom: 16px;
    }
    
    & .socials {
      margin-top: 14px;
    }
  }
  
  .subpage {
    padding-top: 20px;
    padding-bottom: 30px;
    
    & .main-heading {
      font-size: 18px;
      margin-bottom: 12px;
    }
    
    & .sub-heading {
      font-size: 14px;
      min-width: 100%;
      & br {
        display: none;
      }
    }
    
    & .review-card {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 14px;
    }
    
  }
  
  .country-select {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .blog {
    padding: 0 10px;
  }
  
  .blog-card {
    margin-bottom: 16px;
  }
  
  .blog-card_content p {
    max-height: 65px;
  }
  
  .maintenance {
    overflow: hidden;
    margin-top: 38px;
    
    & img {
      margin-top: 55px;
      width: 100%;
      transform: scale(1.2);
    }
    & form {
      margin-top: 43px;
      margin-bottom: 0;
      width: 100%;
      
      & .form-group {
        & input.form-control {
          width: 100%;
          height: 50px;
          margin-bottom: 10px;
          font-size: 14px;
          
          &::placeholder {
            font-size: 14px;
          }
          
        }
      }
      
      & .btn {
        font-size: 14px;
        height: 50px;
        width: 100%;
        margin-left: 0;
      }
      
    }
    
    & h2 {
      margin-bottom: 16px;
    }
    
    & p br {
      display: none;
    }
    
  }
  
/*-- Index-End --*/
  
  
  
/*-- User --*/
  
  .user-panel-section {
    & .user-services {
      & .services {
        & .service-card {
          &_add {
            margin-left: -1px !important;
          }
        }
      }
    }
    
    & .no-service-available {
      margin-bottom: 50px;
      & .section-title {
        margin-bottom: 30px;
      }
      & p {
        & br {
          display: none;
        }
      }
    }
    
    & .user-history {
      margin-left: -20px;
      margin-right: -20px;
      
      & a.more, & .gradient-more {
        display: none;
      }
      
      & .user-operation-card {
        margin-bottom: 8px;
        font-size: 14px;
        padding-left: 24px;
        
        & .operation-status-img {
          margin-right: 8%;
        }
        
        & .operation-mobile-status {
          
          & .operation-name {
            width: 100%;
          }
          
          width: 35%;
        }
        
        & .operation-mobile-value {
          
          & .operation-value {
            width: 100%;
          }
          
          width: 45%;
        }
        
        &_outgoing {
          padding-left: 20px;
          padding-right: 20px;
          & .operation-name {
            & span {
              display: none !important;
            }
          }
          
          & .operation-status-img {
            margin-right: 10%;
          }
          
          & .operation-mobile-status {
            width: 54%;
            margin-right: 4%;
            & .operation-status {
              width: 100%;
            }
          }
          
          & .operation-mobile-value {
            width: 22%;
            & .operation-value {
              width: 100%;
            }
            & .operation-date {
              text-align: left;
              width: 100%;
            }
          }
          
        }
        
      }
    }
    
    & .user-account {
      width: 286px;
      
      & .custom-select {
        & .select-selected {
          padding: 10px 0;
          min-height: 40px;
          font-size: 14px;
        }
        
        & .select-items {
          & div {
            font-size: 16px;
            padding: 9px 24px;
          }
        }
      }
      
      & form {
      
        & .form-group {
          margin-bottom: 20px;
          & input.form-control-underline {
            font-size: 14px;
            min-height: 40px;
          }
          & .show-hide-pass {
            top: 6px;
          }
        } 

        
      }
      & .btn {
        padding: 16px 20px;
        width: 190px;
        min-width: 190px;
        font-size: 14px;
        min-height: 50px;
        margin-top: 30px;
      }
    }
  }
  
/*-- User-End --*/
  
/*-- Top up Balance --*/
  
  .top-up {
    margin-top: 18px;
    
    &-heading {
      & p {
        max-width: 320px;
        & br {
          display: none;
        }
        
      }
    }
    
    &-main {
      width: 315px;
      
      &__block {
        margin-right: 8px;
        width: 100px;
        
        &_amount {
          &__value-1 {
            font-size: 14px;
          }
          &__value-2 {
            font-size: 12px;
          }
        }
      }
      
      & .btn {
        margin-top: 30px;
        padding: 15px 30px;
        font-size: 14px;
        min-height: 50px;
        width: 190px;
        min-width: 190px;
      }
      
    }
    
  }
  
  .top-up-my-account {
    width: 315px;
    margin-top: 30px;
    margin-bottom: 30px;

    & .section-heading {
      font-size: 24px;
      margin-bottom: 30px;
    }

    &__balance {
      margin-bottom: 30px;
      padding-bottom: 14px;
      font-size: 16px;
      
      & .label {

      }

      & .balance {
        font-size: 16px;
      }
    }

    &__form {
      & .qr-code {
        height: 224px;
        width: 224px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        
        & img {
          height: 224px;
          width: 224px;
        }
      }

      & .form-group {
        & .form-control {
          margin-bottom: 10px;
          padding: 10px 20px 10px;
          height: 40px;
          min-height: 40px;
          font-size: 13px;

          &::placeholder {
            font-size: 13px;
          }

        }
      }

      & p {
        width: 80%;
        text-align: center;
        line-height: 1.3;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
      }

      & .btn {
        padding: 15px 15px;
        margin-top: 30px;
        min-width: 190px;
        min-height: 50px;
        font-size: 14px;
      }
    }
  }
  
/*-- Top up Balance - End --*/
}