.top-up {
  margin-top: 27px;
  margin-bottom: 60px;
  
  &-heading {
    
    margin-bottom: 50px;
    
    & h3 {
      font-size: 26px;
      margin-bottom: 16px;
    }

    & p {
      font-size: 19px;
      margin-bottom: 0;
    }
    
    & h3 + p {
      margin-top: 16px;
    }
  }
  
  &-main {
    width: 536px;
    
    & .btn {
      margin-top: 30px;
    }
    
    &__select {
      
      &__top {
        margin-bottom: 16px;
      }
      
      border-bottom: solid 2px $color-gray;
      padding-bottom: 25px;
      margin-bottom: 25px;
      font-size: 22px;
      font-weight: $font-weight-semibold;
      
      &__edit {
        font-size: 20px;
        color: $color-highlight;
      }
      
      &_next {
        &__label {
          font-size: 19px;
          color: $color-secondary;
          margin-bottom: 16px;
        }
        
        
      }
      
      &__phone {
        
      }
      
      &__img {
        & img {
          width: 41px;
          height: 21px;
          margin-right: 34px;
          object-fit: contain;
        }
      }
      
    }
    
    &__block {
      margin-bottom: 14px;
      cursor: pointer;
      height: 70px;
      width: 126px;
      border-radius: 2px;
      border: solid 1px $color-gray;
      margin-right: 8px;
      text-align: center;
      @include transition;
      
      &:hover, &.active {
        box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.23);
        
      }
      
      & img {
        width: 70%;
        height: 50%;
        object-fit: contain;
      }
      
      &_service-add {
        font-size: 13px;
        font-weight: $font-weight-semibold;
        color: $color-secondary;
        
        & span {
          font-size: 17px;
          font-weight: $font-weight-semibold;
          color: $color-highlight;
        }
      }
      
      &_amount {
        
        color: $color-secondary;
        
        &:hover, &.active {
          color: $color-primary;
        }
        
        &__value-1 {
          font-size: 20px;
        }
        
        &__value-2 {
          font-size: 15px;
        }
        
        &.top-up-main__block_service-add {
          color: $color-highlight;
          font-size: 16px;
        }
        
      }
      
    }
    
    &__form-group {
      margin-bottom: 0px !important;
      
      & + & {
        margin-top: 24px !important;
      }
      
      & label {
        font-size: 19px;
        color: $color-secondary;
        font-weight: $font-weight-regular!important;
      }
      
      & .form-control-underline {
        outline: none;
        font-size: 20px;
        border-bottom-width: 2px;
        
        &::placeholder {
          font-size: 20px;
          color: $color-secondary;
        }
        
      }
    }
    
    &__alert {
      font-size: 16px;
      color: $color-secondary;
      margin-top: 14px;
    }
    
  }
  
}

.top-up-my-account {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 565px;
  margin-left: auto;
  margin-right: auto;
  
  & .section-heading {
    font-size: 26px;
    font-weight: $font-weight-semibold;
    text-align: center;
    margin-bottom: 50px;
  }
  
  &__balance {
    margin-bottom: 50px;
    padding-bottom: 27px;
    border-bottom: solid 1px $color-gray;
    font-size: 17px;
    font-weight: $font-weight-semibold;
    & .label {
      
    }
    
    & .balance {
      color: $color-highlight;
    }
  }
  
  &__form {
    & .qr-code {
      height: 130px;
      width: 130px;
      margin-right: 20px;
      & img {
        height: 130px;
        width: 130px;
      }
    }
    
    & .form-group {
      & .form-control {
        padding: 19px 20px;
        height: 62px;
        font-size: 18px;
        
        &::placeholder {
          font-size: 18px;
        }
        
      }
    }
    
    & p {
      font-size: 18px;
      margin-bottom: 0;
    }
    
    & .btn {
      margin-top: 50px;
    }
  }
}