.user-panel-section {
  
  & .section-title {
    font-size: 26px;
    color: $color-primary;
  }
  
  & .user-services {
    margin-top: 37px;
    
    & .section-title {
      margin-bottom: 50px;
    }

    & .services {

      & .service-card_add {
        margin-left: 28px !important;
      }

    }

  }
  
  & .no-service-available {
    margin-top: 50px;
    
    & .section-title {
      margin-bottom: 30px;
    }
    
    & .btn {
      margin-top: 50px;
    }
    
    & p + img {
      margin-top: 70px;
    }
    
  }
  
  & .user-account {
    width: 565px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    
    & .section-title {
      margin-bottom: 70px;
    }
    
    & .user-account-image {
      
      margin-bottom: 40px;
      
      & a {
        margin-top: 10px;
        display: inline-block;
        
        &::after {
          display: none;
        }
        
      }
    
      & .img-user-big {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
        height: 130px;

        & input, & img {
          object-fit: cover;
          object-position: center;
          width: 130px;
          height: 130px;
          border-radius: 100%;
          border: solid 1px $color-gray;
          pointer-events: none;
        }

      }
      
    }

    & form {

      & .form-group {
        margin-bottom: 30px;
        
        &:last-of-type {
          margin-bottom: 0;
        }
        
      }

    }

    & .btn {
      margin-top: 50px;
    }
    
  }
  
  & .user-history {
    position: relative;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-left: 78px;
    padding-right: 78px;
    
    & .user-operation-card {
      padding: 0 5.4%;
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
      height: 86px;
      border-radius: 4px;
      border: solid 1px $color-gray;
      font-size: 20px;
      
      &:last-of-type {
        margin-bottom: 0;
      }
      
      & .operation-status-img {
        height: 23px;
        width: 23px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10%;
      }
      
      & .operation-name {
        width: 19%;
        margin-right: 2%;
      }
      
      & .operation-value {
        width: 28%;
      }
      
      & .operation-date {
        margin-right: 9%;
      }
      
      & .operation-status {
        min-width: 10%;
      }
      
    }
    
    & .user-operation-card_confirmed {
      
      & .operation-status-img {
        background-image: url(../images/svg/incoming-icon.svg);
      }
      
      & .operation-value {
        color: $color-highlight;
        font-weight: $font-weight-semibold;
      }
      
    }
    
    & .user-operation-card_pending {
      
      color: $color-secondary;
      font-weight: $font-weight-semibold;
      
      & .operation-status-img {
        background-image: url(../images/svg/incoming-icon-grey.svg);
      }
      
    }
    
    & .user-operation-card_cancelled {
      
      
      & .operation-status-img {
        height: 18px;
        width: 18px;
        background-image: url(../images/svg/cancelled-icon.svg);
      }
      
      & .operation-status {
        color: #ea1d3c;
      }
      
      & .operation-name {
        color: $color-secondary;
        font-weight: $font-weight-semibold;
      }
      
      & .operation-value {
        color: $color-secondary;
        font-weight: $font-weight-semibold;
      }
      
      & .operation-date {
        color: $color-secondary;
        font-weight: $font-weight-semibold;
      }
      
    }
    
    & .user-operation-card_outgoing {
      padding: 0 40px;
      
      & .operation-status-img {
        width: 40px;
        height: 40px;
        margin-right: 5%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          width: 100%;
          max-height: 40px;
          object-fit: contain;
          object-position: center center;
        }
        
        .if-card {
          margin-top: 5px;
          text-align: center;
          min-width: 55px;
          font-size: 12px;
          color: $color-secondary;
          display: block;
        }
        
      }
      
      & .operation-name {
        color: $color-primary;
        width: 17%;
        margin-right: 0;
        height: 60%;
        
        & img {
          display: block;
          object-fit: contain;
        }
        
      }
      
            
      & .operation-status {
        width: 38%;
        margin-right: 0;
      }
      
      & .operation-value {
        width: 13%;
        margin-right: 0;
        color: $color-highlight;
        font-weight: $font-weight-semibold;
      }
      
      & .operation-date {
        text-align: right;
        margin-right: 0;
        min-width: 10%;
        color: $color-secondary;
        font-weight: $font-weight-semibold;
      }

      
    }
    
    & a.more {
      display: inline-block;
      margin-top: 10px;  
      font-size: 20px;
      &::after {
        display: none;
      }
    }
    
    & .gradient-more {
      pointer-events: none;
      left: 0;
      bottom: 55px;
      width: 100%;
      height: 180px;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
      
    }
    
  }
  
}
