* {
  letter-spacing: -0.1px;
}
body {
	font-family: $font-family-regular;
    color: $color-primary;
}

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.section-title {
	font-family: $font-family-regular;
	font-weight: $font-weight-semibold;
}

h1, .h1 {
	font-size: $font-size-xx-large;
}

h2, .h2 {
	font-size: $font-size-x-large;
  	margin-bottom: $indent-xx-large;
}

h3, .h3 {
	font-size: $font-size-large;
    margin-bottom: $indent-small;
}

h4, .h4 {
	font-size: $font-size-medium;
}

.main-heading {
  font-size: 26px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: $font-weight-semibold;
}

.sub-heading {
  min-width: 550px;
  font-size: 19px;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subpage {
  padding-top: ($font-size-xx-large -(10px));
  padding-bottom: $font-size-xx-large;
}

img + h3 {
    margin-top: 26px;
}

h3 + p {
    margin-top: $indent-small;
}

p {
	font-size: $font-size-default;
	line-height: $line-height-default;
}

a.more {
    font-size: $font-size-small;
    color: $color-highlight;
    font-weight: $font-weight-semibold;
    
    &::after {
        display: inline-block;
        margin-left: 10px;
        content: '';
        background-image: url(../images/svg/right-arrow.svg);
        height: 11px;
        width: 11px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.text-content {
  
  & h3 {
    margin-bottom: 16px;
    font-size: 26px;
  }
  
  & h3 + p {
    margin-top: 16px;
  }
  
  & p + p {
    margin-top: -8px;
  }
  
  & ul p {
    margin-bottom: 0
  }
  
  & h4 {
    font-size: 22px;
    font-weight: $font-weight-semibold;
  }
  
  & p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  & .mail {
    font-weight: $font-weight-semibold;
    font-size: 20px;
    color: $color-highlight;
  }
  
  & p + ul {
    margin-top: -20px;
  }
  & .collapsing ul {
    margin-bottom: 0;
  }
  & ul {
    margin-bottom: 20px;
    
    & li {
      font-size: 20px;
      margin-left: 15px;
      
      &:before {
        content: '–';
        position: absolute;
        margin-left: -15px;
      }
      
    }
    
  }
  
  & h3.collapser.select-selected {
    padding: 15px 0;
    background-position: center right 1px;
    border-bottom: 1px solid $color-gray;
    margin-bottom: 0;
    margin-top: 9px;
    
    &:first-of-type {
      margin-top: 0;
    }
    
  }
  
  & .collapse-content {
    
    
    margin-top: 24px;
      
    & h4 {
      margin-bottom: 16px;
    }

    & p {

      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }

    }

    & ul {
      margin-bottom: 24px;
    }
      
  }
  
  & .collapse {
    margin-bottom: 0; 
  }
  
  & .collapsing {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
}

section {
    margin: $indent-xxx-large 0;
}

.section {
	padding: $indent-xxx-large 0;
}

.section-sm {
    
}

.m-top-0 {
    margin-top: 0;
}

.m-bottom-0 {
    margin-bottom: 0;
}

.lead {
	font-size: $font-size-large;
	margin-bottom: $indent-large;
	font-weight: $font-weight-semibold;
	color: $color-primary;
}

.title {
	margin-top: 0;
	margin-bottom: $indent-large;
}

.section-title {
    font-size: $font-size-large;
    color: $color-primary;
}

strong, b {
	font-weight: $font-weight-bold;
	color: $color-primary;
}

a {

	color: $color-secondary;
	text-decoration: none;

	&:hover {
		color: $color-highlight;
        text-decoration: none;
	}

	&:focus {
		color: $color-highlight;
        text-decoration: none;
	}

	&.link-more {

		font-size: $font-size-default;
		color: $color-darkgray;
		text-transform: uppercase;
		margin-bottom: $indent-default;
		display: inline-block;
		text-decoration: none;
		font-weight: $font-weight-bold;
		letter-spacing: $letter-spacing-default;
		transition: $transition-default;

		&:hover {
			color: $color-highlight;
		}

		&:focus {
			color: $color-highlight-focus;
		}

	}
	
}

ul {
    list-style: none;
    padding: 0;
}

@media (min-width: 1440px) {
    .container {
      max-width: 1290px;
    }
}
