.btn {
  min-height: 68px;
  min-width: 224px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 18px 40px;
  font: {
    size: 22px;
    weight: $font-weight-semibold;
  }
  line-height: 1.3;
  border-radius: 2px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  
  &:focus, :focus-within, :active {
    outline: none;
    box-shadow: none;
  }
}

.btn-default {
  border: 1px solid $color-highlight;
  background-color: $color-highlight;
  color: $color-white;
  
  &:hover, &:focus {
    border-color: #0d73d2;
    background-color: #0d73d2;
    color: $color-white;
  }
}

.btn-disabled {
  border: solid 1px $color-gray;
  background-color: #ffffff;
  color: $color-gray;
  
  &:hover {
    background-color: #f2f4f6;
    color: $color-secondary;
  }
}

.btn-secondary {
  border: 1px solid $color-highlight;
  background-color: $color-white;
  color: $color-highlight;
  
  &:hover, &:focus, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled):focus {
    background-color: #f1f7ff;
    color: $color-highlight;
    border: 1px solid $color-highlight;
    box-shadow: none;
  }
  
}



.btn-share {
  cursor: pointer;
  display: block;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 #88919b43;
  background-image: url(../images/svg/share.svg);
  background-color: #ffffff;
  
  & .social-share {
    pointer-events: none;
    position: absolute;
    margin-left: 6px;
    margin-top: 6px;
    z-index: 1;
    opacity: 0;
    background-color: #ffffff;
    border-radius: 100%;
    
    &#shareSocial1 {

    }
    
  }
   
}

.btn-share-block {
  position: relative;
  
  &.on {
    z-index: 3000;
    
    & .btn-share {
      z-index: 3000;
      
      & .social-share {
        z-index: 3000;
      }
      
    }
    
  }
  
}

.switch-btn {
  display: inline-block;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 #79879b2e;
  background-color: #ffffff;
  border: solid 1px $color-gray;
  cursor: pointer;
  pointer-events: all;
  
  &_left {
    background-image: url(../images/svg/switch-left.svg);
    background-position: -3px -2px;
    margin-right: 44px;
  }
  
  &_right {
    background-image: url(../images/svg/switch-right.svg);
    background-position: -1px -2px;
  }
  
}

.navbar-mobile-toggler {
  margin-top: 3px;
  width: 32px;
  height: 22px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navbar-mobile-toggler span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $color-highlight;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

.navbar-mobile-toggler span:nth-child(1) {
  top: 0px;
}

.navbar-mobile-toggler span:nth-child(2),.navbar-mobile-toggler span:nth-child(3) {
  top: 9px;
}

.navbar-mobile-toggler span:nth-child(4) {
  top: 18px;
}

.navbar-mobile-toggler.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-mobile-toggler.open span:nth-child(2) {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

.navbar-mobile-toggler.open span:nth-child(3) {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.navbar-mobile-toggler.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}