input::-ms-clear, input::-ms-reveal {
    display: none;
}

input:read-only {
  background-color: inherit!important;
  opacity: inherit;
  
  &:hover, &:focus {
    opacity: inherit;
  }
  
}

input[type="search"]:focus {
  outline: none;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(11, 40, 76, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow-y: auto;
  z-index: 10000;
  
  &.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
  
  &-container {
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    border-radius: 0;
    text-align: left;
    box-shadow: none;
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 565px;
  }
  
  &-container-fw {
    width: 100%;
  }
  
  & .cd-form {
    position: relative;
    background: #ffffff !important;
    height: auto;
    max-width: 1060px;
    width: 100%;
    margin: 26px auto 100px;
    padding: 30px 70px;
    border-radius: 6px;
    border: solid 1px #d0d8e2;
    
    & .cd-popup-close {
      position: absolute;
      top: 30px;
      left: 70px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.3s ease;
      z-index: 30;
      
      & svg {
        height: 30px;
        width: 30px;
        z-index: 0;
        pointer-events: none;
      }
      
    }
    
  }
  
   &.semi-automatic {
     pointer-events: none;
     
    & .cd-form {
      pointer-events: all;
     }
     
    & .main-heading {
      margin-bottom: 20px;
    }

    & .text-content {
      text-align: center;
      width: 620px;
      margin-left: auto;
      margin-right: auto;
    }

    & p {
      font-size: 18px;
      text-align: center;
      margin-bottom: 60px;
    }

    & img {
      display: block;
      width: 573px;
      height: 327px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 65px;
    }

    & .btn {
      margin-left: auto;
      margin-right: auto;
      pointer-events: all;
    }
  }
  
  & .main-heading {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  & .sub-heading {
    font-size: 20px;
  }
  
  & form {
    & .btn {
      min-width: 324px;
      margin-top: 20px;
    }
  
    & .form-group {
      margin-bottom: 24px;
      
      & .custom-select {
        
        & .select-selected {
          padding-right: 0;
          padding: 15px 0;
          color: $color-primary;
          font-size: 19px;
          font-weight: normal;
          
          &.placeholder {
            color: $color-secondary;
            font-size: 19px;
            font-weight: normal;
          }
          
        }
        
        & .select-items {
          max-height: 250px;
          z-index: 1099;
          overflow-y: scroll;
          
          @include custom-scroll;
        
          & div {
            padding: 9px 32px;
            font-size: 22px;
            line-height: normal;
            @include transition;
          }
          
          & input.search {
            padding: 9px 32px;
            border: none;
            width: 100%;
            
            &::placeholder {
              font-size: 16px;
              color: $color-secondary;
            }
            
          }
          
        }
        
      }

    }
    
  }
  
  & .search + .text-content {
    margin-top: 15px;
  }
  
}

.user-panel-section {
  
  & .custom-select {
    
    & .select-selected {
      padding-right: 0;
      padding: 15px 0;
      color: $color-primary;
      font-size: 19px;
      font-weight: normal;

      &.placeholder {
        color: $color-secondary;
        font-size: 19px;
        font-weight: normal;
      }

    }

    & .select-items {
      max-height: 250px;
      z-index: 1099;
      overflow-y: scroll;

      @include custom-scroll;

      & div {
        padding: 9px 32px;
        font-size: 22px;
        line-height: normal;
        @include transition;
      }

    }

  }
}

.custom-select {
  position: relative;
}
.custom-select select {
  display: none;
}
.select-selected {
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-bottom: solid 1px $color-gray;
  border-radius: 0;
  font-size: 16px;
  color: $color-primary;
  font-weight: $font-weight-semibold;
  padding-left: 0;
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background-image: url(../images/svg/gray-down-arrow.svg);
    background-position: center right 0;
    background-size: 22px 22px;
    background-repeat: no-repeat;
  }
  
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: $color-primary;
  cursor: pointer;
}

.select-items div {
  padding: 11px 31px;
  font-size: 14px;
  line-height: normal;
  @include transition;
  
  &.same-as-selected {
    margin: 0;
    padding: 11px 31px;
    position: relative;

    &:after {
      position: absolute;
      top: 9px;
      right: 13px;
      display: block;
      content: url('../images/svg/done.svg');
      height: 20px;
      width: 20px;
    }

  }
}

.select-selected {
  padding: 10px 0;
}

.select-items {
  margin-top: -3px;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.12);
  border: solid 1px #d0d8e2;
  background-color: #ffffff;
  border-radius: 2px;
}

.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(208, 216, 226, 0.12);
}


.country-select {
  width: 474px;
  
  & label {
    font-size: 14px;
    color: $color-secondary;
    margin-bottom: 0;
  }
  
}


.form-control {
  border-radius: 2px;
  background-color: $color-white;
  border: solid 1px $color-gray;
  min-height: 68px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  
  &::placeholder {
    color: $color-secondary;
    font-size: 20px;
  }
  
  &.form-control-select {
    color: $color-secondary;
    background-image: url(../images/svg/gray-down-arrow.svg);
    background-position: center right 20px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  &:focus {
    color: #495057;
    border-color: $color-gray;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
}

.form-control-and-form-select {
  
  & input.form-control {
    width: 320px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  & .form-control-select {
    width: 120px;
    float: left;
    display: inline-block;
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
}

input.form-control-underline {
  width: 100%;
  font-size: 19px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px $color-gray;
  min-height: 56px;
  padding: 13px 0;

  &::placeholder {
    font-size: 19px;
  }

  &_pass {
    z-index: 0!important;
    padding-right: 50px;
  }

  &:focus, &:active {
    border-color: #94a6bc;
    background-color: transparent;
  }

}

input.search {
  padding: 16px 0;
}

.form-group {
  margin-bottom: 38px;

  &:last-of-type {
    margin-bottom: 0;
  }

  & label {
    font-size: 19px;
    font-weight: $font-weight-semibold ;
    margin-bottom: 0;
  }
  
  & input {
    color: $color-primary;
  }

  & .show-hide-pass {
    display: none;
    position: absolute;
    right: 0;
    top: 5px;

    & img.hide-pass-eye {
      opacity: 0.4;
    }

  }

  & a.f-pass {
    margin-top: 28px;
    display: inline-block;
  }

}

.login-register-form {
  padding: 43px 112px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 789px;
  height: 778px;
  border-radius: 6px;
  border: solid 1px $color-gray;
  background-color: #d8dfe60f;
  
  & .small {
    display: block;
    color: $color-secondary;
    font-size: 19px;
  }
  
  & .btn {
    margin-top: 50px;
    min-width: 324px;
    margin-bottom: 20px;
  }
  
  & .cr-acc {
    pointer-events: none;
    
    & span {
      color: $color-primary;
      pointer-events: all;
    }
    
  }
  
  & .form-check {
    margin-top: 38px;
    padding-left: 0;

  }
  
}

.form-check {
  margin-top: 38px;
  padding-left: 0;

  .form-check-label {
    font-size: 16px;
    color: $color-secondary;
  }
  .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 27px;
    &:hover, &:focus, &:read-only:hover, &:read-only:focus {
      opacity: 0;
    }
  }
  .checkbox + .form-check-label {
    position: relative;
    padding: 0 0 0 39px;
    cursor: pointer;
    width: 450px;
  }

  .checkbox:checked + .form-check-label {
    color: $color-primary;
  }

  .checkbox + .form-check-label:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    border: solid 1px $color-gray;
    background-color: transparent;
    vertical-align: -50%;
    display: inline-block;
  }

  .checkbox:checked + .form-check-label:before {
    background-color: $color-white;
  }

  .checkbox:checked + .form-check-label:after {
    content: url('../images/svg/checked.svg');
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0px;
    width: 27px;
    height: 27px;
    transition: .2s;
  }

}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-bottom: 0;
  
  & input { 
    opacity: 0;
    width: 0;
    height: 0;
    
    &:hover, &:focus, &:read-only:hover, &:read-only:focus {
      opacity: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-gray;

    &:before {
      position: absolute;
      content: "";
      height: 21.5px;
      width: 21.5px;
      left: 2px;
      bottom: 1.5px;
      background-color: $color-white;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px 0 rgba(0, 0, 0, 0.05);
    }

  }


  input:checked + .slider {
    background-color: $color-highlight;
  }


  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
    
}
