#mainNav {
  width: 100%;
  position: fixed;
}

.navbar {
  padding: 0;
  border-bottom: solid 1px $color-gray;
  background-color: $color-white;
  z-index: 5;
  
  & .navbar-mobile-toggler {
    display: none;
  }
  
  & .navbar-brand {
    margin-right: 70px;
    margin-top: 8px;
    padding: 0;
  }
  
  & .mobile-side-navbar {
    display: none;
  }
  
  & .navbar-nav {
    
    & .nav-item {
      
      & .nav-link {
        padding: 28px 40px;
        font: {
          weight: $font-weight-semibold;
          size: 17px;
        }
        position: relative;
        text-transform: uppercase;
        
        &.active {
          color: $color-highlight;
        }
        
        &.active, &:hover {
          &:after {
            content: '';
            border-bottom: solid 3px $color-highlight;
            width: 38px;
            position: absolute;
            left: 50%;
            bottom: -2px;
            transform: translateX(-50%);
          }
        }
        
        & img {
          height: 9px;
          margin-left: 13px;
        }
        
        
      }
      
      &.lang {
        
        & .nav-link {
          padding-right: 50px;
          color: $color-highlight;
          text-transform: uppercase;
          
          &.active, &:hover {
            &:after {
              border-color: transparent;
            }

          }
          
          
          
        }
        
        & .lang-menu {
          z-index: 2;
          margin-top: -4px;
          position: absolute;
          max-height: 141px;
          border-radius: 2px;
          box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.12);
          background-color: #ffffff;
          border: solid 1px $color-gray;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
          
          & .lang-item {
            width: 215px;
            
            cursor: pointer;
            
            &.active {
              position: relative;
              
              &:after {
                position: absolute;
                top: 5px;
                right: 13px;
                display: block;
                content: url('../images/svg/done.svg');
                height: 20px;
                width: 20px;
              }
              
            }
            
            &.active, &:hover {
              background-color: $color-lightgray;
            }
            
            & a {
              display: block;
              padding: 6px 22px 6px 18px;
              font: {
                size: 13px;
                weight: $font-weight-regular;
              }
              color: $color-primary;
              
              & img {
                margin-right: 20px;
              }
            }
            
          }
          
          @include custom-scroll;
          
        }
        
        
      }
      
      
    }
    
  }
  
  & .btn {
    font-size: 17px;
    min-height: 48px;
    min-width: 152px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  & .btn-default {
    margin-left: 28px;
  }
  
}

//user-menu
.navbar {
  
  & .navbar-nav {
    
    & .nav-item-user-menu {
      
      & .img-user-small {
        margin-right: 20px;
        display: block;
        width: 32px;
        height: 32px;
        
        & img {
          object-fit: cover;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          border: solid 1px $color-gray;
        }
        
      }

      & .nav-link {
        padding-left: 0;
        padding-right: 0!important;
        color: $color-secondary;
        text-transform: none!important;

        &.active, &:hover {
          &:after {
            border-color: transparent;
          }

        }

        & img {
          height: 9px;
          margin-left: 24px;
        }

      }

      & .user-menu {
        z-index: 2;
        margin-left: 48px;
        margin-top: 77px;
        position: absolute;
        max-height: 141px;
        border-radius: 2px;
        box-shadow: 0 4px 12px 0 rgba(136, 145, 155, 0.12);
        background-color: #ffffff;
        border: solid 1px $color-gray;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        
        .collapse-content {
          margin: 14px 0;
        }

        & .menu-item {
          width: 248px;
          cursor: pointer;
          margin-bottom: 8px;
          
          &.log-out a {
            color: $color-secondary;
          }
          
          &:last-of-type {
            margin-bottom: 0;
          }

          &.active {
            position: relative;
          }

          &.active, &:hover {
            background-color: $color-lightgray;
          }

          & a {
            display: block;
            padding: 6px 22px 6px 18px;
            font: {
              size: 13px;
              weight: $font-weight-regular;
            }
            color: $color-primary;

            & img {
              margin-right: 20px;
            }
          }

        }

        @include custom-scroll;

      }

    }
    
  }
  
  &.user-submenu {
    z-index: 4;
    min-height: 60px;
    
    &.navbar-expand {
      & .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    & .navbar-nav {
      max-width: 940px;
      
      &.balance-menu {
        & .btn {
          padding: 9px 45px;
          min-height: 36px;
        }
        
        & .balance {
          padding-top: 8px;
          margin-right: 35px;
          font-size: 17px;
          font-weight: $font-weight-semibold;
          color: $color-highlight;
        }
        
      }

      & .nav-item-user-menu {

        & .user-menu {
          margin-top: -4px;
          margin-left: -20px;

          & .menu-item {
            width: 215px;
          }

        }

      }

      &.user-nav-country {
        position: absolute;
        right: 0;
        top: 0;

        & .nav-item-user-menu {

          & .nav-link {
            max-width: 122px;
            padding-left: 0;

            & a {
              word-wrap: break-word;
            }

          }
          
          & .nav-item-user-menu__country {
            display: inline-block;
            
            &_mobile {
              display: none;
            }
            
          }

        }

      }

      & .nav-item {

        & .nav-link {
          padding: 20px 30px;
        }

      }

    }

  }
  
}

//admin-menu
.navbar-admin {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  
  & .navbar-brand {
    margin-left: 3%;
    margin-right: 19px;
    
    & img {
      width: 33px;
      height: 33px;
      margin-left: 25px;
    }
    
  }
  
  & .navbar-nav {
    
    & .nav-item-user-menu {
      
      & .img-user-small {
        margin-right: 14px;
        height: 24px;
        width: 24px;
      
        & img {
          height: 24px;
          width: 24px;
        }
        
      }
      
      & .user-menu {
        margin-top: 45px;
        margin-left: -9px;
        
        & .collapse-content {
          margin: 10px 0;
          
          & .menu-item {
            width: 200px;
            margin-bottom: 0;
          }
          
        }

      }
      
    }
    
    & .nav-item {
      
      & .nav-link {
        padding: 17px 0;
        font-size: 11px;
        
        & img {
          height: 7px;
        }
        
      }
      
    }
    
    & .nav-item-notification {
      
      margin-right: 54px;
      
      & .user-menu {
        margin-top: -6px;
        margin-left: -144px;
        max-height: 195px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @include custom-scroll;
        
        
        & .collapse-content {
          margin: 18px 0;
        
          & .menu-item {
            width: 288px;
            margin-bottom: 0;
            
            & a {
              
              padding: 6px 15px;

              & .notification-text {
                
                font-size: 9px;
                
                & strong {
                  color: $color-highlight;
                  font-weight: $font-weight-semibold;
                }
                
              }
              
              & .notification-time {
                color: $color-secondary;
                font-size: 7px;
                margin-top: 4px;
              }
              
              &:before {
                margin-top: 3px;
                content: '';
                display: inline-block;
                border-radius: 100%;
                background-color: $color-highlight;
                height: 6px;
                width: 6px;
                margin-right: 14px;
              }

            }
            
          }
        
        }
        
      }
        
      & .nav-link {

        & img {
          margin-left: 0;
          height: 17px!important;
        }
        
      }
      
    }
    
  }
  
}