//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="user-account-admin admin-section-card admin-section-card_basic">
        <div class="section-title text-center">My account</div>
        <div class="user-account-image">
          <div class="img-user-big">
            <img src="/images/svg/male-user-shadow.svg" alt="">
          </div>
        </div>
        <form>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input placeholder="alex@gmail.com" readonly="readonly" value="alex@gmail.com" type="email" class="form-control form-control-underline" id="inputEmail">
          </div>
          <div class="form-group form-password">
            <label for="inputPassword">System password</label>
            <div class="input-group group-password">
              <input type="password" readonly="readonly" value="12345678" class="form-control form-control-underline form-control-underline_pass" id="inputPassword">
              <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
            </div>
          </div>
        </form>
        <div class="text-center">
          <a href="/admin-account-edit.html" class="btn btn-default">edit</a>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html