//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-helpful admin-section-card_1000">
        <div class="admin-top">
          <div class="row">
            <div class="col text-left align-self-center">
              <a href="" class="admin-top__back-btn">
                <svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path class="color" id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg>
              </a>
            </div>
            <div class="col text-center align-self-center">
              <div class="admin-top__heading">Helpful</div>
            </div>
            <div class="col text-right align-self-center">
              <a href="/admin-blog-create.html" class="btn btn-default admin-top__btn">ADD</a>
            </div>
          </div>
        </div>
        <div class="admin-blog">
          <div class="row">
            
            <div class="col-6">
              <div class="admin-blog-item">
                <div class="admin-blog-item__img">
                  <div class="admin-blog-item__control">
                    <a href="" class="admin-blog-item__btn admin-blog-item__btns_edit">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="color" id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Helpful--(blog)" transform="translate(-1108.000000, -190.000000)"><g id="Group-5" transform="translate(729.000000, 147.000000)"><g id="Group-15" transform="translate(379.000000, 43.000000)"><g id="Edit"><rect id="Rectangle-6" stroke="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g id="new-file" transform="translate(8.000000, 8.000000)" fill="#FFFFFF" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M2.09297155,7.71616783 L1,8 L1.28378009,6.9070384 L6.1908632,2 L7,2.80918409 L2.09297155,7.71616783 Z M7.41902182,1 L8,1.58099462 L7.58097818,2 L7,1.41900538 L7.41902182,1 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                    </a>
                    <a href="" class="admin-blog-item__btn admin-blog-item__btns_close">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill-rule="evenodd"><g id="Helpful--(blog)" transform="translate(-1148.000000, -190.000000)" fill="#FFFFFF"><g id="Group-5" transform="translate(729.000000, 147.000000)"><g id="Group-15" transform="translate(379.000000, 43.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><rect class="color" id="Rectangle-6" stroke="#FFFFFF" fill-opacity="0" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g id="cancel" transform="translate(8.000000, 8.000000)" fill-rule="nonzero"><path d="M4.54258957,3.99993608 L7.88762106,0.65495805 C8.03745965,0.505121854 8.03745965,0.262213344 7.88762106,0.112377147 C7.73778247,-0.0374590491 7.49487007,-0.0374590491 7.34503148,0.112377147 L4,3.45735517 L0.654968517,0.112888534 C0.505129926,-0.0369476628 0.262217534,-0.0369476628 0.112378943,0.112888534 C-0.0374596478,0.26272473 -0.0374596478,0.50563324 0.112378943,0.655469437 L3.45741043,4.00044746 L0.112890338,7.3449141 C-0.0369482533,7.4947503 -0.0369482533,7.73765881 0.112890338,7.88749501 C0.188065331,7.96215741 0.285741682,8 0.383929428,8 C0.482117173,8 0.580304919,7.9626688 0.654968517,7.88749501 L4,4.54251698 L7.34503148,7.88749501 C7.42020648,7.96215741 7.51788283,8 7.61607057,8 C7.71425832,8 7.81244606,7.9626688 7.88710966,7.88749501 C8.03694825,7.73765881 8.03694825,7.4947503 7.88710966,7.3449141 L4.54258957,3.99993608 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                    </a>
                  </div>
                  <img src="/images/img_lights.jpg" alt="">
                </div>
                <div class="admin-blog-item__heading">
                  What is it?
                </div>
                <p class="admin-blog-item__text">
                  A cryptocurrency is a digital or virtual currency designed and verify transactions as well as to control the creation limited entries in a database that no one can change 
                </p>
              </div>
            </div>
            
            <div class="col-6">
              <div class="admin-blog-item">
                <div class="admin-blog-item__img">
                  <div class="admin-blog-item__control">
                    <a href="" class="admin-blog-item__btn admin-blog-item__btns_edit">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="color" id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Helpful--(blog)" transform="translate(-1108.000000, -190.000000)"><g id="Group-5" transform="translate(729.000000, 147.000000)"><g id="Group-15" transform="translate(379.000000, 43.000000)"><g id="Edit"><rect id="Rectangle-6" stroke="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g id="new-file" transform="translate(8.000000, 8.000000)" fill="#FFFFFF" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M2.09297155,7.71616783 L1,8 L1.28378009,6.9070384 L6.1908632,2 L7,2.80918409 L2.09297155,7.71616783 Z M7.41902182,1 L8,1.58099462 L7.58097818,2 L7,1.41900538 L7.41902182,1 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                    </a>
                    <a href="" class="admin-blog-item__btn admin-blog-item__btns_close">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Helpful--(blog)" transform="translate(-1148.000000, -190.000000)" fill="#FFFFFF"><g id="Group-5" transform="translate(729.000000, 147.000000)"><g id="Group-15" transform="translate(379.000000, 43.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><rect class="color" id="Rectangle-6" stroke="#FFFFFF" fill-opacity="0" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g id="cancel" transform="translate(8.000000, 8.000000)" fill-rule="nonzero"><path d="M4.54258957,3.99993608 L7.88762106,0.65495805 C8.03745965,0.505121854 8.03745965,0.262213344 7.88762106,0.112377147 C7.73778247,-0.0374590491 7.49487007,-0.0374590491 7.34503148,0.112377147 L4,3.45735517 L0.654968517,0.112888534 C0.505129926,-0.0369476628 0.262217534,-0.0369476628 0.112378943,0.112888534 C-0.0374596478,0.26272473 -0.0374596478,0.50563324 0.112378943,0.655469437 L3.45741043,4.00044746 L0.112890338,7.3449141 C-0.0369482533,7.4947503 -0.0369482533,7.73765881 0.112890338,7.88749501 C0.188065331,7.96215741 0.285741682,8 0.383929428,8 C0.482117173,8 0.580304919,7.9626688 0.654968517,7.88749501 L4,4.54251698 L7.34503148,7.88749501 C7.42020648,7.96215741 7.51788283,8 7.61607057,8 C7.71425832,8 7.81244606,7.9626688 7.88710966,7.88749501 C8.03694825,7.73765881 8.03694825,7.4947503 7.88710966,7.3449141 L4.54258957,3.99993608 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                    </a>
                  </div>
                  <img src="/images/img_lights.jpg" alt="">
                </div>
                <div class="admin-blog-item__heading">
                  What is it?
                </div>
                <p class="admin-blog-item__text">
                  A cryptocurrency is a digital or virtual currency designed and verify transactions as well as to control the creation limited entries in a database that no one can change 
                </p>
              </div>
            </div>
            
            <div class="col-6">
              <div class="admin-blog-item">
                <div class="admin-blog-item__img">
                  <div class="admin-blog-item__control">
                    <a href="" class="admin-blog-item__btn admin-blog-item__btns_edit">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="color" id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Helpful--(blog)" transform="translate(-1108.000000, -190.000000)"><g id="Group-5" transform="translate(729.000000, 147.000000)"><g id="Group-15" transform="translate(379.000000, 43.000000)"><g id="Edit"><rect id="Rectangle-6" stroke="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g id="new-file" transform="translate(8.000000, 8.000000)" fill="#FFFFFF" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M2.09297155,7.71616783 L1,8 L1.28378009,6.9070384 L6.1908632,2 L7,2.80918409 L2.09297155,7.71616783 Z M7.41902182,1 L8,1.58099462 L7.58097818,2 L7,1.41900538 L7.41902182,1 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                    </a>
                    <a href="" class="admin-blog-item__btn admin-blog-item__btns_close">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Helpful--(blog)" transform="translate(-1148.000000, -190.000000)" fill="#FFFFFF"><g id="Group-5" transform="translate(729.000000, 147.000000)"><g id="Group-15" transform="translate(379.000000, 43.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><rect class="color" id="Rectangle-6" stroke="#FFFFFF" fill-opacity="0" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g id="cancel" transform="translate(8.000000, 8.000000)" fill-rule="nonzero"><path d="M4.54258957,3.99993608 L7.88762106,0.65495805 C8.03745965,0.505121854 8.03745965,0.262213344 7.88762106,0.112377147 C7.73778247,-0.0374590491 7.49487007,-0.0374590491 7.34503148,0.112377147 L4,3.45735517 L0.654968517,0.112888534 C0.505129926,-0.0369476628 0.262217534,-0.0369476628 0.112378943,0.112888534 C-0.0374596478,0.26272473 -0.0374596478,0.50563324 0.112378943,0.655469437 L3.45741043,4.00044746 L0.112890338,7.3449141 C-0.0369482533,7.4947503 -0.0369482533,7.73765881 0.112890338,7.88749501 C0.188065331,7.96215741 0.285741682,8 0.383929428,8 C0.482117173,8 0.580304919,7.9626688 0.654968517,7.88749501 L4,4.54251698 L7.34503148,7.88749501 C7.42020648,7.96215741 7.51788283,8 7.61607057,8 C7.71425832,8 7.81244606,7.9626688 7.88710966,7.88749501 C8.03694825,7.73765881 8.03694825,7.4947503 7.88710966,7.3449141 L4.54258957,3.99993608 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                    </a>
                  </div>
                  <img src="/images/img_lights.jpg" alt="">
                </div>
                <div class="admin-blog-item__heading">
                  What is it?
                </div>
                <p class="admin-blog-item__text">
                  A cryptocurrency is a digital or virtual currency designed and verify transactions as well as to control the creation limited entries in a database that no one can change 
                </p>
              </div>
            </div>
            
            <div class="col-6">
              <div class="admin-blog-item">
                <div class="admin-blog-item__img">
                  <div class="admin-blog-item__control">
                    <a href="" class="admin-blog-item__btn admin-blog-item__btns_edit">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="color" id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Helpful--(blog)" transform="translate(-1108.000000, -190.000000)"><g id="Group-5" transform="translate(729.000000, 147.000000)"><g id="Group-15" transform="translate(379.000000, 43.000000)"><g id="Edit"><rect id="Rectangle-6" stroke="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g id="new-file" transform="translate(8.000000, 8.000000)" fill="#FFFFFF" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M2.09297155,7.71616783 L1,8 L1.28378009,6.9070384 L6.1908632,2 L7,2.80918409 L2.09297155,7.71616783 Z M7.41902182,1 L8,1.58099462 L7.58097818,2 L7,1.41900538 L7.41902182,1 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                    </a>
                    <a href="" class="admin-blog-item__btn admin-blog-item__btns_close">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Helpful--(blog)" transform="translate(-1148.000000, -190.000000)" fill="#FFFFFF"><g id="Group-5" transform="translate(729.000000, 147.000000)"><g id="Group-15" transform="translate(379.000000, 43.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><rect class="color" id="Rectangle-6" stroke="#FFFFFF" fill-opacity="0" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g id="cancel" transform="translate(8.000000, 8.000000)" fill-rule="nonzero"><path d="M4.54258957,3.99993608 L7.88762106,0.65495805 C8.03745965,0.505121854 8.03745965,0.262213344 7.88762106,0.112377147 C7.73778247,-0.0374590491 7.49487007,-0.0374590491 7.34503148,0.112377147 L4,3.45735517 L0.654968517,0.112888534 C0.505129926,-0.0369476628 0.262217534,-0.0369476628 0.112378943,0.112888534 C-0.0374596478,0.26272473 -0.0374596478,0.50563324 0.112378943,0.655469437 L3.45741043,4.00044746 L0.112890338,7.3449141 C-0.0369482533,7.4947503 -0.0369482533,7.73765881 0.112890338,7.88749501 C0.188065331,7.96215741 0.285741682,8 0.383929428,8 C0.482117173,8 0.580304919,7.9626688 0.654968517,7.88749501 L4,4.54251698 L7.34503148,7.88749501 C7.42020648,7.96215741 7.51788283,8 7.61607057,8 C7.71425832,8 7.81244606,7.9626688 7.88710966,7.88749501 C8.03694825,7.73765881 8.03694825,7.4947503 7.88710966,7.3449141 L4.54258957,3.99993608 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                    </a>
                  </div>
                  <img src="/images/img_lights.jpg" alt="">
                </div>
                <div class="admin-blog-item__heading">
                  What is it?
                </div>
                <p class="admin-blog-item__text">
                  A cryptocurrency is a digital or virtual currency designed and verify transactions as well as to control the creation limited entries in a database that no one can change 
                </p>
              </div>
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html