//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="user-account-admin user-account-admin-edit admin-section-card admin-section-card_basic">
        <div class="section-title text-center">My account</div>
        <div class="user-account-image">
          <form id="form1" runat="server">
            <div class="img-user-big">
              <input type="image" src="/images/svg/male-user-shadow.svg" class="image-upload-img" alt="">
            </div>
            <input class="image-upload-input d-none" type='file' accept="image/*" id="imgInp" />
            <div class="text-center">
              <a href="" class="image-upload more">Edit</a>
            </div>
          </form>
        </div>
        <form id="admin-account-edit">
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input value="alex@gmail.com" placeholder="alex@gmail.com" type="email" class="form-control form-control-underline" id="inputEmail">
          </div>
          <div class="form-group form-password">
            <label for="inputPassword">System password</label>
            <div class="input-group group-password">
              <input type="password" class="form-control form-control-underline form-control-underline_pass" id="inputPassword">
              <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
            </div>
          </div>
          <div class="form-group form-password">
            <label for="inputPassword2">New password</label>
            <div class="input-group group-password">
              <input type="password" class="form-control form-control-underline form-control-underline_pass" id="inputPassword2">
              <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
            </div>
          </div>
        </form>
        <div class="text-right user-account-admin-right__btn">
          <a href="/admin-account.html" class="btn btn-disabled">cancel</a>
          <button form="admin-account-edit" class="btn btn-default">Save</button>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html