//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-service-folders">
        <div class="admin-service-top d-flex justify-content-between">
          <div class="admin-staff-top__search">
            <input type="search" placeholder="Search" class="search admin-section-card_basic">
          </div>
          <div class="admin-country-top">
            <a class="nav-link d-row" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="">Belarus<img src="/images/svg/blue-down-arrow.svg" data-toggle="collapse" alt=""></a>
            <ul class="user-menu collapse">
              <div class="collapse-content">
                <li class='menu-item'><a href="">Russia</a></li>
                <li class='menu-item'><a href="">USA</a></li>
                <li class='menu-item'><a href="">Spain</a></li>
                <li class='menu-item add'><a href="/admin-add-country.html">Add country</a></li>
              </div>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="admin-service-folder admin-section-card_basic">
              <div class="admin-service-folder__top d-flex flex-row justify-content-between align-items-center">
                <div class="admin-service-folder__name">
                  Communication
                </div>
                <a href="/admin-service-edit.html" class="admin-service-folder__add">
                  <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Service-folders-" transform="translate(-476.000000, -148.000000)"><g id="Group" transform="translate(138.000000, 128.000000)"><g id="UI/Button/Plus" transform="translate(338.000000, 20.000000)"><g id="Group"><circle id="Oval-3" fill="#178FFF" cx="14" cy="14" r="14"></circle><g id="plus" transform="translate(9.739130, 9.739130)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF"><path d="M8.77377717,4.20855978 L4.921875,4.20855978 L4.921875,0.356657609 C4.921875,0.159675611 4.76219939,0 4.56521739,0 C4.36823539,0 4.20855978,0.159675611 4.20855978,0.356657609 L4.20855978,4.20855978 L0.356657609,4.20855978 C0.159675611,4.20855978 0,4.36823539 0,4.56521739 C0,4.76219939 0.159675611,4.921875 0.356657609,4.921875 L4.20855978,4.921875 L4.20855978,8.77377717 C4.20855978,8.97075917 4.36823539,9.13043478 4.56521739,9.13043478 C4.76219939,9.13043478 4.921875,8.97075917 4.921875,8.77377717 L4.921875,4.921875 L8.77377717,4.921875 C8.97075917,4.921875 9.13043478,4.76219939 9.13043478,4.56521739 C9.13043478,4.36823539 8.97075917,4.20855978 8.77377717,4.20855978 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <div class="admin-service-folder__bottom row">
                <div class="col-4">
                  <a href="/admin-service.html" class="admin-service-folder__service-card">
                    <img src="/images/services/mts.png" alt="">
                  </a>
                </div>
                <div class="col-4">
                  <a href="/admin-service.html" class="admin-service-folder__service-card">
                    <img src="/images/services/velcom.png" alt="">
                  </a>
                </div>
                <div class="col-4">
                  <a href="/admin-service.html" class="admin-service-folder__service-card">
                    <img src="/images/services/life.png" alt="">
                  </a>
                </div>
                <div class="col-4">
                  <a href="/admin-service.html" class="admin-service-folder__service-card">
                    <img src="/images/services/skype.png" alt="">
                  </a>
                </div>
                <div class="col-4">
                  <a href="/admin-service.html" class="admin-service-folder__service-card">
                    <img src="/images/services/viber.png" alt="">
                  </a>
                </div>
                <div class="col-4">
                  <div class="admin-service-folder__all d-flex align-items-center justify-content-center">
                    <a href="/admin-services-view.html">All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <div class="admin-service-folder admin-section-card_basic">
              <div class="admin-service-folder__top d-flex flex-row justify-content-between align-items-center">
                <div class="admin-service-folder__name">
                  Games
                </div>
                <a href="/admin-service-edit.html" class="admin-service-folder__add">
                  <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Service-folders-" transform="translate(-476.000000, -148.000000)"><g id="Group" transform="translate(138.000000, 128.000000)"><g id="UI/Button/Plus" transform="translate(338.000000, 20.000000)"><g id="Group"><circle id="Oval-3" fill="#178FFF" cx="14" cy="14" r="14"></circle><g id="plus" transform="translate(9.739130, 9.739130)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF"><path d="M8.77377717,4.20855978 L4.921875,4.20855978 L4.921875,0.356657609 C4.921875,0.159675611 4.76219939,0 4.56521739,0 C4.36823539,0 4.20855978,0.159675611 4.20855978,0.356657609 L4.20855978,4.20855978 L0.356657609,4.20855978 C0.159675611,4.20855978 0,4.36823539 0,4.56521739 C0,4.76219939 0.159675611,4.921875 0.356657609,4.921875 L4.20855978,4.921875 L4.20855978,8.77377717 C4.20855978,8.97075917 4.36823539,9.13043478 4.56521739,9.13043478 C4.76219939,9.13043478 4.921875,8.97075917 4.921875,8.77377717 L4.921875,4.921875 L8.77377717,4.921875 C8.97075917,4.921875 9.13043478,4.76219939 9.13043478,4.56521739 C9.13043478,4.36823539 8.97075917,4.20855978 8.77377717,4.20855978 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <div class="admin-service-folder__bottom admin-service-folder__bottom_empty d-flex text-center align-items-center justify-content-center">
                <span>No services are <br> added yet</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <div class="admin-service-folder admin-section-card_basic">
              <div class="admin-service-folder__top d-flex flex-row justify-content-between align-items-center">
                <div class="admin-service-folder__name">
                  Program Software
                </div>
                <a href="/admin-service-edit.html" class="admin-service-folder__add">
                  <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Service-folders-" transform="translate(-476.000000, -148.000000)"><g id="Group" transform="translate(138.000000, 128.000000)"><g id="UI/Button/Plus" transform="translate(338.000000, 20.000000)"><g id="Group"><circle id="Oval-3" fill="#178FFF" cx="14" cy="14" r="14"></circle><g id="plus" transform="translate(9.739130, 9.739130)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF"><path d="M8.77377717,4.20855978 L4.921875,4.20855978 L4.921875,0.356657609 C4.921875,0.159675611 4.76219939,0 4.56521739,0 C4.36823539,0 4.20855978,0.159675611 4.20855978,0.356657609 L4.20855978,4.20855978 L0.356657609,4.20855978 C0.159675611,4.20855978 0,4.36823539 0,4.56521739 C0,4.76219939 0.159675611,4.921875 0.356657609,4.921875 L4.20855978,4.921875 L4.20855978,8.77377717 C4.20855978,8.97075917 4.36823539,9.13043478 4.56521739,9.13043478 C4.76219939,9.13043478 4.921875,8.97075917 4.921875,8.77377717 L4.921875,4.921875 L8.77377717,4.921875 C8.97075917,4.921875 9.13043478,4.76219939 9.13043478,4.56521739 C9.13043478,4.36823539 8.97075917,4.20855978 8.77377717,4.20855978 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <div class="admin-service-folder__bottom admin-service-folder__bottom_empty d-flex text-center align-items-center justify-content-center">
                <span>No services are <br> added yet</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <div class="admin-service-folder admin-section-card_basic">
              <div class="admin-service-folder__top d-flex flex-row justify-content-between align-items-center">
                <div class="admin-service-folder__name">
                  Store
                </div>
                <a href="/admin-service-edit.html" class="admin-service-folder__add">
                  <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Service-folders-" transform="translate(-476.000000, -148.000000)"><g id="Group" transform="translate(138.000000, 128.000000)"><g id="UI/Button/Plus" transform="translate(338.000000, 20.000000)"><g id="Group"><circle id="Oval-3" fill="#178FFF" cx="14" cy="14" r="14"></circle><g id="plus" transform="translate(9.739130, 9.739130)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF"><path d="M8.77377717,4.20855978 L4.921875,4.20855978 L4.921875,0.356657609 C4.921875,0.159675611 4.76219939,0 4.56521739,0 C4.36823539,0 4.20855978,0.159675611 4.20855978,0.356657609 L4.20855978,4.20855978 L0.356657609,4.20855978 C0.159675611,4.20855978 0,4.36823539 0,4.56521739 C0,4.76219939 0.159675611,4.921875 0.356657609,4.921875 L4.20855978,4.921875 L4.20855978,8.77377717 C4.20855978,8.97075917 4.36823539,9.13043478 4.56521739,9.13043478 C4.76219939,9.13043478 4.921875,8.97075917 4.921875,8.77377717 L4.921875,4.921875 L8.77377717,4.921875 C8.97075917,4.921875 9.13043478,4.76219939 9.13043478,4.56521739 C9.13043478,4.36823539 8.97075917,4.20855978 8.77377717,4.20855978 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <div class="admin-service-folder__bottom admin-service-folder__bottom_empty d-flex text-center align-items-center justify-content-center">
                <span>No services are <br> added yet</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <div class="admin-service-folder admin-section-card_basic">
              <div class="admin-service-folder__top d-flex flex-row justify-content-between align-items-center">
                <div class="admin-service-folder__name">
                  Travel
                </div>
                <a href="/admin-service-edit.html" class="admin-service-folder__add">
                  <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Service-folders-" transform="translate(-476.000000, -148.000000)"><g id="Group" transform="translate(138.000000, 128.000000)"><g id="UI/Button/Plus" transform="translate(338.000000, 20.000000)"><g id="Group"><circle id="Oval-3" fill="#178FFF" cx="14" cy="14" r="14"></circle><g id="plus" transform="translate(9.739130, 9.739130)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF"><path d="M8.77377717,4.20855978 L4.921875,4.20855978 L4.921875,0.356657609 C4.921875,0.159675611 4.76219939,0 4.56521739,0 C4.36823539,0 4.20855978,0.159675611 4.20855978,0.356657609 L4.20855978,4.20855978 L0.356657609,4.20855978 C0.159675611,4.20855978 0,4.36823539 0,4.56521739 C0,4.76219939 0.159675611,4.921875 0.356657609,4.921875 L4.20855978,4.921875 L4.20855978,8.77377717 C4.20855978,8.97075917 4.36823539,9.13043478 4.56521739,9.13043478 C4.76219939,9.13043478 4.921875,8.97075917 4.921875,8.77377717 L4.921875,4.921875 L8.77377717,4.921875 C8.97075917,4.921875 9.13043478,4.76219939 9.13043478,4.56521739 C9.13043478,4.36823539 8.97075917,4.20855978 8.77377717,4.20855978 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <div class="admin-service-folder__bottom admin-service-folder__bottom_empty d-flex text-center align-items-center justify-content-center">
                <span>No services are <br> added yet</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <div class="admin-service-folder admin-section-card_basic">
              <div class="admin-service-folder__top d-flex flex-row justify-content-between align-items-center">
                <div class="admin-service-folder__name">
                  Other
                </div>
                <a href="/admin-service-edit.html" class="admin-service-folder__add">
                  <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Service-folders-" transform="translate(-476.000000, -148.000000)"><g id="Group" transform="translate(138.000000, 128.000000)"><g id="UI/Button/Plus" transform="translate(338.000000, 20.000000)"><g id="Group"><circle id="Oval-3" fill="#178FFF" cx="14" cy="14" r="14"></circle><g id="plus" transform="translate(9.739130, 9.739130)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF"><path d="M8.77377717,4.20855978 L4.921875,4.20855978 L4.921875,0.356657609 C4.921875,0.159675611 4.76219939,0 4.56521739,0 C4.36823539,0 4.20855978,0.159675611 4.20855978,0.356657609 L4.20855978,4.20855978 L0.356657609,4.20855978 C0.159675611,4.20855978 0,4.36823539 0,4.56521739 C0,4.76219939 0.159675611,4.921875 0.356657609,4.921875 L4.20855978,4.921875 L4.20855978,8.77377717 C4.20855978,8.97075917 4.36823539,9.13043478 4.56521739,9.13043478 C4.76219939,9.13043478 4.921875,8.97075917 4.921875,8.77377717 L4.921875,4.921875 L8.77377717,4.921875 C8.97075917,4.921875 9.13043478,4.76219939 9.13043478,4.56521739 C9.13043478,4.36823539 8.97075917,4.20855978 8.77377717,4.20855978 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <div class="admin-service-folder__bottom admin-service-folder__bottom_empty d-flex text-center align-items-center justify-content-center">
                <span>No services are <br> added yet</span>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
//= layouts/base-end.html