//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-orders">
        <div class="admin-staff-top d-flex justify-content-between">
          <div class="admin-staff-top__search">
            <input type="search" placeholder="Search" class="search admin-section-card_basic">
          </div>
        </div>
        <div class="admin-staff-item-list">
          <div class="admin-order-item admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Confirmed
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
          <div class="admin-order-item admin-order-item_pending admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="operation-status-img d-flex flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="col-3 operation-mail">jennyfer@gmail.com</div>
              <div class="col-3 operation-name d-flex flex-column justify-content-between">
                **** **** **** 5514
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>

              <div class="col operation-value">– 0,00298400 BTC</div>
              <div class="col text-right d-flex flex-column">
                <div class="operation-status">
                  Pending
                </div>
                <div class="operation-date">
                  19.07.18
                </div> 
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination admin-pagination with-indicator justify-content-center">
                <li class="page-item">
                  <a class="page-link prev" href="#"><svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg></a>
                </li>
                
                <div class="page-items-list d-flex flex-row">
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                </div>
                
                <li class="page-item">
                  <a class="page-link next" href="#"><svg width="4px" height="7px" viewBox="0 0 6 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Main-page-social-(eng)" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI/Icon/Arrow-right"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" x="0" y="0" width="4" height="7"></rect><path id="Shape" d="M5.6763285,12.8862069 C5.59903382,12.962069 5.50241546,13 5.39613527,13 C5.28985507,13 5.19323671,12.962069 5.11594203,12.8862069 C4.96135266,12.7344828 4.96135266,12.487931 5.11594203,12.3362069 L10.0434783,7.5 L5.11594203,2.6637931 C4.96135266,2.51206897 4.96135266,2.26551724 5.11594203,2.1137931 C5.2705314,1.96206897 5.52173913,1.96206897 5.6763285,2.1137931 L10.884058,7.225 C11.0386473,7.37672414 11.0386473,7.62327586 10.884058,7.775 L5.6763285,12.8862069 Z" id="Shape" fill="#0b284c" fill-rule="nonzero"></path></g></g></g></g></g></g></svg></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        
      </div>
    </div>
  </div>
//= layouts/base-end.html