//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-blog-create admin-post-create admin-section-card admin-section-card_basic d-flex flex-column">
        <div class="section-title text-center">Add blogpost</div>
        <div class="user-account-image">
          <form id="form1" runat="server">
            <div class="img-user-big">
              <input type="image" value="Upload cover" src="/" class="image-upload image-upload-img cover" placeholder="Upload cover" alt="" >
              <span>Upload cover</span>
            </div>
            <input class="image-upload-input d-none" type='file' accept="image/*" id="imgInp" />
          </form>
        </div>
        <div class="admin-post-create__title">
          Country
        </div>
        <div class="admin-post-create__input">
          <div class="custom-select with-search">
            <input class="search" type="search" placeholder="Search country">
            <select>
              <option value="">Select your country</option>
              <option value="1">China</option>
              <option value="1">France</option>
              <option value="2">India</option>
              <option value="3">Russia</option>
              <option value="4">Spain</option>
              <option value="5">United Arab Emirates</option>
              <option value="6">United Kingdom</option>
            </select>
          </div>
        </div>
        <div class="admin-post-create__title">
          Headline
        </div>
        <div class="admin-post-create__name">
          How pass safe are payments on your site?
        </div>
        <div class="admin-post-create__title">
          Content
        </div>
        <div class="form-group form-group-admin-textarea d-flex flex-column">
          <textarea rows="4">All of our payment methods are secured. Our website is encrypted with an https certificate certificate SSL-connection. These measures ensure a safe environment for your payments.</textarea>
        </div>
        <div class="text-right mt-auto user-account-admin-right__btn">
          <a href="/user-account.html" class="btn btn-disabled btn-sm-admin">cancel</a>
          <button form="admin-account-edit" class="btn btn-default btn-sm-admin">Save</button>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html