//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-user-profile admin-user-profile__top admin-section-card admin-section-card_basic">
        <a href="" class="admin-user-profile_close">
          <svg width="16px" height="16px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Popup-–-Contact-(open)-eng" transform="translate(-260.000000, -56.000000)"><g id="Popup/Contact" transform="translate(190.000000, 26.000000)"><g id="Popup-send-message"><g id="UI/Icon/Close" transform="translate(70.000000, 30.000000)"><g id="Group-59"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="30" height="30"></rect><g id="close" fill="#98A6B4" fill-rule="nonzero"><path d="M29.6450975,0.354946462 C29.1718355,-0.118315487 28.40455,-0.118315487 27.9312881,0.354946462 L0.354946462,27.9312295 C-0.118315487,28.4044914 -0.118315487,29.1717769 0.354946462,29.6450389 C0.59154814,29.8817578 0.901743604,30 1.21188047,30 C1.52201734,30 1.83215421,29.8816992 2.06881449,29.6449803 L29.6450975,2.0686973 C30.1183008,1.59549394 30.1183008,0.828208412 29.6450975,0.354946462 Z" id="Shape"></path><path d="M29.6450896,27.9312295 L2.06870083,0.354946462 C1.59549667,-0.118315487 0.828151234,-0.118315487 0.354947069,0.354946462 C-0.11831569,0.828149818 -0.11831569,1.59543535 0.354947069,2.0686973 L27.9313358,29.6450389 C28.1679379,29.8816992 28.4781339,30 28.7882713,30 C29.0984087,30 29.4086047,29.8816992 29.6451481,29.6450975 C30.1182937,29.1717769 30.1182937,28.4044914 29.6450896,27.9312295 Z" id="Shape"></path></g></g></g></g></g></g></g></svg>
        </a>
        <div class="user-account-image text-center">
          <div class="img-user-big">
            <img src="/images/svg/male-user-shadow.svg" alt="">
          </div>
          <div class="admin-user-profile__user-email">helen.smith@gmail.com</div>
        </div>
        <div class="admin-user-profile__stats d-flex">
          <div class="admin-user-profile__balance">
            <div class="admin-user-profile__stats__title">
              Balance
            </div>
            <div class="admin-user-profile__stats__value">
              + 0,00298400 BTC
            </div>
          </div>
          <div class="admin-user-profile__trsnsaction">
            <div class="admin-user-profile__stats__title">
              Transactions
            </div>
            <div class="admin-user-profile__stats__value">
              24
            </div>
          </div>
        </div>
      </div>
      
      <div class="admin-user-profile admin-user-profile__bottom admin-section-card admin-section-card_basic">
        <ul class="nav-link-like-tabs nav d-flex" id="tabsUserServices" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="incoming-tab" data-toggle="tab" href="#incoming" role="tab" aria-controls="incoming" aria-selected="true">Incoming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="outgoing-tab" data-toggle="tab" href="#outgoing" role="tab" aria-controls="outgoing" aria-selected="false">Outgoing</a>
          </li>
        </ul>
        
        <div class="tab-content">
        
        <!-- Tab -->
        <div class="tab-pane fade show active" id="incoming" role="tabpanel" aria-labelledby="incoming-tab">
          <div class="user-history">
            <div class="user-operation-card user-operation-card_pending d-flex justify-content-between align-items-center">
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">19.07.18</div>
              <div class="operation-status">Pending</div>
            </div>
            <div class="user-operation-card user-operation-card_pending d-flex justify-content-between align-items-center">
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">19.07.18</div>
              <div class="operation-status">Pending</div>
            </div>
            <div class="user-operation-card user-operation-card_pending d-flex justify-content-between align-items-center">
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Pending</div>
            </div>
            <div class="user-operation-card user-operation-card_confirmed d-flex justify-content-between align-items-center">
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Confirmed</div>
            </div>
            <div class="user-operation-card user-operation-card_confirmed d-flex justify-content-between align-items-center">
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Confirmed</div>
            </div>
            <div class="user-operation-card user-operation-card_confirmed d-flex justify-content-between align-items-center">
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Confirmed</div>
            </div>
          </div>
          <div class="row mt-auto">
            <div class="col-md-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination admin-pagination with-indicator justify-content-center">
                  <li class="page-item">
                    <a class="page-link prev" href="#"><svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg></a>
                  </li>

                  <div class="page-items-list d-flex flex-row">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                  </div>

                  <li class="page-item">
                    <a class="page-link next" href="#"><svg width="4px" height="7px" viewBox="0 0 6 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Main-page-social-(eng)" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI/Icon/Arrow-right"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" x="0" y="0" width="4" height="7"></rect><path id="Shape" d="M5.6763285,12.8862069 C5.59903382,12.962069 5.50241546,13 5.39613527,13 C5.28985507,13 5.19323671,12.962069 5.11594203,12.8862069 C4.96135266,12.7344828 4.96135266,12.487931 5.11594203,12.3362069 L10.0434783,7.5 L5.11594203,2.6637931 C4.96135266,2.51206897 4.96135266,2.26551724 5.11594203,2.1137931 C5.2705314,1.96206897 5.52173913,1.96206897 5.6763285,2.1137931 L10.884058,7.225 C11.0386473,7.37672414 11.0386473,7.62327586 10.884058,7.775 L5.6763285,12.8862069 Z" id="Shape" fill="#0b284c" fill-rule="nonzero"></path></g></g></g></g></g></g></svg></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <!-- Tab -->
        <div class="tab-pane fade" id="outgoing" role="tabpanel" aria-labelledby="outgoing-tab">
          <div class="user-history">
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/bitcoin-png-48.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                Booking.com
                <img src="/images/services/1280-px-booking-com-logo-svg.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">Double Room – 2 nights</div>
              <div class="operation-value">– 197 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/2000px-Ethereum_logo_2014.svg.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                1Password
                <img src="/images/services/1-password-logo-2.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">+ 84 ** **** 6014</div>
              <div class="operation-value">– 12.5 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                Mobifone
                <img src="/images/services/brasol-vn-logo-mobifone-mobifone-logo-svg.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">**** **** **** 5514</div>
              <div class="operation-value">– 10 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img flex-column">
                <img src="/images/payment/master-card-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                App Store
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">**** **** **** 5514</div>
              <div class="operation-value">– 199.99 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/neo-icon.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                AirBnb
                <img src="/images/services/http-pluspng-com-img-png-airbnb-logo-png-open-2000.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">**** **** **** 3390</div>
              <div class="operation-value">– 824 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/tether.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                Steam
                <img src="/images/services/steam-logo.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">**** **** **** 3390</div>
              <div class="operation-value">– 28 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/bitcoin-png-48.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                Booking.com
                <img src="/images/services/1280-px-booking-com-logo-svg.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">Double Room – 2 nights</div>
              <div class="operation-value">– 197 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            
          </div>
          
          <div class="row mt-auto">
            <div class="col-md-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination admin-pagination with-indicator justify-content-center">
                  <li class="page-item">
                    <a class="page-link prev" href="#"><svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg></a>
                  </li>

                  <div class="page-items-list d-flex flex-row">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                  </div>

                  <li class="page-item">
                    <a class="page-link next" href="#"><svg width="4px" height="7px" viewBox="0 0 6 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Main-page-social-(eng)" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI/Icon/Arrow-right"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" x="0" y="0" width="4" height="7"></rect><path id="Shape" d="M5.6763285,12.8862069 C5.59903382,12.962069 5.50241546,13 5.39613527,13 C5.28985507,13 5.19323671,12.962069 5.11594203,12.8862069 C4.96135266,12.7344828 4.96135266,12.487931 5.11594203,12.3362069 L10.0434783,7.5 L5.11594203,2.6637931 C4.96135266,2.51206897 4.96135266,2.26551724 5.11594203,2.1137931 C5.2705314,1.96206897 5.52173913,1.96206897 5.6763285,2.1137931 L10.884058,7.225 C11.0386473,7.37672414 11.0386473,7.62327586 10.884058,7.775 L5.6763285,12.8862069 Z" id="Shape" fill="#0b284c" fill-rule="nonzero"></path></g></g></g></g></g></g></svg></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          
        </div>
      </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html