//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-settings-edit admin-section-card_1000">
        <div class="admin-top">
          <div class="row">
            <div class="col text-left align-self-center">
              <a href="" class="admin-top__back-btn">
                <svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path class="color" id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg>
              </a>
            </div>
            <div class="col-8 text-center align-self-center">
              <div class="admin-top__heading">FAQ</div>
            </div>
            <div class="col text-right align-self-center">
              <a href="" class="btn btn-default admin-top__btn">ADD</a>
            </div>
          </div>
        </div>
        
        <div class="admin-edit-card admin-section-card_basic">
          <div class="admin-edit-card__top d-flex">
            <h3 class="admin-edit-card__top__heading">
              General issues
            </h3>
            <div class="admin-edit-card__top__buttons ml-auto">
              <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
              </a>
              <a href="" class="admin-requests-item__btn admin-requests-item__btn_add admin-requests-item__btn_active">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1160.000000, -169.000000)"><g id="Group-15" transform="translate(1120.000000, 169.000000)"><g id="Add" transform="translate(40.000000, 0.000000)"><rect class="btn-form" id="Rectangle-6" stroke="#0D73D2" fill="#0D73D2" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(6.000000, 6.000000)" fill="#FFFFFF" fill-rule="nonzero"><path d="M6.70263235,6.14092647 L10.1655147,2.67804412 C10.3206324,2.52292647 10.3206324,2.27145588 10.1655147,2.11633824 C10.0103971,1.96122059 9.75892647,1.96122059 9.60380882,2.11633824 L6.14092647,5.57922059 L2.67804412,2.11686765 C2.52292647,1.96175 2.27145588,1.96175 2.11633824,2.11686765 C1.96122059,2.27198529 1.96122059,2.52345588 2.11633824,2.67857353 L5.57922059,6.14145588 L2.11686765,9.60380882 C1.96175,9.75892647 1.96175,10.0103971 2.11686765,10.1655147 C2.19469118,10.2428088 2.29580882,10.2819853 2.39745588,10.2819853 C2.49910294,10.2819853 2.60075,10.2433382 2.67804412,10.1655147 L6.14092647,6.70263235 L9.60380882,10.1655147 C9.68163235,10.2428088 9.78275,10.2819853 9.88439706,10.2819853 C9.98604412,10.2819853 10.0876912,10.2433382 10.1649853,10.1655147 C10.3201029,10.0103971 10.3201029,9.75892647 10.1649853,9.60380882 L6.70263235,6.14092647 Z" id="Shape" transform="translate(6.140926, 6.140993) rotate(-45.000000) translate(-6.140926, -6.140993) "></path></g></g></g></g></g></svg>
              </a>
            </div>
            
          </div>
          <div class="admin-edit-card__content-block">
            <div class="admin-edit-card__content-block__heading d-flex">
              <h4>What is it?</h4>
              <div class="admin-edit-card__top__buttons ml-auto">
                <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
            <p class="admin-edit-card__content-block__text">
              balance-topup.com is a service of refill of cellular communication for crypto-currency and other payment systems 24/7.
            </p>
          </div>
          
          <div class="admin-edit-card__content-block">
            <div class="admin-edit-card__content-block__heading d-flex">
              <h4>Do the service topup-balance.com have other website addresses?</h4>
              <div class="admin-edit-card__top__buttons ml-auto">
                <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
            <p class="admin-edit-card__content-block__text">
              No, this is only address, we have nothing to do with services with a similar name. Please be careful.
            </p>
          </div>
          
          <div class="admin-edit-card__content-block">
            <div class="admin-edit-card__content-block__heading d-flex">
              <h4>Who are we?</h4>
              <div class="admin-edit-card__top__buttons ml-auto">
                <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
            <p class="admin-edit-card__content-block__text">
              We are a young team of blockchain developers who strive to provide honest and fast service in the field of cellular communications sales for any crypto-currency.
            </p>
          </div>
          
          <div class="admin-edit-card__content-block">
            <div class="admin-edit-card__content-block__heading d-flex">
              <h4>Where can I know the latest news about your service?</h4>
              <div class="admin-edit-card__top__buttons ml-auto">
                <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
            <p class="admin-edit-card__content-block__text">
              All the latest updates to our service you will find in the community (Facebook, Twitter, Instagram, Reddit)
            </p>
          </div>
          
          <div class="admin-edit-card__content-block">
            <div class="admin-edit-card__content-block__heading d-flex">
              <h4>Can I offer my idea or comment about your service?</h4>
              <div class="admin-edit-card__top__buttons ml-auto">
                <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
            <p class="admin-edit-card__content-block__text">
              We are always glad to hear any comments and suggestions regarding our service. Also our service is open for cooperation and expansion of the team.
            </p>
          </div>
          
          <div class="admin-edit-card__content-block">
            <div class="admin-edit-card__content-block__heading d-flex">
              <h4>How quickly will I receive a reply from your support service?</h4>
              <div class="admin-edit-card__top__buttons ml-auto">
                <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
            <p class="admin-edit-card__content-block__text">
              The average response time of the support service is 12 hours. This is due to the fact that our team is in different parts of the world, but we are working to reduce this time interval.
            </p>
          </div>
          
        </div>
        
        <div class="admin-edit-card admin-section-card_basic">
          <div class="admin-edit-card__top d-flex">
            <h3 class="admin-edit-card__top__heading">
              Registration
            </h3>
            <div class="admin-edit-card__top__buttons ml-auto">
              <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
              </a>
              <a href="" class="admin-requests-item__btn admin-requests-item__btn_add admin-requests-item__btn_active">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1160.000000, -169.000000)"><g id="Group-15" transform="translate(1120.000000, 169.000000)"><g id="Add" transform="translate(40.000000, 0.000000)"><rect class="btn-form" id="Rectangle-6" stroke="#0D73D2" fill="#0D73D2" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(6.000000, 6.000000)" fill="#FFFFFF" fill-rule="nonzero"><path d="M6.70263235,6.14092647 L10.1655147,2.67804412 C10.3206324,2.52292647 10.3206324,2.27145588 10.1655147,2.11633824 C10.0103971,1.96122059 9.75892647,1.96122059 9.60380882,2.11633824 L6.14092647,5.57922059 L2.67804412,2.11686765 C2.52292647,1.96175 2.27145588,1.96175 2.11633824,2.11686765 C1.96122059,2.27198529 1.96122059,2.52345588 2.11633824,2.67857353 L5.57922059,6.14145588 L2.11686765,9.60380882 C1.96175,9.75892647 1.96175,10.0103971 2.11686765,10.1655147 C2.19469118,10.2428088 2.29580882,10.2819853 2.39745588,10.2819853 C2.49910294,10.2819853 2.60075,10.2433382 2.67804412,10.1655147 L6.14092647,6.70263235 L9.60380882,10.1655147 C9.68163235,10.2428088 9.78275,10.2819853 9.88439706,10.2819853 C9.98604412,10.2819853 10.0876912,10.2433382 10.1649853,10.1655147 C10.3201029,10.0103971 10.3201029,9.75892647 10.1649853,9.60380882 L6.70263235,6.14092647 Z" id="Shape" transform="translate(6.140926, 6.140993) rotate(-45.000000) translate(-6.140926, -6.140993) "></path></g></g></g></g></g></svg>
              </a>
            </div>
            
          </div>
          <div class="admin-edit-card__content-block">
            <div class="admin-edit-card__content-block__heading d-flex">
              <h4>Do I have to register if I want to use your service?</h4>
              <div class="admin-edit-card__top__buttons ml-auto">
                <a href="" class="admin-requests-item__btn admin-blog-item__btns_edit">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="FAQ-Edit-(eng)" transform="translate(-1120.000000, -365.000000)"><g id="Group-15" transform="translate(1120.000000, 365.000000)"><g id="Edit"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="new-file" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.9942042,1.19347417 L0.566135026,6.62149417 C0.523009386,6.66461942 0.492148313,6.7184119 0.476860387,6.77745242 L0.0109779751,8.57171379 C-0.0194837867,8.68916735 0.0144576894,8.81392253 0.100252614,8.89977373 C0.165283341,8.96474682 0.252618467,9 0.342235373,9 C0.370928755,9 0.399793271,8.99640623 0.428258475,8.98904756 L2.2225361,8.52311232 C2.28157716,8.50776749 2.33542716,8.4769067 2.37849576,8.43383849 L7.80645084,3.00593257 C7.80656493,3.00581849 7.80667902,3.00576144 7.80673607,3.0057044 C7.80679311,3.00564735 7.8069072,3.00547622 7.80696424,3.00541918 L8.89970864,1.91268468 C9.03342094,1.77903063 9.03342094,1.56232055 8.89976569,1.42872355 L7.57148456,0.100283318 C7.50725245,0.0360517959 7.4202596,0 7.32944475,0 C7.23868696,0 7.15163706,0.0360517959 7.087462,0.100283318 L5.99477464,1.19296077 C5.99466055,1.19307486 5.99454647,1.1931319 5.99448942,1.19318895 C5.99443238,1.19324599 5.99431829,1.19341712 5.9942042,1.19347417 Z M1.96041664,7.88393451 L0.819925996,8.18010686 L1.11604398,7.03962655 L6.23647218,1.91924474 L7.08078779,2.76360974 L1.96041664,7.88393451 Z M7.32944475,0.826282063 L8.17376036,1.67064707 L7.56481035,2.27959157 L6.72049474,1.43522656 L7.32944475,0.826282063 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
            <p class="admin-edit-card__content-block__text">
              Registration is not required. You can refill your balance directly, but the main plus of registration is that you do not need to pay a commission* (fee?) every time when you make payment in our service.
            </p>
          </div>
          
          <div class="admin-edit-card__content-block admin-edit-card__content-block_edit">
            <div class="admin-edit-card__content-block__heading d-flex">
              <div class="label">Question</div>
              <span>What data do you need to register?</span>    
            </div>
            <div class="admin-edit-card__content-block__text">
              <div class="label">Answer</div>
              In order to register with our service, you only need to specify your email.
            </div>
            
            <div class="text-right user-account-admin-right__btn">
              <a href="" class="btn btn-disabled btn-sm-admin">cancel</a>
              <button form="admin-account-edit" class="btn btn-default btn-sm-admin">Save</button>
            </div>
            
          </div>
          
        </div>
        
      </div>
      
    </div>
  </div>
//= layouts/base-end.html