//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-clients">
        <div class="admin-staff-top d-flex justify-content-between">
          <div class="admin-staff-top__search">
            <input type="search" placeholder="Search" class="search admin-section-card_basic">
          </div>
        </div>
        <div class="admin-clients-item-list">
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 12 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">jennyfer@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 2 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">samantha.blake@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 3 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 12 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 2 days ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 12 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 12 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 12 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 12 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 12 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>
          
          <div class="admin-staff-item admin-clients-item admin-section-card_basic flex-row justify-content-between ">
            <div class="row align-items-center h-100">
              <div class="col-5 admin-clients-item__personal d-flex align-items-center">
                <div class="admin-clients-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                <div class="admin-clients-item__personal__name">helen.smith@gmail.com</div>
              </div>
              <div class="col-3">
                <div class="admin-clients-item__value">
                  + 0,00298400 BTC
                </div>
              </div>
              <div class="col d-flex flex-row justify-content-end align-items-center">
                <div class="admin-clients-item__active-time">
                  Active 12 hours ago
                </div>
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_reply">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                </a>
              </div>
            </div>
          </div>

          
          
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination admin-pagination with-indicator justify-content-center">
                <li class="page-item">
                  <a class="page-link prev" href="#"><svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg></a>
                </li>
                
                <div class="page-items-list d-flex flex-row">
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                </div>
                
                <li class="page-item">
                  <a class="page-link next" href="#"><svg width="4px" height="7px" viewBox="0 0 6 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Main-page-social-(eng)" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI/Icon/Arrow-right"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" x="0" y="0" width="4" height="7"></rect><path id="Shape" d="M5.6763285,12.8862069 C5.59903382,12.962069 5.50241546,13 5.39613527,13 C5.28985507,13 5.19323671,12.962069 5.11594203,12.8862069 C4.96135266,12.7344828 4.96135266,12.487931 5.11594203,12.3362069 L10.0434783,7.5 L5.11594203,2.6637931 C4.96135266,2.51206897 4.96135266,2.26551724 5.11594203,2.1137931 C5.2705314,1.96206897 5.52173913,1.96206897 5.6763285,2.1137931 L10.884058,7.225 C11.0386473,7.37672414 11.0386473,7.62327586 10.884058,7.775 L5.6763285,12.8862069 Z" id="Shape" fill="#0b284c" fill-rule="nonzero"></path></g></g></g></g></g></g></svg></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        
      </div>
    </div>
  </div>
//= layouts/base-end.html