//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="user-account-admin admin-section-card admin-section-card_basic">
        <div class="admin-settings">
          <div class="admin-setting-item">
            <div class="admin-setting-item__name text-left">Topup-balance.com</div>
            <div class="admin-setting-item__status admin-setting-item__status_toggle text-right">
              <span class="status"></span>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="admin-setting-item">
            <div class="admin-setting-item__name text-left">Техническое обслуживание</div>
            <div class="admin-setting-item__status admin-setting-item__status_toggle text-right">
              <span class="status"></span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="admin-setting-item">
            <div class="admin-setting-item__name text-left">Полуавтоматический режим</div>
            <div class="admin-setting-item__status admin-setting-item__status_toggle text-right">
              <span class="status"></span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="admin-setting-item">
            <div class="admin-setting-item__name text-left">FAQ</div>
            <div class="admin-setting-item__status text-right">
              <a href="/admin-edit-faq.html" class="status">Edit</a>
            </div>
          </div>
          <div class="admin-setting-item">
            <div class="admin-setting-item__name text-left">Конфиденциальность</div>
            <div class="admin-setting-item__status text-right">
              <a href="/admin-edit-privacy.html" class="status">Edit</a>
            </div>
          </div>
          <div class="admin-setting-item">
            <div class="admin-setting-item__name text-left">Условия использования</div>
            <div class="admin-setting-item__status text-right">
              <a href="/admin-edit-privacy.html" class="status">Edit</a>
            </div>
          </div>
          <div class="admin-setting-item">
            <div class="admin-setting-item__name text-left">Полезное</div>
            <div class="admin-setting-item__status atext-right">
              <a href="/admin-helpful.html" class="status">Edit</a>
            </div>
          </div>
          <div class="admin-setting-item">
            <div class="admin-setting-item__name text-left">Отзывы</div>
            <div class="admin-setting-item__status text-right">
              <a href="/admin-reviews.html" class="status">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html