//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-requests">

        <div class="admin-requests-list">

          <div class="admin-requests-item admin-requests-item_send  d-flex flex-column admin-section-card_basic ">
            <div class="d-flex flex-row justify-content-between">
              <div class="admin-requests-item__status">
                <div class="admin-requests-item__status__tr"></div>
              </div>
              <div class="admin-requests-item__left d-flex flex-column">
                 <div class="admin-requests-item__left__top d-flex flex-row align-items-center">
                   <div class="admin-staff-item__personal__img"><img src="/images/svg/male-user-shadow.svg" alt=""></div>
                   <div class="admin-staff-item__personal__name">helen.smith@gmail.com</div>
                 </div>
                 <p>After seeing all the centralized attempts fail, Satoshi tried to build This decision became the birth of cryptocurrency. They are the some. After seeing all the centralized att. This decision became the birth of cryptocurrency. They are the some. This decision became the birth of cryptocurrency. They are the some.  birth of cryptocurrency. </p>
              </div>
              <div class="admin-request-item__right d-flex flex-column justify-content-between">
                <div class="admin-requests-item__left__top align-content-start d-flex flex-row justify-content-end">
                  <a href="" class="admin-requests-item__btn admin-requests-item__btn_active admin-requests-item__btn_reply">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1240.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Reply"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="reply-(1)" transform="translate(6.000000, 7.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M5.6248125,2.51290155 L4.4998125,2.51290155 L4.4998125,0.440362694 C4.4998125,0.268756477 4.4045625,0.115388601 4.2605625,0.0532124352 C4.1165625,-0.00813471503 3.9523125,0.0349740933 3.8473125,0.161813472 L0.0973125,4.72139896 C-0.0324375,4.87891192 -0.0324375,5.12015544 0.0973125,5.27849741 L3.8473125,9.8380829 C3.9200625,9.92595855 4.0213125,9.97404145 4.1248125,9.97404145 C4.1705625,9.97404145 4.2163125,9.96492228 4.2605625,9.94668394 C4.4045625,9.88450777 4.4998125,9.7311399 4.4998125,9.55953368 L4.4998125,7.48699482 L5.5430625,7.48699482 C7.6835625,7.48699482 9.7565625,8.3342487 11.3810625,9.87455959 C11.4913125,9.97984456 11.6495625,10.003886 11.7815625,9.93590674 C11.9150625,9.86875648 11.9998125,9.72119171 11.9998125,9.55953368 C11.9998125,5.67393782 9.1400625,2.51290155 5.6248125,2.51290155 Z M5.5430625,6.65797927 L4.1248125,6.65797927 C3.9178125,6.65797927 3.7498125,6.84367876 3.7498125,7.07248705 L3.7498125,8.48761658 L0.8818125,4.99994819 L3.7498125,1.51227979 L3.7498125,2.92740933 C3.7498125,3.15621762 3.9178125,3.3419171 4.1248125,3.3419171 L5.6248125,3.3419171 C7.1270625,3.3419171 8.5400625,3.98854922 9.6020625,5.16243523 C10.4698125,6.12160622 11.0195625,7.33943005 11.1913125,8.65756477 C9.5488125,7.36264249 7.5740625,6.65797927 5.5430625,6.65797927 Z" id="Shape"></path></g></g></g></g></g></svg>
                  </a>
                </div>
                <span class="admin-requests-item__time">2 hours ago</span>
              </div>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="">Answer</label>
              <textarea rows="3" ></textarea>
              <div class="text-right user-account-admin-right__btn">
                <div class="btn btn-sm-admin btn-disabled">CANCEL</div>
                <div class="btn btn-sm-admin btn-default">SEND</div>
              </div>
            </div>
            
            
            
          </div>
      
    </div>
  </div>
//= layouts/base-end.html