//= layouts/base-start-admin.html
  <div class="container">
    <div class="text-center">
      <div class="admin-register">
        <img src="/images/svg/login-admin.svg" alt="">
        <div class="section-title">Topup-balance.com</div>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Логин">
            <input type="password" class="form-control" placeholder="Пароль">
            <button type="submit" class="btn btn-default">ВОЙТИ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
//= layouts/popups.html
//= layouts/base-end.html