//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="user-account-admin admin-section-card admin-section-card_basic">
        <form id="admin-account-staff-add">
          <div class="form-group">
            <label for="inputCountry">Country</label>
            <input type="text" class="form-control form-control-underline" id="inputCountry">
          </div>
        </form>
        <div class="text-right user-account-admin-right__btn">
          <a href="/user-account.html" class="btn btn-disabled">cancel</a>
          <button form="admin-account-staff-add" class="btn btn-default">Save</button>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html