//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="user-account-admin admin-section-card admin-section-card_basic">
        <div class="section-title text-center">Add staff</div>
        <form id="admin-account-staff-add">
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input placeholder="alex@gmail.com" type="email" class="form-control form-control-underline" id="inputEmail">
          </div>
          <div class="form-group form-password">
            <label for="inputPassword">System password</label>
            <div class="input-group group-password">
              <input type="password" class="form-control form-control-underline form-control-underline_pass" id="inputPassword">
              <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
            </div>
          </div>
        </form>
        <div class="text-right user-account-admin-right__btn">
          <a href="/user-account.html" class="btn btn-disabled">cancel</a>
          <button form="admin-account-staff-add" class="btn btn-default">Save</button>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html