//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-reviews">
        <div class="admin-top">
          <div class="row">
            <div class="col text-left align-self-center">
              <a href="" class="admin-top__back-btn">
                <svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path class="color" id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg>
              </a>
            </div>
            <div class="col text-center align-self-center">
              <div class="admin-top__heading">Reviews</div>
            </div>
            <div class="col text-right align-self-center">
              <a href="/admin-review-create.html" class="btn btn-default admin-top__btn">ADD</a>
            </div>
          </div>
        </div>
        <div class="admin-reviews-list admin-requests-list">

          <div class="admin-requests-item admin-reviews-item admin-section-card_basic d-flex flex-row justify-content-between">
            <div class="admin-requests-item__status">
              <div class="admin-requests-item__status__tr"></div>
            </div>
            <div class="admin-requests-item__left d-flex flex-column">
               <div class="admin-requests-item__left__top d-flex flex-row align-items-center">
                 <div class="admin-staff-item__personal__name">Loretta Francis</div>
                 <a href="" class="admin-requests-item__section-indicator d-flex flex-row align-items-center">
                   <span>Facebook</span>
                 </a>
               </div>
               <div class="admin-reviews-item__date">
                 12.08.18
               </div>
               <p>The best live TV streaming services provide more flexibility than cable. You can live stream tv channels as they air while paying a month-to-month fee — no need to sign a long-term contract, and no need to pay a $200 penalty if you want to end your contract early. For this review, we didn't look at popular.</p>
            </div>
            <div class="admin-request-item__right d-flex flex-column justify-content-between">
              <div class="admin-requests-item__left__top align-content-start d-flex flex-row justify-content-end">
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <span class="admin-requests-item__time">2 hours ago</span>
            </div>
          </div>

          <div class="admin-requests-item admin-reviews-item admin-section-card_basic d-flex flex-row justify-content-between">
            <div class="admin-requests-item__status">
              <div class="admin-requests-item__status__tr"></div>
            </div>
            <div class="admin-requests-item__left d-flex flex-column">
               <div class="admin-requests-item__left__top d-flex flex-row align-items-center">
                 <div class="admin-staff-item__personal__name">Loretta Francis</div>
                 <a href="" class="admin-requests-item__section-indicator d-flex flex-row align-items-center">
                   <span>Facebook</span>
                 </a>
               </div>
               <div class="admin-reviews-item__date">
                 12.08.18
               </div>
               <p>The best live TV streaming services provide more flexibility than cable. You can live stream tv channels as they air while paying a month-to-month fee — no need to sign a long-term contract, and no need to pay a $200 penalty if you want to end your contract early. For this review, we didn't look at popular.</p>
            </div>
            <div class="admin-request-item__right d-flex flex-column justify-content-between">
              <div class="admin-requests-item__left__top align-content-start d-flex flex-row justify-content-end">
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <span class="admin-requests-item__time">2 hours ago</span>
            </div>
          </div>

          <div class="admin-requests-item admin-reviews-item admin-section-card_basic d-flex flex-row justify-content-between">
            <div class="admin-requests-item__status">
              <div class="admin-requests-item__status__tr"></div>
            </div>
            <div class="admin-requests-item__left d-flex flex-column">
               <div class="admin-requests-item__left__top d-flex flex-row align-items-center">
                 <div class="admin-staff-item__personal__name">Loretta Francis</div>
                 <a href="" class="admin-requests-item__section-indicator d-flex flex-row align-items-center">
                   <span>Twitter</span>
                 </a>
               </div>
               <div class="admin-reviews-item__date">
                 12.08.18
               </div>
               <p>The best live TV streaming services provide more flexibility than cable. You can live stream tv channels as they air while paying a month-to-month fee — no need to sign a long-term contract, and no need to pay a $200 penalty if you want to end your contract early. For this review, we didn't look at popular.</p>
            </div>
            <div class="admin-request-item__right d-flex flex-column justify-content-between">
              <div class="admin-requests-item__left__top align-content-start d-flex flex-row justify-content-end">
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <span class="admin-requests-item__time">2 hours ago</span>
            </div>
          </div>

          <div class="admin-requests-item admin-reviews-item admin-section-card_basic d-flex flex-row justify-content-between">
            <div class="admin-requests-item__status">
              <div class="admin-requests-item__status__tr"></div>
            </div>
            <div class="admin-requests-item__left d-flex flex-column">
               <div class="admin-requests-item__left__top d-flex flex-row align-items-center">
                 <div class="admin-staff-item__personal__name">Loretta Francis</div>
                 <a href="" class="admin-requests-item__section-indicator d-flex flex-row align-items-center">
                   <span>Facebook</span>
                 </a>
               </div>
               <div class="admin-reviews-item__date">
                 12.08.18
               </div>
               <p>The best live TV streaming services provide more flexibility than cable. You can live stream tv channels as they air while paying a month-to-month fee — no need to sign a long-term contract, and no need to pay a $200 penalty if you want to end your contract early. For this review, we didn't look at popular.</p>
            </div>
            <div class="admin-request-item__right d-flex flex-column justify-content-between">
              <div class="admin-requests-item__left__top align-content-start d-flex flex-row justify-content-end">
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <span class="admin-requests-item__time">2 hours ago</span>
            </div>
          </div>

          <div class="admin-requests-item admin-reviews-item admin-section-card_basic d-flex flex-row justify-content-between">
            <div class="admin-requests-item__status">
              <div class="admin-requests-item__status__tr"></div>
            </div>
            <div class="admin-requests-item__left d-flex flex-column">
               <div class="admin-requests-item__left__top d-flex flex-row align-items-center">
                 <div class="admin-staff-item__personal__name">Loretta Francis</div>
                 <a href="" class="admin-requests-item__section-indicator d-flex flex-row align-items-center">
                   <span>Facebook</span>
                 </a>
               </div>
               <div class="admin-reviews-item__date">
                 12.08.18
               </div>
               <p>The best live TV streaming services provide more flexibility than cable. You can live stream tv channels as they air while paying a month-to-month fee — no need to sign a long-term contract, and no need to pay a $200 penalty if you want to end your contract early. For this review, we didn't look at popular.</p>
            </div>
            <div class="admin-request-item__right d-flex flex-column justify-content-between">
              <div class="admin-requests-item__left__top align-content-start d-flex flex-row justify-content-end">
                <a href="" class="admin-requests-item__btn admin-requests-item__btn_close">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Admin/Requests" transform="translate(-1280.000000, -303.000000)"><g id="Group-19" transform="translate(1240.000000, 303.000000)"><g id="Delete" transform="translate(40.000000, 0.000000)"><g id="Group-7"><rect class="btn-form" id="Rectangle-6" stroke="#D0D8E2" fill="#FFFFFF" x="0.5" y="0.5" width="23" height="23" rx="8"></rect><g class="btn-icon" id="cancel" transform="translate(8.000000, 8.000000)" fill="#98A6B4" fill-rule="nonzero"><path d="M4.70263235,4.14092647 L8.16551471,0.678044118 C8.32063235,0.522926471 8.32063235,0.271455882 8.16551471,0.116338235 C8.01039706,-0.0387794118 7.75892647,-0.0387794118 7.60380882,0.116338235 L4.14092647,3.57922059 L0.678044118,0.116867647 C0.522926471,-0.03825 0.271455882,-0.03825 0.116338235,0.116867647 C-0.0387794118,0.271985294 -0.0387794118,0.523455882 0.116338235,0.678573529 L3.57922059,4.14145588 L0.116867647,7.60380882 C-0.03825,7.75892647 -0.03825,8.01039706 0.116867647,8.16551471 C0.194691176,8.24280882 0.295808824,8.28198529 0.397455882,8.28198529 C0.499102941,8.28198529 0.60075,8.24333824 0.678044118,8.16551471 L4.14092647,4.70263235 L7.60380882,8.16551471 C7.68163235,8.24280882 7.78275,8.28198529 7.88439706,8.28198529 C7.98604412,8.28198529 8.08769118,8.24333824 8.16498529,8.16551471 C8.32010294,8.01039706 8.32010294,7.75892647 8.16498529,7.60380882 L4.70263235,4.14092647 Z" id="Shape"></path></g></g></g></g></g></g></svg>
                </a>
              </div>
              <span class="admin-requests-item__time">2 hours ago</span>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination admin-pagination with-indicator justify-content-center">
              <li class="page-item">
                <a class="page-link prev" href="#"><svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg></a>
              </li>

              <div class="page-items-list d-flex flex-row">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
              </div>

              <li class="page-item">
                <a class="page-link next" href="#"><svg width="4px" height="7px" viewBox="0 0 6 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Main-page-social-(eng)" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI/Icon/Arrow-right"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" x="0" y="0" width="4" height="7"></rect><path id="Shape" d="M5.6763285,12.8862069 C5.59903382,12.962069 5.50241546,13 5.39613527,13 C5.28985507,13 5.19323671,12.962069 5.11594203,12.8862069 C4.96135266,12.7344828 4.96135266,12.487931 5.11594203,12.3362069 L10.0434783,7.5 L5.11594203,2.6637931 C4.96135266,2.51206897 4.96135266,2.26551724 5.11594203,2.1137931 C5.2705314,1.96206897 5.52173913,1.96206897 5.6763285,2.1137931 L10.884058,7.225 C11.0386473,7.37672414 11.0386473,7.62327586 10.884058,7.775 L5.6763285,12.8862069 Z" id="Shape" fill="#0b284c" fill-rule="nonzero"></path></g></g></g></g></g></g></svg></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
        
    </div>
  </div>
//= layouts/base-end.html