//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-service user-account-admin admin-section-card admin-section-card_basic">
        <div class="row">
          <div class="col">
            <a href="" class="admin-top__back-btn">
              <svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path class="color" id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg>
            </a>
          </div>
          <div class="col">
            <div class="section-title text-center">WhatsApp</div>
          </div>
          <div class="col"></div>
        </div>
        
        <div class="user-account-image">
          <div class="img-user-big">
            <img src="/images/svg/whatsapp.svg" style="padding: 20px" alt="">
          </div>
        </div>
        <form>
          <div class="form-group">
            <label for="">Country</label>
            <div class="admin-post-create__input">
              <div class="custom-select with-search">
                <input class="search" type="search" placeholder="Search country">
                <select>
                  <option value="">Select your country</option>
                  <option value="1">China</option>
                  <option value="1">France</option>
                  <option value="2">India</option>
                  <option selected value="3">Russia</option>
                  <option value="4">Spain</option>
                  <option value="5">United Arab Emirates</option>
                  <option value="6">United Kingdom</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Service name</label>
            <input readonly="readonly" value="WhatsApp" type="text" class="form-control form-control-underline">
          </div>
          <div class="form-group">
            <label>Currency</label>
            <input readonly="readonly" value="USD" type="text" class="form-control form-control-underline">
          </div>
          
          <div class="form-group">
            <label>Possible amount of refill</label>
            <div class="admin-service-amount__card-list d-flex flex-row flex-wrap">
              <div class="admin-service-amount__card d-flex align-items-center justify-content-between">
                <span class="admin-service-amount__card__value">10</span>
                <span class="admin-service-amount__card__currency">USD</span>
              </div>
              
              <div class="admin-service-amount__card d-flex align-items-center justify-content-between">
                <span class="admin-service-amount__card__value">10</span>
                <span class="admin-service-amount__card__currency">USD</span>
              </div>
              
              <div class="admin-service-amount__card d-flex align-items-center justify-content-between">
                <span class="admin-service-amount__card__value">10</span>
                <span class="admin-service-amount__card__currency">USD</span>
              </div>
              
              <div class="admin-service-amount__card d-flex align-items-center justify-content-between">
                <span class="admin-service-amount__card__value">10</span>
                <span class="admin-service-amount__card__currency">USD</span>
              </div>
              
            </div>
            
            
            
          </div>
          
        </form>
        <div class="text-right user-account-admin-right__btn">
          <a href="" class="btn btn-disabled btn-sm-admin">DELETE</a>
          <a href="/admin-service-edit.html" class="btn btn-default btn-sm-admin">edit</a>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html