//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-review-create admin-post-create admin-section-card admin-section-card_basic d-flex flex-column">
        <div class="section-title text-center">Add review</div>
        <div class="admin-post-create__title">
          Full Name
        </div>
        <div class="admin-post-create__name">
          Robert Crawford
        </div>
        <div class="admin-post-create__title">
          Date
        </div>
        <div class="admin-post-create__date">
          12.09.18
        </div>
        <div class="admin-post-create__title">
          Review
        </div>
        <div class="form-group form-group-admin-textarea d-flex flex-column">
          <textarea rows="4"></textarea>
        </div>
        <div class="admin-post-create__title">
          Link to the review
        </div>
        <a class="admin-post-create__link" href="">https://twitter.com/richardbranson/status/1017748018857115648</a>
        <div class="text-right mt-auto user-account-admin-right__btn">
          <a href="/user-account.html" class="btn btn-disabled btn-sm-admin">cancel</a>
          <button form="admin-account-edit" class="btn btn-default btn-sm-admin">Save</button>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html