//= layouts/base-start-admin.html
  //= layouts/navbar-admin.html
  <div class="admin-section">
    //= layouts/navbar-admin-side.html
    <div class="container admin-container">
      <div class="admin-service-view admin-section-card admin-section-card_basic">
        <div class="admin-top">
          <div class="row">
            <div class="col text-left align-self-center">
              <a href="" class="admin-top__back-btn">
                <svg version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="4px" height="7px" viewBox="-247 247 4 7" enable-background="new -247 247 4 7" xml:space="preserve"><g id="_x2D_English-1440"><g id="_x31_440-Main-page-social-_x28_eng_x29_" transform="translate(-785.000000, -3733.000000)"><g id="Reviews" transform="translate(90.000000, 3238.000000)"><g id="Group-44" transform="translate(555.000000, 487.000000)"><g id="right-arrow" transform="translate(135.000000, 6.000000)"><g id="UI_x2F_Icon_x2F_Arrow-right"><rect id="Rectangle-2" x="-237.4" y="252.8" fill="#FFFFFF" fill-opacity="0" width="2.5" height="4.5"/><path class="color" id="Shape" fill="#0B284C" d="M-238.5,249.1c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.3,0,0.3l-3.1,3.1l3.1,3.1c0.1,0.1,0.1,0.3,0,0.3c-0.1,0.1-0.3,0.1-0.4,0l-3.3-3.3c-0.1-0.1-0.1-0.3,0-0.4L-238.5,249.1z"/></g></g></g></g></g></g></svg>
              </a>
            </div>
            <div class="col text-center align-self-center">
              <div class="admin-top__heading">Communication</div>
            </div>
            <div class="col text-right">
              <div class="admin-country-top">
                <a class="nav-link d-row" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="">Belarus<img src="/images/svg/blue-down-arrow.svg" data-toggle="collapse" alt=""></a>
                <ul class="user-menu collapse">
                  <div class="collapse-content">
                    <li class='menu-item'><a href="">Russia</a></li>
                    <li class='menu-item'><a href="">USA</a></li>
                    <li class='menu-item'><a href="">Spain</a></li>
                    <li class='menu-item add'><a href="/admin-add-country.html">Add country</a></li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="admin-service-view__card-list d-flex flex-row flex-wrap">
          <div class="admin-service-view__card">
            <div class="admin-service-view__card__top">
              МТС
            </div>
            <div class="admin-service-view__card__bottom">
              <img src="/images/services/mts.png" alt="">
            </div>
          </div>
          <div class="admin-service-view__card">
            <div class="admin-service-view__card__top">
              Skype
            </div>
            <div class="admin-service-view__card__bottom">
              <img src="/images/services/skype.png" alt="">
            </div>
          </div>
          <div class="admin-service-view__card">
            <div class="admin-service-view__card__top">
              Velcom
            </div>
            <div class="admin-service-view__card__bottom">
              <img src="/images/services/velcom.png" alt="">
            </div>
          </div>
          <div class="admin-service-view__card">
            <div class="admin-service-view__card__top">
              Viber
            </div>
            <div class="admin-service-view__card__bottom">
              <img src="/images/services/viber.png" alt="">
            </div>
          </div>
          <div class="admin-service-view__card">
            <div class="admin-service-view__card__top">
             Life
            </div>
            <div class="admin-service-view__card__bottom">
              <img src="/images/services/life.png" alt="">
            </div>
          </div>
        </div>
        
        
          <div class="text-center">
            <a href="/admin-service-edit.html" class="btn btn-default btn-sm-admin ">ADD</a>
          </div>
        
        
      </div>
    </div>
  </div>
//= layouts/base-end.html