//= layouts/base-start.html
  //= layouts/navbar-main.html
  <div class="login-register-form">
    <div class="main-heading">Forgot password?</div>
    <div class="sub-heading">Enter your email and we will send you an email with <br>instructions on how to recover your password</div>
    <form>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control form-control-underline" id="inputEmail">
        <div class="text-center">
          <button type="submit" href="" class="btn btn-default">SEND</button>
        </div>
      </div>
    </form>
    
  </div>
//= layouts/popups.html
//= layouts/base-end.html