//= layouts/base-start-arab.html
  //= layouts/navbar-main-arab.html
  <div class="login-register-form">
    <div class="main-heading">نسيت كلمة المرور؟</div>
    <div class="sub-heading">أدخل بريدك الإلكتروني وسنرسل لك رسالةتتضمن تعليمات حول كيفية <br>استرداد كلمة المرور الخاصة بك</div>
    <form>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control form-control-underline" id="inputEmail">
        <div class="text-center">
          <button type="submit" href="" class="btn btn-default">إرسال </button>
        </div>
      </div>
    </form>
    
  </div>
//= layouts/popups-arab.html
//= layouts/base-end.html