//= layouts/base-start.html
  <div id="fade-wrapper"></div>
  //= layouts/navbar-main.html
  <section class="masthead fill ">
    <div class="container fill">
      <div class="d-flex fill">
        <div class="row d-flex align-items-end masthead-top">
          <div class="col-12 col-md-8 col-lg-8">
            <div class="row">
              <div class="col-md-11 col-lg-12 col-xl-9">
                <h1>Top up your mobile with cryptocurrency</h1>
                <p>In whatever country you are, refill the balance in any convenient way for you. Your funds will be delivered instantly and with a minimum commission.</p>
              </div>
            </div>

            <form class="select-input-btn">
              <div class="form-group form-control-and-form-select d-flex flex-row">
                <select class="form-control form-control-select" id="exampleFormControlSelect1">
                  <option>ENG</option>
                  <option>RUS</option>
                </select>
                <input type="phone" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Phone number">
              </div>
              <a href="top-up-balance.html" class="btn btn-default">top up</a>
            </form> 
          </div>
          <div class="d-none d-md-block col-md-4 col-lg-4">
            <div class="slider-wrap">
              <div id="card-slider" class="slider">

                <!-- Item 1 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image">
                      <img src="/images/payment/neo-icon.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+86 *** **** 8943</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="/images/services/china-mobile.png" alt="">
                        <p class="animation-card_content_date">10.05.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    15
                    <span class="align-self-start">$</span>
                  </div>
                </div>

                <!-- Item 2 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image">
                      <img src="/images/payment/2000px-Ethereum_logo_2014.svg.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+44 **** ** 1191</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/new-vodafone-logo-png-latest.png" alt="">
                        <p class="animation-card_content_date ">21.06.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    31
                    <span class="align-self-start">$</span>
                  </div>
                </div>

                <!-- Item 3 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image">
                      <img src="/images/payment/litecoin.svg" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+7 *** *** 8963</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/mts.png" alt="">
                        <p class="animation-card_content_date ">23.07.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    29
                    <span class="align-self-start">$</span>
                  </div>
                </div>

                <!-- Item 4 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image">
                      <img src="/images/payment/bitcoin-png-48.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+47 **** ** 421</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/telenor-logo.png" alt="">
                        <p class="animation-card_content_date ">24.07.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    19
                    <span class="align-self-start">$</span>
                  </div>
                </div>

                <!-- Item 5 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image">
                      <img src="/images/payment/bitcoin-png-48.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+1 *** *** 4966</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/verizon-logo-1332-x-828.png" alt="">
                        <p class="animation-card_content_date ">01.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    13
                    <span class="align-self-start">$</span>
                  </div>
                </div>

                <!-- Item 6 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/2000px-Ethereum_logo_2014.svg.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+91 ***** * 8732</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/airtel-logo.png" alt="">
                        <p class="animation-card_content_date ">01.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    14
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 7 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/litecoin.svg" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+90 *** *** 8950</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/turkcell-logo-1.png" alt="">
                        <p class="animation-card_content_date ">02.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    17
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 8 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/visa-logo.png" alt="">
                      <span class="if-card">** 7654</span>
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+52 **** *** 4082</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/telcel-logo-svg.png" alt="">
                        <p class="animation-card_content_date ">02.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    14
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 9 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/bitcoin-png-48.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+63 *** *** 9823</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/globe-e-1472637521994.png" alt="">
                        <p class="animation-card_content_date ">03.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    18
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 10 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/2000px-Ethereum_logo_2014.svg.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+62 **** 8531</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/invalid-name.png" alt="">
                        <p class="animation-card_content_date ">04.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    17
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 11 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/master-card-logo.png" alt="">
                      <span class="if-card">** 7654</span>
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+84 ** *** 6014</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/brasol-vn-logo-mobifone-mobifone-logo-svg.png" alt="">
                        <p class="animation-card_content_date ">04.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    21
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 12 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/2000px-Ethereum_logo_2014.svg.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+375 ** *** 9360</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/viber.svg" alt="">
                        <p class="animation-card_content_date ">05.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    20
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 13 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/bitcoin-png-48.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">+380 ** *** 4492</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/skype.png" alt="">
                        <p class="animation-card_content_date ">05.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    23
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 14 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/bitcoin-png-48.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">**** **** **** 6203</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/steam-logo.png" alt="">
                        <p class="animation-card_content_date ">05.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    10
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 15 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/tether.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">**** **** **** 3390</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/play-store-hero-desktop-1.png" alt="">
                        <p class="animation-card_content_date ">06.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    5
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 16 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/dash-logo-white-border-for-video.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">**** **** **** 5514</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/apple-itunes-gift-card-10-369-800-x-800.png" alt="">
                        <p class="animation-card_content_date ">06.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    50
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 17 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/bitcoin-png-48.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">**** **** **** 1193</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/playstation-gift-card-25.png" alt="">
                        <p class="animation-card_content_date ">06.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    20
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 18 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/neo-icon.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">**** **** **** 7720</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/http-pluspng-com-img-png-airbnb-logo-png-open-2000.png" alt="">
                        <p class="animation-card_content_date ">07.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    50
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
                <!-- Item 19 -->
                <div class="slider-item d-flex align-items-center">
                  <div class="slider-item_content d-flex align-items-center">
                    <div class="animation-card_image flex-column">
                      <img src="/images/payment/bitcoin-png-48.png" alt="">
                    </div>
                    <div class="animation-card_content">
                      <p class="animation-card_content_title">**** **** **** 4723</p>
                      <div class="animation-card_content_bottom d-flex align-items-center">
                        <img class="" src="images/services/hotels-logo-31012018.png" alt="">
                        <p class="animation-card_content_date ">07.08.2018</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-item_price d-flex align-items-center justify-content-center">
                    50
                    <span class="align-self-start">$</span>
                  </div>
                </div>
                
              </div>
            </div>  
          </div>
          
          <!-- btn-share -->
          <div class="col-md-12 mt-auto btn-share-block">
            <div class="btn-share btn-share-closed">
              <div class="social-share" id="shareSocial1">
                <a href=""><img src="/images/svg/twitter.svg" alt=""></a>
              </div>
              <div class="social-share" id="shareSocial2">
                <a href=""><img src="/images/svg/instagram.svg" alt=""></a>
              </div>
              <div class="social-share" id="shareSocial3">
                <a href=""><img src="/images/svg/facebook.svg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>
  <section class="m-top-0 top-up-your-balance">
    <div class="container">
      <h2>Top up your balance</h2>
      <div class="row justify-content-between">
        <div class="col-lg-3 col-md-4">
          <img src="/images/svg/quickly.svg" alt="">
          <h3>Quickly</h3>
          <p>Instant receipt of funds to the balance after the transaction is confirmed</p>
        </div>
        <div class="col-lg-3 col-md-4">
          <img src="/images/svg/reliably.svg" alt="">
          <h3>Reliably</h3>
          <p>We provide a safe and convenient environment for making payments in our service</p>
        </div>
        <div class="col-lg-3 col-md-4">
          <img src="/images/svg/low-cost.svg" alt="">
          <h3>Low cost</h3>
          <p>The minimum commission is 0-2% at receive a balance 0-2% at receive a balance</p>
        </div>
      </div>
    </div>
  </section>
  <section class="products-for">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>All products for USA</h2>
        </div>
        <div class="col-md-6 text-right">
          <div class="tabs-switch">
            <div class="switch-btn switch-btn_left"></div>
            <div class="switch-btn switch-btn_right"></div>
          </div>
        </div>
      </div>
      
      <ul class="nav nav-tabs justify-content-between" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="communication-tab" data-toggle="tab" href="#communication" role="tab" aria-controls="communication" aria-selected="true">Communication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="false">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="software-tab" data-toggle="tab" href="#software" role="tab" aria-controls="software" aria-selected="false">Programm Software</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="store-tab" data-toggle="tab" href="#store" role="tab" aria-controls="store" aria-selected="false">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="travel-tab" data-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="false">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">Other</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        
        <!-- Tab -->
        <div class="tab-pane fade show active" id="communication" role="tabpanel" aria-labelledby="communication-tab">
          <div class="services d-flex flex-row flex-wrap justify-content-center">
            <a href="" class="service-card d-flex justify-content-center align-items-center">
              <img src="/images/services/mts.png" alt="">
            </a>
            <a href="" class="service-card d-flex justify-content-center align-items-center">
              <img src="/images/services/velcom.png" alt="">
            </a>
            <a href="" class="service-card d-flex justify-content-center align-items-center">
              <img src="/images/services/life.png" alt="">
            </a>
            <a href="" class="service-card d-flex justify-content-center align-items-center">
              <img src="/images/services/skype.png" alt="">
            </a>
            <a href="" class="service-card d-flex justify-content-center align-items-center">
              <img src="/images/services/viber.png" alt="">
            </a>
            
            <!-- Card add-->
            <a href="" id="didnt-find" class="didnt-find-btn service-card service-card_add d-flex justify-content-center align-items-center flex-column">
              <p class="text-center">Did not find your operator?</p>
              <span>ADD</span>
            </a>
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
          
          <div class="services d-flex justify-content-center">
            
            <!-- Card add-->
            <a href="" class="didnt-find-btn service-card service-card_add d-flex justify-content-center align-items-center flex-column">
              <p class="text-center">Did not find your operator?</p>
              <span>ADD</span>
            </a>
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab-pane fade" id="software" role="tabpanel" aria-labelledby="software-tab">
          
          <div class="services d-flex justify-content-center">
            
            <!-- Card add-->
            <a href="" class="didnt-find-btn service-card service-card_add d-flex justify-content-center align-items-center flex-column">
              <p class="text-center">Did not find your operator?</p>
              <span>ADD</span>
            </a>
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab-pane fade" id="store" role="tabpanel" aria-labelledby="store-tab">
          
          <div class="services d-flex justify-content-center">
            
            <!-- Card add-->
            <a href="" class="didnt-find-btn service-card service-card_add d-flex justify-content-center align-items-center flex-column">
              <p class="text-center">Did not find your operator?</p>
              <span>ADD</span>
            </a>
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab-pane fade" id="travel" role="tabpanel" aria-labelledby="travel-tab">
          
          <div class="services d-flex justify-content-center">
            
            <!-- Card add-->
            <a href="" class="didnt-find-btn service-card service-card_add d-flex justify-content-center align-items-center flex-column">
              <p class="text-center">Did not find your operator?</p>
              <span>ADD</span>
            </a>
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
          
          <div class="services d-flex justify-content-center">
            
            <!-- Card add-->
            <a href="" class="didnt-find-btn service-card service-card_add d-flex justify-content-center align-items-center flex-column">
              <p class="text-center">Did not find your operator?</p>
              <span>ADD</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="payment-methods" id="payment-methods">
    <div class="container">
      <h2>Payment methods</h2>
      <div class="payment--cards d-flex flex-row flex-wrap justify-content-center justify-content-md-between">
        <a href="" class="payment-card d-flex justify-content-center align-items-center">
          <img src="/images/payment/bitcoin-png-48.png" alt="">
        </a>
        <a href="" class="payment-card d-flex justify-content-center align-items-center">
          <img src="/images/payment/logo-perfect-money.png" alt="">
        </a>
        <a href="" class="payment-card d-flex justify-content-center align-items-center">
          <img src="/images/payment/master-card-logo.png" alt="">
        </a>
        <a href="" class="payment-card d-flex justify-content-center align-items-center">
          <img src="/images/payment/advcash.png" alt="">
        </a>
        <a href="" class="payment-card d-flex justify-content-center align-items-center">
          <img src="/images/payment/alipay-logo.png" alt="">
        </a>
        <a href="" class="payment-card d-flex justify-content-center align-items-center">
          <img src="/images/payment/9-df-74182-ba-80-e-00-cd-0122407-b-9-ec.png" alt="">
        </a>
        <a href="" class="payment-card d-flex justify-content-center align-items-center">
          <img src="/images/payment/visa-logo.png" alt="">
        </a>
      </div>
    </div>
  </section>
  <section class="how-it-works" id="how-it-works">
    <div class="container">
      <h2>How it works</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="feature-card">
            <img src="/images/svg/blue.svg" alt="">
            <div class="center-heading">
              <h4>Select your country and operator</h4>
            </div>
            <p>We are constantly working to expand the list of countries and services</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-card">
            <img src="/images/svg/choose-sum.svg" alt="">
            <div class="center-heading d-flex align-items-center">
              <h4>Select amount</h4>
            </div>
            <p>Refill balance with a minimum commission. Every day we are looking for distributors of mobile communication on the world</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-card">
            <img src="/images/svg/pay.svg" alt="">
            <div class="center-heading">
              <h4>Pay by the way convenient for you</h4>
            </div>
            <p>Instant replenishment of your mobile after confirming the transaction</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="reviews">
    <div class="container">
      <h2>Our service is used<br>all over the world</h2>
      <div class="row align-items-start">
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Александра Иванова</p>
                <p class="date">16 Апреля, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Очень удобно и быстро. Постоянно пользуюсь сервисом для пополнения баланса себе и своей семье. </p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Олег Воронин</p>
                <p class="date">14 мая, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Большой выбор методов оплаты. Все деньги мгновенно появляются на балансе. Благодаря вашему сервису я могу пополнять баланс из любой точки. Большой выбор методов оплаты. Все деньги мгновенно появляются на балансе.</p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Настя Краснова</p>
                <p class="date">16 июля, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Самый быстрый и удобный способ оплаты и пополнения баланса. Я очень часто получаю оплату в биткоинах и сейчас могу быстро и дешево оплачивать.</p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <a href="/reviews.html" class="more">See all reviews</a>
      </div>
    </div>
  </section>
  <section class="cta-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8">
          <h2>Top up the balance now?</h2>
            <form class="select-input-btn">
              <div class="form-group form-control-and-form-select d-flex flex-row">
                <select class="form-control form-control-select" id="exampleFormControlSelect1">
                  <option>ENG</option>
                  <option>RUS</option>
                </select>
                <input type="phone" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Phone number">
              </div>
              <a href="top-up-balance.html" class="btn btn-default">top up</a>
            </form>
        </div>
        <div class="d-none col-lg-4 col-md-4 d-md-flex">
          <img class="ml-md-auto" src="images/svg/illustration.svg" alt="">
        </div>
      </div>
    </div>
  </section>
  
  
  
  //= layouts/footer-main.html
//= layouts/popups.html
//= layouts/base-end.html