//= layouts/base-start-arab.html
  //= layouts/navbar-main-arab.html
  <div class="login-register-form">
    <div class="main-heading">Welcome to topup-balance.com</div>
    <div class="sub-heading">سجل دخولك لترى تاريخ الدفعات الواردة  <br>والصادرة</div>
    <form>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control form-control-underline" id="inputEmail">
      </div>
      <div class="form-group form-password">
        <label for="inputPassword">كلمة المرور</label>
        <div class="input-group group-password">
          <input type="password" class="form-control form-control-underline form-control-underline_pass" id="inputPassword">
          <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
        </div>
        <a class="small f-pass" href="forgot-pass-arab.html">نسيت كلمة المرور؟</a>
        <div class="text-center">
          <button type="submit" href="" class="btn btn-default">LOG IN</button>
          <a href="register-arab.html" class="small cr-acc">لا يوجد حساب؟ قم بإنشاءالحساب <span>هنا</span></a>
        </div>
      </div>
      
    </form>
    
  </div>
//= layouts/popups-arab.html
//= layouts/base-end.html