//= layouts/base-start.html
  //= layouts/navbar-main.html
  <div class="login-register-form">
    <div class="main-heading">Welcome to topup-balance.com</div>
    <div class="sub-heading">Log in to see the history of your incoming and <br>outgoing refill</div>
    <form>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control form-control-underline" id="inputEmail">
      </div>
      <div class="form-group form-password">
        <label for="inputPassword">Password</label>
        <div class="input-group group-password">
          <input type="password" class="form-control form-control-underline form-control-underline_pass" id="inputPassword">
          <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
        </div>
        <a class="small f-pass" href="/forgot-pass.html">Forgot password?</a>
        <div class="text-center">
          <button type="submit" href="" class="btn btn-default">LOG IN</button>
          <a href="register.html" class="small cr-acc">No account yet? Create it <span>here</span></a>
        </div>
      </div>
      
    </form>
    
  </div>
//= layouts/popups.html
//= layouts/base-end.html