//= layouts/base-start.html
  //= layouts/navbar-main.html
  <section class="maintenance">
    <div class="container">
      <div class="text-center">
        <h2>Maintenance Mode</h2>
        <p>Our website is currently undergoing scheduled maintenance. <br>
        Sorry for the inconvenience.</p>
        <form id="mobile-reorder__maintenance__form">
          <div class="form-group">
            <label for="exampleInputMailMaint">Notify me when it’s ready</label>
            <div class="input-button">
              <input type="email" class="form-control" id="exampleInputMailMaint" aria-describedby="phoneHelp" placeholder="Email">
              <button type="submit" class="btn btn-default">NOTIFY</button>
            </div>
          </div>
        </form>
        <img id="mobile-reorder__maintenance__img" src="/images/svg/maintenance.svg" alt="">
      </div>
    </div> 
  </section>
//= layouts/popups.html
//= layouts/base-end.html