//= layouts/base-start-arab.html
  //= layouts/navbar-main-arab.html
  <div class="login-register-form">
    <div class="main-heading">Create an account in topup-balance.com</div>
    <div class="sub-heading">Pay for services without commission and track the status of <br>funds sent</div>
    <form>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input placeholder="example@gmail.com" type="email" class="form-control form-control-underline " id="inputEmail">
      </div>
      <div class="form-group form-password">
        <label for="inputPassword">Password</label>
        <div class="input-group group-password">
          <input placeholder="8 to 16 characters long including at least 1 digit" type="password" class="form-control form-control-underline form-control-underline_pass" id="inputPassword">
          <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
        </div>
      </div>
      <div class="form-group form-password">
        <label for="inputPassword2">Confirm password</label>
        <div class="input-group group-password">
          <input type="password" class="form-control form-control-underline form-control-underline_pass" id="inputPassword2">
          <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
        </div>
      </div>
      <div class="form-check">
        <input class="checkbox" type="checkbox" value="" id="registerCheck">
        <label class="form-check-label" for="registerCheck">
          Subscribe to the newsletter with the latest news and new features
        </label>
      </div>
      <div class="text-center">
        <button type="submit"  class="btn btn-default">CREATE AN ACCOUNT</button>
      </div>
    </form>
    
  </div>
//= layouts/popups-arab.html
//= layouts/base-end.html