//= layouts/base-start.html
  //= layouts/navbar-main.html
  <div class="subpage">
    <div class="container">
      <div class="main-heading">Clients speaking about our service</div>
      <div class="sub-heading">We are constantly receiving reviews from our clients from different parts of the world. <br>You can see more on our pages in the following social networks</div>
      <div class="row">
        <div class="socials d-flex ml-auto mr-auto">
          <a href=""><img src="../images/svg/twitter.svg" alt=""></a>
          <a href=""><img src="../images/svg/facebook.svg" alt=""></a>
        </div>
      </div>
      
      <div class="row align-items-start">
        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Александра Иванова</p>
                <p class="date">16 Апреля, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/twitter-page.svg" alt=""></a>
            </div>
            <p class="review-text">Очень удобно и быстро. Постоянно пользуюсь сервисом для пополнения баланса себе и своей семье. </p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Олег Воронин</p>
                <p class="date">14 мая, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Большой выбор методов оплаты. Все деньги мгновенно появляются на балансе. Благодаря вашему сервису я могу пополнять баланс из любой точки. Большой выбор методов оплаты. Все деньги мгновенно появляются на балансе.</p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Настя Краснова</p>
                <p class="date">16 июля, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Самый быстрый и удобный способ оплаты и пополнения баланса. Я очень часто получаю оплату в биткоинах и сейчас могу быстро и дешево оплачивать.</p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Александра Иванова</p>
                <p class="date">16 Апреля, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Очень удобно и быстро. Постоянно пользуюсь сервисом для пополнения баланса себе и своей семье. </p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Олег Воронин</p>
                <p class="date">14 мая, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/twitter-page.svg" alt=""></a>
            </div>
            <p class="review-text">Большой выбор методов оплаты. Все деньги мгновенно появляются на балансе. Благодаря вашему сервису я могу пополнять баланс из любой точки. Большой выбор методов оплаты. Все деньги мгновенно появляются на балансе.</p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Настя Краснова</p>
                <p class="date">16 июля, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Самый быстрый и удобный способ оплаты и пополнения баланса. Я очень часто получаю оплату в биткоинах и сейчас могу быстро и дешево оплачивать.</p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Александра Иванова</p>
                <p class="date">16 Апреля, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Очень удобно и быстро. Постоянно пользуюсь сервисом для пополнения баланса себе и своей семье. </p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Олег Воронин</p>
                <p class="date">14 мая, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Большой выбор методов оплаты. Все деньги мгновенно появляются на балансе. Благодаря вашему сервису я могу пополнять баланс из любой точки. Большой выбор методов оплаты. Все деньги мгновенно появляются на балансе.</p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="review-card">
            <div class="review-card_head d-flex flex-row">
              <div class="photo">
                <img src="/images/img_lights.jpg" alt="">
              </div>
              <div class="name-date">
                <p class="name">Настя Краснова</p>
                <p class="date">16 июля, 2018</p>
              </div>
              <a href="" class="ml-auto"><img src="/images/svg/facebook-page.svg" alt=""></a>
            </div>
            <p class="review-text">Самый быстрый и удобный способ оплаты и пополнения баланса. Я очень часто получаю оплату в биткоинах и сейчас могу быстро и дешево оплачивать.</p>
            <span role="button" class="more-small more-button">Читать все</span>
            <span role="button" class="more-small less-button">Свернуть</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  //= layouts/footer-main.html
//= layouts/popups.html
//= layouts/base-end.html