//= layouts/base-start.html
  //= layouts/navbar-main.html
  <div class="top-up">
    <div class="top-up-heading text-center">
      <h3>Top up your balance</h3>
      <p>Refill your mobile balance in a convenient way for you in any country, <br> wherever you are</p>
    </div>
    <div class="top-up-main ml-auto mr-auto">
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__phone">
          + 375 (29) 123-45-67
        </div>
        <div class="top-up-main__select__edit">Edit</div>
      </div>
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__img">
          <img src="/images/flags/russia.png" alt="">
          <span>Russia</span>
        </div>
        <div class="top-up-main__select__edit">Edit</div>
      </div>
      
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__img">
          <img src="/images/services/velcom.png" alt="">
          <span>Velcom</span>
        </div>
        <div class="top-up-main__select__edit">Edit</div>
      </div>
      
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__img">
          <span>30 BYN</span>
        </div>
        <div class="top-up-main__select__edit">Edit</div>
      </div>
      
      <div class="top-up-main__select_next">
        <div class="top-up-main__select_next__label">Select a payment method</div>
        <div class="top-up-main__blocks d-flex flex-row flex-wrap">
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/payment/bitcoin-png-48.png" alt="">
          </div>
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/payment/logo-perfect-money.png" alt="">
          </div>
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/payment/master-card-logo.png" alt="">
          </div>
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/payment/advcash.png" alt="">
          </div>
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/payment/alipay-logo.png" alt="">
          </div>
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/payment/9-df-74182-ba-80-e-00-cd-0122407-b-9-ec.png" alt="">
          </div>
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/payment/visa-logo.png" alt="">
          </div>
        
        </div>
      <div class="text-center">
        <a href="/top-up-balance-3.html" class="btn btn-default">CONTINUE</a>
      </div>
      
    </div>
    
  </div>
//= layouts/popups.html
//= layouts/base-end.html