//= layouts/base-start.html
  //= layouts/navbar-main.html
  <div class="top-up">
    <div class="top-up-heading text-center">
      <h3>Top up your balance</h3>
      <p>Refill your mobile balance in a convenient way for you in any country, <br> wherever you are</p>
    </div>
    <div class="top-up-main ml-auto mr-auto">
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__phone">
          + 375 (29) 123-45-67
        </div>
        <div class="top-up-main__select__edit">Edit</div>
      </div>
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__img">
          <img src="/images/flags/russia.png" alt="">
          <span>Russia</span>
        </div>
        <div class="top-up-main__select__edit">Edit</div>
      </div>
      
      <div class="top-up-main__select_next">
        <div class="top-up-main__select_next__label">Select operator</div>
        <div class="top-up-main__blocks d-flex flex-row flex-wrap">
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/services/mts.png" alt="">
          </div>
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/services/velcom.png" alt="">
          </div>
          <div class="top-up-main__block d-flex  align-items-center justify-content-center">
            <img src="/images/services/life.png" alt="">
          </div>
          <div class="top-up-main__block top-up-main__block_service-add d-flex flex-column  align-items-center justify-content-center">
            Did not find operator?
            <span>ADD</span>
          </div>
        </div>
        
      </div>
      <div class="text-center">
        <a href="/top-up-balance-1.html" class="btn btn-default">CONTINUE</a>
      </div>
      
    </div>
    
  </div>
//= layouts/popups.html
//= layouts/base-end.html