//= layouts/base-start.html
  //= layouts/navbar-user.html
  <div class="container">
    <div class="top-up-my-account">
      <div class="section-heading">Top up your account</div>
      <div class="top-up-my-account__balance d-flex justify-content-between">
        <div class="label">Current balance</div>
        <div class="balance">0,00036600 BTC</div>
      </div>
      <div class="top-up-my-account__form">
        <div class="d-flex flex-column flex-md-row">
          <div class="qr-code"><img src="/images/svg/qr.svg" alt=""></div>
          <div class="form-group d-flex flex-column-reverse flex-md-column justify-content-between">
            <p>Send Bitcoin to this link in order to refill the balance</p>
            <input class="form-control" type="text" placeholder="335f9EwEthrPWtwU19NTCLuAvC9n96sKga">
          </div>
        </div>
        <div class="text-center">
          <div class="btn btn-default">TOP UP</div>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html