//= layouts/base-start-arab.html
  //= layouts/navbar-main-arab.html
  <div class="top-up">
    <div class="top-up-heading text-center">
      <h3>قوموا بملء رصيدكم</h3>
      <p>قم بإعادة ملء رصيد هاتفك المحمول بطريقة <br> مريحة لك في أي بلد، أينما كنت موجوداً</p>
    </div>
    <div class="top-up-main ml-auto mr-auto">
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__phone">
          + 375 (29) 123-45-67
        </div>
        <div class="top-up-main__select__edit">تغير</div>
      </div>
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__img">
          <img src="/images/flags/russia.png" alt="">
          <span>Russia</span>
        </div>
        <div class="top-up-main__select__edit">تغير</div>
      </div>
      
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__img">
          <img src="/images/services/velcom.png" alt="">
          <span>Velcom</span>
        </div>
        <div class="top-up-main__select__edit">تغير</div>
      </div>
      
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__img">
          <span>30 BYN</span>
        </div>
        <div class="top-up-main__select__edit">تغير</div>
      </div>
      
      <div class="top-up-main__select d-flex flex-row align-items-center justify-content-between">
        <div class="top-up-main__select__img">
          <img src="/images/payment/bitcoin-png-48.png" alt="">
          <span>Bitcoin</span>
        </div>
        <div class="top-up-main__select__edit">تغير</div>
      </div>
      
      
      <div class="top-up-main__select d-flex flex-column ">
        <div class="top-up-main__select__top">+ 375 (29) 123-45-67</div>
        <div class="top-up-main__select__bottom d-flex flex-row align-items-center justify-content-between">
          <div class="top-up-main__select__img">
            <span>nick@gmail.com</span>
          </div>
          <div class="top-up-main__select__edit">تغير</div>
        </div>
      </div>
      
      <div class="form-check">
        <input class="checkbox" type="checkbox" value="" id="registerCheck">
        <label class="form-check-label" for="registerCheck">
          اشترك في النشرة الإخبارية مع أحدث الأخبار والميزات الجديدة
        </label>
      </div>
      
      <div class="top-up-main__select_next">
        
        <div class="text-center">
          <div class="btn btn-default">CONFIRM</div>
          <div class="top-up-main__alert">* قبل التأكيد، يرجى التحقق من المعلومات المسجلة</div>
        </div>

      </div>
    
  </div>
//= layouts/popups-arab.html
//= layouts/base-end.html