//= layouts/base-start.html
  //= layouts/navbar-user.html
  <nav class="navbar user-submenu navbar-expand">
    <div class="container position-relative">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-history nav-link-like-tabs ml-auto mr-auto mt-2 mt-lg-0 nav justify-content-between" id="tabsUserServices" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="incoming-tab" data-toggle="tab" href="#incoming" role="tab" aria-controls="incoming" aria-selected="true">INCOMING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="outgoing-tab" data-toggle="tab" href="#outgoing" role="tab" aria-controls="outgoing" aria-selected="false">OUTGOING</a>
          </li>
        </ul>
        <ul id="mobile-reorder__user-navbar__country" class="navbar-nav user-nav-country mt-2 mt-lg-0 d-none d-md-block">
          <li class="nav-item lang nav-item-user-menu">
            <a class="nav-link d-row" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="">Belarus<img src="/images/svg/blue-down-arrow.svg" data-toggle="collapse" alt=""></a>
            <ul class="user-menu collapse">
              <div class="collapse-content">
                <li class='menu-item'><a href="">Russia</a></li>
                <li class='menu-item'><a href="">USA</a></li>
                <li class='menu-item'><a href="">Spain</a></li>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="user-panel-section">
    <div class="container">
      <div class="tab-content">

        <!-- Tab -->
        <div class="tab-pane fade show active" id="incoming" role="tabpanel" aria-labelledby="incoming-tab">
          <div class="user-history">
            <div class="user-operation-card user-operation-card_pending d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">19.07.18</div>
              <div class="operation-status">Pending</div>
            </div>
            <div class="user-operation-card user-operation-card_pending d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">19.07.18</div>
              <div class="operation-status">Pending</div>
            </div>
            <div class="user-operation-card user-operation-card_pending d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Pending</div>
            </div>
            <div class="user-operation-card user-operation-card_confirmed d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Confirmed</div>
            </div>
            <div class="user-operation-card user-operation-card_confirmed d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Confirmed</div>
            </div>
            <div class="user-operation-card user-operation-card_confirmed d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Confirmed</div>
            </div>
            <div class="user-operation-card user-operation-card_cancelled d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Cancelled</div>
            </div>
            
            <div class="gradient-more"></div>
            <div class="text-center">
              <a href="" class="more">Load more</a>
            </div>
          </div>
        </div>

        <!-- Tab -->
        <div class="tab-pane fade" id="outgoing" role="tabpanel" aria-labelledby="outgoing-tab">
          <div class="user-history">
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/bitcoin-png-48.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                <span>Booking.com</span>
                <img src="/images/services/1280-px-booking-com-logo-svg.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">Double Room – 2 nights</div>
              <div class="operation-value">– 197 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/2000px-Ethereum_logo_2014.svg.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                <span>1Password</span>
                <img src="/images/services/1-password-logo-2.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">Monthly subscription</div>
              <div class="operation-value">– 12.5 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img flex-column">
                <img src="/images/payment/visa-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                <span>Mobifone</span>
                <img src="/images/services/brasol-vn-logo-mobifone-mobifone-logo-svg.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">+ 84 ** **** 6014</div>
              <div class="operation-value">– 10 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img flex-column">
                <img src="/images/payment/master-card-logo.png" alt="">
                <span class="if-card aling-self-end">** 7654</span>
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                <span>App Store</span>
                <img src="/images/services/apple-itunes-gift-card-10-369-800-x-800.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">**** **** **** 5514</div>
              <div class="operation-value">– 199.99 $</div>
              <div class="operation-date">02.08.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/neo-icon.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                <span>AirBnb</span>
                <img src="/images/services/http-pluspng-com-img-png-airbnb-logo-png-open-2000.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">Apartment in the city center – 10 nights</div>
              <div class="operation-value">– 824 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/tether.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                <span>Steam</span>
                <img src="/images/services/steam-logo.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">**** **** **** 3390</div>
              <div class="operation-value">– 28 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            <div class="user-operation-card user-operation-card_outgoing d-flex justify-content-between align-items-center">
              <div class="operation-status-img">
                <img src="/images/payment/bitcoin-png-48.png" alt="">
              </div>
              <div class="operation-name d-flex flex-column justify-content-between">
                <span>Booking.com</span>
                <img src="/images/services/1280-px-booking-com-logo-svg.png" class="align-self-start" alt="">
              </div>
              <div class="operation-status">Double Room – 2 nights</div>
              <div class="operation-value">– 197 $</div>
              <div class="operation-date">19.07.18</div>
            </div>
            
            <div class="gradient-more"></div>
            <div class="text-center">
              <a href="" class="more">Load more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html