//= layouts/base-start.html
  //= layouts/navbar-user.html
  <div class="user-panel-section">
    <div class="container">
      <div class="user-account">
        <div class="section-title text-center">Add service</div>
        <div class="user-account-image">
          <form id="form1" runat="server">
            <div class="img-user-big">
              <input type="image" src="/images/svg/male-user-shadow.svg" class="image-upload-img" alt="">
            </div>
            <input class="image-upload-input d-none" type='file' accept="image/*" id="imgInp" />
            <div class="text-center">
              <a href="" class="image-upload more">Upload</a>
            </div>
          </form>
        </div>
        <form>
          <div class="form-group">
            <label>Country</label>
            <div class="custom-select">
              <select>
                <option value="">Choose your country</option>
                <option value="1">China</option>
                <option value="1">France</option>
                <option value="2">India</option>
                <option value="3">Russia</option>
                <option value="4">Spain</option>
                <option value="5">United Arab Emirates</option>
                <option value="6">United Kingdom</option>
              </select>
            </div>
          </div>
          <div class="form-group form-password">
            <label for="inputServiceName">Service name</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-underline form-control-underline" id="inputServiceName">
            </div>
          </div>
        </form>
        <div class="text-center">
          <a href="" class="btn btn-default">SAVE</a>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html