//= layouts/base-start.html
  //= layouts/navbar-user.html
  <nav class="navbar user-submenu navbar-expand">
    <div class="container position-relative">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse position-relative" id="">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 balance-menu" role="tablist">
          <li class="nav-item">
            <div class="balance">0,00036600 BTC</div>
          </li>
          <li class="nav-item mobile-balance-btn">
            <a href="/top-up-my-account.html" class="btn btn-secondary">Top up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="user-panel-section">
    <div class="container">
      <div class="tab-content">

        <!-- Tab -->
        <div class="tab-pane fade show active" id="incoming" role="tabpanel" aria-labelledby="incoming-tab">
          <div class="user-history">
            <div class="user-operation-card user-operation-card_confirmed d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Confirmed</div>
            </div>
            <div class="user-operation-card user-operation-card_pending d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">19.07.18</div>
              <div class="operation-status">Pending</div>
            </div>
            <div class="user-operation-card user-operation-card_pending d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Pending</div>
            </div>
            <div class="user-operation-card user-operation-card_confirmed d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Confirmed</div>
            </div>
            <div class="user-operation-card user-operation-card_cancelled d-flex justify-content-between align-items-center">
              <div class="operation-status-img"></div>
              <div class="operation-name">Deposit</div>
              <div class="operation-value">+ 0,00420400 BTC</div>
              <div class="operation-date">02.07.18</div>
              <div class="operation-status">Cancelled</div>
            </div>
            
            <!-- Load more -->
<!--
            <div class="gradient-more"></div>
            <div class="text-center">
              <a href="" class="more">Load more</a>
            </div>
-->
          </div>
        </div>

        <!-- Tab -->
        <div class="tab-pane fade" id="outgoing" role="tabpanel" aria-labelledby="outgoing-tab">
          
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html