//= layouts/base-start.html
  //= layouts/navbar-user.html
  <nav class="navbar user-submenu user-submenu_services navbar-expand">
    <div class="container position-relative">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
        <ul class="navbar-nav nav-link-like-tabs ml-auto mr-auto mt-2 mt-lg-0 nav justify-content-between justify-content-md-start" id="tabsUserServices" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="communication-tab" data-toggle="tab" href="#communication" role="tab" aria-controls="communication" aria-selected="true">Communication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="false">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="software-tab" data-toggle="tab" href="#software" role="tab" aria-controls="software" aria-selected="false">Programm Software</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="store-tab" data-toggle="tab" href="#store" role="tab" aria-controls="store" aria-selected="false">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="travel-tab" data-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="false">Travel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">Other</a>
          </li>
        </ul>
        <ul id="mobile-reorder__user-navbar__country" class="navbar-nav user-nav-country mt-2 mt-lg-0">
          <li class="nav-item lang nav-item-user-menu">
            <a class="nav-link d-row" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls=""><span class="nav-item-user-menu__country">Belarus</span><span class="nav-item-user-menu__country_mobile"><img src="/images/flags/flag-belarusi.png" alt=""></span><img src="/images/svg/blue-down-arrow.svg" data-toggle="collapse" alt=""></a>
            <ul class="user-menu collapse">
              <div class="collapse-content">
                <li class='menu-item active'><a href="">Russia</a></li>
                <li class='menu-item'><a href="">USA</a></li>
                <li class='menu-item'><a href="">Spain</a></li>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="user-panel-section">
    <div class="container">
      <div class="tab-content">

        <!-- Tab -->
        <div class="tab-pane fade show active" id="communication" role="tabpanel" aria-labelledby="communication-tab">
          <div class="user-services">
            <div class="section-title text-center">Available services in Belarus</div>
            <div class="services d-flex flex-row flex-wrap justify-content-center">
              <a href="" class="service-card d-flex justify-content-center align-items-center">
                <img src="/images/services/mts.png" alt="">
              </a>
              <a href="" class="service-card d-flex justify-content-center align-items-center">
                <img src="/images/services/velcom.png" alt="">
              </a>
              <a href="" class="service-card d-flex justify-content-center align-items-center">
                <img src="/images/services/life.png" alt="">
              </a>
              <a href="" class="service-card d-flex justify-content-center align-items-center">
                <img src="/images/services/skype.png" alt="">
              </a>
              <a href="" class="service-card d-flex justify-content-center align-items-center">
                <img src="/images/services/viber.png" alt="">
              </a>

              <!-- Card add-->
              <a href="/user-service-add.html" class="service-card service-card_add d-flex justify-content-center align-items-center flex-column">
                <p class="text-center">Did not find your operator?</p>
                <span>ADD</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Tab -->
        <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
          <div class="no-service-available text-center">
            <div class="section-title">No services available :(</div>
            <p>Send a request for the service you would like to add. <br> 
            We will send you a notification as soon as the service appears.</p>
            <img src="/images/svg/no-service.svg" alt="">
            <div class="text-center">
              <a href="" class="btn btn-default">SEND A REQUEST</a>
            </div>
          </div>
        </div>

        <!-- Tab -->
        <div class="tab-pane fade" id="software" role="tabpanel" aria-labelledby="software-tab">
          <div class="no-service-available text-center">
            <div class="section-title">No services available :(</div>
            <p>Send a request for the service you would like to add. <br> 
            We will send you a notification as soon as the service appears.</p>
            <img src="/images/svg/no-service.svg" alt="">
            <div class="text-center">
              <a href="" class="btn btn-default">SEND A REQUEST</a>
            </div>
          </div>
        </div>

        <!-- Tab -->
        <div class="tab-pane fade" id="store" role="tabpanel" aria-labelledby="store-tab">
          <div class="no-service-available text-center">
            <div class="section-title">No services available :(</div>
            <p>Send a request for the service you would like to add. <br> 
            We will send you a notification as soon as the service appears.</p>
            <img src="/images/svg/no-service.svg" alt="">
            <div class="text-center">
              <a href="" class="btn btn-default">SEND A REQUEST</a>
            </div>
          </div>
        </div>

        <!-- Tab -->
        <div class="tab-pane fade" id="travel" role="tabpanel" aria-labelledby="travel-tab">
          <div class="no-service-available text-center">
            <div class="section-title">No services available :(</div>
            <p>Send a request for the service you would like to add. <br> 
            We will send you a notification as soon as the service appears.</p>
            <img src="/images/svg/no-service.svg" alt="">
            <div class="text-center">
              <a href="" class="btn btn-default">SEND A REQUEST</a>
            </div>
          </div>
        </div>

        <!-- Tab -->
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
          <div class="no-service-available text-center">
            <div class="section-title">No services available :(</div>
            <p>Send a request for the service you would like to add. <br> 
            We will send you a notification as soon as the service appears.</p>
            <img src="/images/svg/no-service.svg" alt="">
            <div class="text-center">
              <a href="" class="btn btn-default">SEND A REQUEST</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html