//= layouts/base-start.html
  //= layouts/navbar-user.html
  <div class="user-panel-section">
    <div class="container">
      <div class="user-account">
        <div class="section-title text-center">My account</div>
        <div class="user-account-image">
          <div class="img-user-big">
            <img src="/images/svg/male-user-shadow.svg" alt="">
          </div>
        </div>
        <form>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input value="alex@gmail.com" readonly="readonly" placeholder="alex@gmail.com" type="email" class="form-control form-control-underline" id="inputEmail">
          </div>
          <div class="form-group form-password">
            <label for="inputPassword">Password</label>
            <div class="input-group group-password">
              <input value="12345678" readonly="readonly" type="password" class="form-control form-control-underline form-control-underline_pass" id="inputPassword">
              <a class="show-hide-pass" href=""><img class="hide-pass-eye" src="images/svg/view.svg" alt=""></a>
            </div>
          </div>
        </form>
        <div class="text-center">
          <a href="/user-account-edit.html" class="btn btn-disabled">edit</a>
        </div>
      </div>
    </div>
  </div>
//= layouts/base-end.html