
<footer class="footer-index">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
          <ul>
            <li><a href="index-arab.html#how-it-works">كيف هذا يعمل؟</a></li>
            <li><a href="reviews.html">وصف لمنتجنا </a></li>
            <li><a id="faq_footer" href="">FAQ</a></li>
          </ul>


          <ul>
            <li><a href="index-arab.html#payment-methods">PAYMENT METHODS</a></li>
            <li><a id="popup-partnership" href="">التعاون</a></li>
            <li><a id="popup-ideas" href="">أفكاركم</a></li>
          </ul>


          <ul>
            <li><a href="helpful.html">مفيد</a></li>
            <li><a id="terms-and-conditions" href="">شروط الإستخدام</a></li>
            <li><a id="privacy-policy" href="">السرية</a></li>
          </ul>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 d-flex">
        <div class="mr-lg-auto ml-0">
          <div class="socials d-flex">
            <a href=""><img src="/images/svg/reddit.svg" alt=""></a>
            <a href=""><img src="/images/svg/facebook.svg" alt=""></a>
            <a href=""><img src="/images/svg/instagram.svg" alt=""></a>
            <a href=""><img src="/images/svg/twitter.svg" alt=""></a>
          </div>
         <p class="copyright">© 2018, Topup-balance.com</p>
        </div>
      </div>
    </div>

  </div>
</footer>