<nav id="mainNav" class="navbar navbar-user navbar-expand-md sticky-nav">
  
  <!-- Mobile Nav -->
  <nav class="mobile-side-navbar">
    <div class="mobile-side-navbar__top">
      
    </div>
    <div class="menu-nav">
      <a class="nav-link active" href="/user-services.html">services</a>
      <a class="nav-link" href="/user-history.html">HISTORY</a>
    </div>
    <div class="menu-img">
      <img src="/images/mobile-menu.png" alt="">
    </div>
  </nav>
  
  <div class="container">
    <a class="navbar-brand" href="index.html"><img src="/images/svg/logo.svg" alt=""></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="navbar-mobile-toggler">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/user-services.html">services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user-history.html">HISTORY</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item nav-item-user-menu d-flex flex-row" id="mobile-reorder__navbar__lang">
          <a href="/user-account.html" class="img-user-small align-self-center">
            <img src="/images/svg/male-user-shadow.svg" alt="">
          </a>
          <a class="nav-link" data-toggle="collapse" href="#collapseLang" role="button" aria-expanded="false" aria-controls="collapseLang">elena.orlova@gmail.com<img src="/images/svg/gray-down-arrow.svg" data-toggle="collapse" alt=""></a>
          <ul class="user-menu collapse" id="collapseLang" >
            <div class="collapse-content">
              <li class='menu-item active'><a href="/user-account.html">My account</a></li>
              <li class='menu-item'><a href="/user-balance.html">Balance</a></li>
              <li class='menu-item log-out'><a href="">Log out</a></li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>