<nav id="mainNav" class="navbar navbar-admin navbar-expand-md sticky-nav">
  <a class="navbar-brand" href="index.html"><img src="/images/svg/logo.svg" alt=""></a>
  <div class="container admin-container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item nav-item-user-menu nav-item-notification d-felx flex-row">
          <a class="nav-link" data-toggle="collapse" href="#collapseNotif" role="button" aria-expanded="false" aria-controls="collapseNotif"><img src="/images/svg/notification.svg" data-toggle="collapse" alt=""></a>
          <ul class="user-menu collapse user-menu-notifications" id="collapseNotif">
            <div class="collapse-content">
              <li class='menu-item active'>
                <a class="d-flex" href="">
                  <div class="flex-wrap d-flex">
                    <span class="notification-text ">Your receivead a new message in the module <strong>Your Ideas</strong></span>
                    <span class="notification-time">2 hours ago</span>
                  </div>
                </a>
              </li>
              <li class='menu-item'>
                <a class="d-flex" href="">
                  <div class="flex-wrap d-flex">
                    <span class="notification-text ">Your receivead a new message in the module <strong>Partnership</strong></span>
                    <span class="notification-time">2 hours ago</span>
                  </div>
                </a>
              </li>
              <li class='menu-item'>
                <a class="d-flex" href="">
                  <div class="flex-wrap d-flex">
                    <span class="notification-text">Your receivead a new message in the module <strong>Contact</strong></span>
                    <span class="notification-time">2 hours ago</span>
                  </div>
                </a>
              </li>
              <li class='menu-item'>
                <a class="d-flex" href="">
                  <div class="flex-wrap d-flex">
                    <span class="notification-text ">Your receivead a new message in the module <strong>Services</strong></span>
                    <span class="notification-time">2 hours ago</span>
                  </div>
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-item nav-item-user-menu d-flex flex-row">
          <a href="/admin-account.html" class="img-user-small align-self-center">
            <img src="/images/svg/male-user-shadow.svg" alt="">
          </a>
          <a class="nav-link" data-toggle="collapse" href="#collapseLang" role="button" aria-expanded="false" aria-controls="collapseLang">gram@gmail.com<img src="/images/svg/gray-down-arrow.svg" data-toggle="collapse" alt=""></a>
          <ul class="user-menu collapse" id="collapseLang">
            <div class="collapse-content">
              <li class='menu-item active'><a href="/admin-account.html">My account</a></li>
              <li class='menu-item log-out'><a href="">Log out</a></li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>