<nav id="mainNav" class="navbar navbar-expand-md sticky-nav">
  
  <!-- Mobile Nav -->
  <nav class="mobile-side-navbar">
    <div class="mobile-side-navbar__top">
      
    </div>
    <div class="menu-nav">
      <a class="nav-link active" href="index.html">HOME</a>
      <a class="nav-link" id="popup-contact-m" href="">CONTACT</a>
      <a class="nav-link" href="index.html#how-it-works">HOW IT WORKS</a>
      <a class="nav-link" href="reviews.html">OWERVIEW OF OUR PRODUCT</a>
      <a class="nav-link" id="faq-m" href="">FAQ</a>
      <a class="nav-link" href="index.html#payment-methods">PAYMENT METHODS</a>
      <a class="nav-link" id="popup-ideas-m" href="">YOUR IDEAS</a>
      <a class="nav-link" href="helpful.html">HELPFUL</a>
      <a class="nav-link" id="terms-and-conditions-m" href="">TERMS AND CONDITIONS</a>
      <a class="nav-link" id="privacy-policy-m" href="">PRIVACY POLICY</a>
    </div>
    <div class="menu-img">
      <img src="/images/mobile-menu.png" alt="">
    </div>
  </nav>
  
  <div class="container">
    <a class="navbar-brand" href="index.html"><img src="/images/svg/logo.svg" alt=""></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="navbar-mobile-toggler">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
        <!-- Add class 'active' to active nav-link -->
        <li class="nav-item">
          <a class="nav-link active" href="index.html">HOW IT WORKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="popup-contact" href="#">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="faq" href="#">FAQ</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item lang" id="mobile-reorder__navbar__lang">
          <a class="nav-link" data-toggle="collapse" href="#collapseLang" role="button" aria-expanded="false" aria-controls="collapseLang">ENG<img src="/images/svg/blue-down-arrow.svg" data-toggle="collapse" alt=""></a>
          <ul class="lang-menu collapse" id="collapseLang" >
            <li class='lang-item'><a href=""><img src="/images/flags/arabic.png" alt="">Arabic</a></li>
            <li class='lang-item'><a href=""><img src="/images/flags/chinese.png" alt="">Chinese</a></li>
            <li class='lang-item active'><a href=""><img src="/images/flags/english.png" alt="">English</a></li>
            <li class='lang-item'><a href=""><img src="/images/flags/french.png" alt="">French</a></li>
            <li class='lang-item'><a href=""><img src="/images/flags/hindi.png" alt="">Hindi</a></li>
            <li class='lang-item'><a href=""><img src="/images/flags/russia.png" alt="">Russian</a></li>
            <li class='lang-item'><a href=""><img src="/images/flags/spanish.png" alt="">Spanish</a></li>
          </ul>
        </li>
      </ul>
      <a href="login.html" class="btn btn-secondary mobile-reorder__btn">LOG IN</a>
      <a href="register.html" class="btn btn-default mobile-reorder__btn">REGISTER</a>
    </div>
  </div>
</nav>