<nav class="navbar-admin-side">
  <ul>
    <li class="navbar-admin-side__item">
      <a class="navbar-admin-side__item__link d-flex flex-column active" href="/admin-services-folders.html">
        <svg class="align-self-center" id="service-icon" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs></defs><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="UI/Icon/Service_not-selected"><g id="Group-17"><rect id="Rectangle" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="23" height="23"></rect><g class="svg-hover-highlight" id="Group-6" transform="translate(3.000000, 4.000000)" fill="#98A6B4"><circle id="Oval-2" cx="1.5" cy="1.5" r="1.5"></circle><circle id="Oval-2" cx="8.5" cy="1.5" r="1.5"></circle><circle id="Oval-2" cx="15.5" cy="1.5" r="1.5"></circle><circle id="Oval-2" cx="1.5" cy="7.5" r="1.5"></circle><circle id="Oval-2" cx="8.5" cy="7.5" r="1.5"></circle><circle id="Oval-2" cx="15.5" cy="7.5" r="1.5"></circle><circle id="Oval-2" cx="1.5" cy="13.5" r="1.5"></circle><circle id="Oval-2" cx="8.5" cy="13.5" r="1.5"></circle><circle id="Oval-2" cx="15.5" cy="13.5" r="1.5"></circle></g></g></g></g></svg>
        <span>SERVICES</span>
      </a>
    </li>
    <li class="navbar-admin-side__item">
      <a class="navbar-admin-side__item__link d-flex flex-column" href="/admin-clients.html">
        <svg class="align-self-center" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="UI/Icon/Clients_not-selected"><g id="Group-14"><rect id="Rectangle" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="23" height="23"></rect><g class="svg-hover-highlight-stroke" id="Group-9" transform="translate(4.000000, 4.000000)" stroke="#98A6B4"><circle id="Oval-4" cx="8" cy="4" r="4"></circle><path d="M16,14.7189735 C14.4579424,11.9066472 11.4695953,10 8.03592691,10 C4.62172897,10 1.64781632,11.8850854 0.0982256248,14.6712196" id="Oval" stroke-linecap="round"></path></g></g></g></g></svg>
        <span>CLIENTS</span>
      </a>
    </li>
    <li class="navbar-admin-side__item">
      <a class="navbar-admin-side__item__link d-flex flex-column" href="/admin-orders.html">
        <svg class="align-self-center" width="17px" height="19px" viewBox="0 0 17 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="New-admin-panel" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="terms-and-conditions-(settings)-choose-color-rus" transform="translate(-59.000000, -251.000000)"><g id="Group-17" transform="translate(30.000000, 70.000000)"><g id="Group-3" transform="translate(11.000000, 22.000000)"><g id="Sidebar"><g id="Group-14" transform="translate(11.000000, 157.000000)"><g id="Orders" transform="translate(4.000000, 0.000000)"><rect id="Rectangle" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="23" height="23"></rect><polygon class="svg-hover-highlight-stroke" id="Path-3" stroke="#98A6B4" stroke-linecap="round" stroke-linejoin="round" points="11.3249523 3 4 7.29034059 4 15.6996929 11.3249523 20 19 15.6996929 19 7.29034059"></polygon><polyline class="svg-hover-highlight-stroke" id="Path-4" stroke="#98A6B4" points="5 7 11.7919277 11 19 7"></polyline><path class="svg-hover-highlight-stroke" d="M12,11 L12,19" id="Path-5" stroke="#98A6B4"></path></g></g></g></g></g></g></g></svg>
        <span>ORDERS</span>
      </a>
    </li>
    <li class="navbar-admin-side__item">
      <a class="navbar-admin-side__item__link d-flex flex-column" href="/admin-staff.html">
        <svg class="align-self-center" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="UI/Icon/Staff"><g id="Group-9"><rect id="Rectangle-5" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="23" height="23"></rect><g class="svg-hover-highlight-stroke" id="Group-20" transform="translate(3.000000, 4.000000)" stroke="#98A6B4"><path d="M4.58247346,5.35024931 C4.11965426,5.78379734 3.73934483,6.30436131 3.46764289,6.8858435 M6.31495647,13.7089545 C6.84143922,13.8973708 7.40873444,14 8,14 C8.60648965,14 9.18775868,13.8920177 9.7256302,13.69423 M12.5121041,6.84303154 C12.2635552,6.32403605 11.9280998,5.85459344 11.5245854,5.45355122" id="Oval-2" stroke-linecap="round"></path><circle id="Oval-5" fill="#FFFFFF" cx="13" cy="11" r="3"></circle><circle id="Oval-5" fill="#FFFFFF" cx="3" cy="11" r="3"></circle><circle id="Oval-5" fill="#FFFFFF" cx="8" cy="3" r="3"></circle></g></g></g></g></svg>
        <span>STAFF</span>
      </a>
    </li>
    <li class="navbar-admin-side__item">
      <a class="navbar-admin-side__item__link d-flex flex-column" href="/admin-requests.html">
        <svg class="align-self-center" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="UI/Icon/Request_not-selected"><g id="Group-13"><rect id="Rectangle" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="23" height="23"></rect><g class="svg-hover-highlight-stroke" id="Group-12" transform="translate(1.000000, 3.000000)" stroke="#98A6B4"><path d="M3.17572771,-1.07564345 C2.89958533,-1.07564345 2.67572771,-0.851785829 2.67572771,-0.575643454 L2.67572771,18.5041389 C2.67572771,18.7802813 2.89958533,19.0041389 3.17572771,19.0041389 L14.7496868,19.0041389 C15.0258292,19.0041389 15.2496868,18.7802813 15.2496868,18.5041389 L15.2496868,13.2042815 C15.2496868,12.7948674 15.4170355,12.4032444 15.7129102,12.1202638 L18.5977184,9.36117425 C18.6088611,9.35051716 18.6195049,9.33935036 18.6296156,9.32770965 C18.8106957,9.11922802 18.7884825,8.8034258 18.5800008,8.62234565 L15.766063,6.17825367 C15.4380568,5.89335853 15.2496868,5.48024296 15.2496868,5.04578551 L15.2496868,-0.575643454 C15.2496868,-0.851785829 15.0258292,-1.07564345 14.7496868,-1.07564345 L3.17572771,-1.07564345 Z" id="Rectangle-9" fill="#FFFFFF" transform="translate(10.713935, 8.964248) rotate(90.000000) translate(-10.713935, -8.964248) "></path><path d="M4.5,5.5 L12.5,5.5" id="Line-9" stroke-linecap="round"></path><path d="M4.5,9.5 L17.5,9.5" id="Line-9" stroke-linecap="round"></path></g></g></g></g></svg>
        <span>REQUESTS</span>
      </a>
    </li>
    <li class="navbar-admin-side__item">
      <a class="navbar-admin-side__item__link d-flex flex-column" href="/admin-settings.html">
        <svg class="align-self-center" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="UI/Icon/Settings_not-selected"><g id="Group-11"><rect id="Rectangle" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="23" height="23"></rect><g class="svg-hover-highlight-stroke" id="Group-10" transform="translate(2.000000, 4.000000)" stroke="#98A6B4" stroke-linecap="round"><path d="M1.5,8.5 L1.5,15.5" id="Line-8"></path><path d="M5.5,5.5 L5.5,15.5" id="Line-8"></path><path d="M17.5,5.5 L17.5,15.5" id="Line-8"></path><path d="M9.5,10.5 L9.5,15.5" id="Line-8"></path><path d="M13.5,0.5 L13.5,15.5" id="Line-8"></path></g></g></g></g></svg>
        <span>SETTINGS</span>
      </a>
    </li>
  </ul>
  
</nav>