    <!-- Popups -->
    <!-- Popup Contact -->
    <div id="popup-contact-form" class="cd-popup" role="alert">
      <form class="cd-form">
        <a href="" class="cd-popup-close cd-close-button">
          <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Popup-–-Contact-(open)-eng" transform="translate(-260.000000, -56.000000)"><g id="Popup/Contact" transform="translate(190.000000, 26.000000)"><g id="Popup-send-message"><g id="UI/Icon/Close" transform="translate(70.000000, 30.000000)"><g id="Group-59"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="30" height="30"></rect><g id="close" fill="#98A6B4" fill-rule="nonzero"><path d="M29.6450975,0.354946462 C29.1718355,-0.118315487 28.40455,-0.118315487 27.9312881,0.354946462 L0.354946462,27.9312295 C-0.118315487,28.4044914 -0.118315487,29.1717769 0.354946462,29.6450389 C0.59154814,29.8817578 0.901743604,30 1.21188047,30 C1.52201734,30 1.83215421,29.8816992 2.06881449,29.6449803 L29.6450975,2.0686973 C30.1183008,1.59549394 30.1183008,0.828208412 29.6450975,0.354946462 Z" id="Shape"></path><path d="M29.6450896,27.9312295 L2.06870083,0.354946462 C1.59549667,-0.118315487 0.828151234,-0.118315487 0.354947069,0.354946462 C-0.11831569,0.828149818 -0.11831569,1.59543535 0.354947069,2.0686973 L27.9313358,29.6450389 C28.1679379,29.8816992 28.4781339,30 28.7882713,30 C29.0984087,30 29.4086047,29.8816992 29.6451481,29.6450975 C30.1182937,29.1717769 30.1182937,28.4044914 29.6450896,27.9312295 Z" id="Shape"></path></g></g></g></g></g></g></g></svg>
        </a>
        <div class="cd-popup-container" style="">
          <div class="main-heading">اتصال</div>
          <div class="sub-heading">سنكون سعداء بقبول اقتراحاتكم وأفكاركم،وكذلك معرفة الخيارات الممكنة للتعاون</div>
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="form-group">
                    <label>الموضوع </label>
                      <div class="custom-select with-search">
                        <input class="search" type="search" placeholder="Search subject">
                        <select>
                          <option class="placeholder" value="0">إختاروا الموضوع حسب الطلب</option>
                          <option value="1">Subject 1</option>
                          <option value="2">Longer subject 2</option>
                          <option value="3">Subject 3</option>
                          <option value="4">Very very very long subject 3</option>
                          <option value="5">Shorter subject 4</option>
                          <option value="6">Shorter subject 5</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDescriptionContact">الوصف</label>
                    <input type="text" class="form-control form-control-underline " id="inputDescriptionContact">
                  </div>
                  <div class="form-group">
                    <label for="inputNameContact">الإسم </label>
                    <input type="text" class="form-control form-control-underline " id="inputNameContact">
                  </div>
                  <div class="form-group">
                    <label for="inputEmailContact">Email</label>
                    <input type="email" class="form-control form-control-underline " id="inputEmailContact">
                  </div>
                  <div class="form-group">
                    <label>البلد</label>
                      <div class="custom-select with-search">
                        <input class="search" type="search" placeholder="Search country">
                        <select>
                          <option value="">إختاروا بلدكم</option>
                          <option value="1">China</option>
                          <option value="1">France</option>
                          <option value="2">India</option>
                          <option value="3">Russia</option>
                          <option value="4">Spain</option>
                          <option value="5">United Arab Emirates</option>
                          <option value="6">United Kingdom</option>
                        </select>
                      </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">إرسال</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </form>
    </div>

    <!-- Popup Didn't Find -->
    <div id="didnt-find-form" class="cd-popup" role="alert">
      <form class="cd-form">
        <a href="" class="cd-popup-close cd-close-button">
          <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Popup-–-Contact-(open)-eng" transform="translate(-260.000000, -56.000000)"><g id="Popup/Contact" transform="translate(190.000000, 26.000000)"><g id="Popup-send-message"><g id="UI/Icon/Close" transform="translate(70.000000, 30.000000)"><g id="Group-59"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="30" height="30"></rect><g id="close" fill="#98A6B4" fill-rule="nonzero"><path d="M29.6450975,0.354946462 C29.1718355,-0.118315487 28.40455,-0.118315487 27.9312881,0.354946462 L0.354946462,27.9312295 C-0.118315487,28.4044914 -0.118315487,29.1717769 0.354946462,29.6450389 C0.59154814,29.8817578 0.901743604,30 1.21188047,30 C1.52201734,30 1.83215421,29.8816992 2.06881449,29.6449803 L29.6450975,2.0686973 C30.1183008,1.59549394 30.1183008,0.828208412 29.6450975,0.354946462 Z" id="Shape"></path><path d="M29.6450896,27.9312295 L2.06870083,0.354946462 C1.59549667,-0.118315487 0.828151234,-0.118315487 0.354947069,0.354946462 C-0.11831569,0.828149818 -0.11831569,1.59543535 0.354947069,2.0686973 L27.9313358,29.6450389 C28.1679379,29.8816992 28.4781339,30 28.7882713,30 C29.0984087,30 29.4086047,29.8816992 29.6451481,29.6450975 C30.1182937,29.1717769 30.1182937,28.4044914 29.6450896,27.9312295 Z" id="Shape"></path></g></g></g></g></g></g></g></svg>
        </a>
        <div class="cd-popup-container" style="">
          <div class="main-heading">لم أجد الخدمة</div>
          <div class="sub-heading">اكتب لنا اسم الخدمة التي ترغب في إضافتها  وسوف نتصل بك بمجرد توفرها</div>
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="form-group">
                    <label>البلد</label>
                      <div class="custom-select with-search">
                        <input class="search" type="search" placeholder="Search country">
                        <select>
                          <option value="">إختاروا بلدكم</option>
                          <option value="1">China</option>
                          <option value="1">France</option>
                          <option value="2">India</option>
                          <option value="3">Russia</option>
                          <option value="4">Spain</option>
                          <option value="5">United Arab Emirates</option>
                          <option value="6">United Kingdom</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmailDidntFind">Email</label>
                    <input type="email" class="form-control form-control-underline " id="inputEmailDidntFind">
                  </div>
                  <div class="form-group">
                    <label for="inputServiceDidntFind">Service</label>
                    <input type="text" class="form-control form-control-underline" id="inputServiceDidntFind">
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary">إرسال</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </form>
    </div>

    <!-- Popup FAQ -->
    <div id="faq-form" class="cd-popup cd-popup-width" role="alert">
      <form class="cd-form">
        <a href="" class="cd-popup-close cd-close-button">
          <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Popup-–-Contact-(open)-eng" transform="translate(-260.000000, -56.000000)"><g id="Popup/Contact" transform="translate(190.000000, 26.000000)"><g id="Popup-send-message"><g id="UI/Icon/Close" transform="translate(70.000000, 30.000000)"><g id="Group-59"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="30" height="30"></rect><g id="close" fill="#98A6B4" fill-rule="nonzero"><path d="M29.6450975,0.354946462 C29.1718355,-0.118315487 28.40455,-0.118315487 27.9312881,0.354946462 L0.354946462,27.9312295 C-0.118315487,28.4044914 -0.118315487,29.1717769 0.354946462,29.6450389 C0.59154814,29.8817578 0.901743604,30 1.21188047,30 C1.52201734,30 1.83215421,29.8816992 2.06881449,29.6449803 L29.6450975,2.0686973 C30.1183008,1.59549394 30.1183008,0.828208412 29.6450975,0.354946462 Z" id="Shape"></path><path d="M29.6450896,27.9312295 L2.06870083,0.354946462 C1.59549667,-0.118315487 0.828151234,-0.118315487 0.354947069,0.354946462 C-0.11831569,0.828149818 -0.11831569,1.59543535 0.354947069,2.0686973 L27.9313358,29.6450389 C28.1679379,29.8816992 28.4781339,30 28.7882713,30 C29.0984087,30 29.4086047,29.8816992 29.6451481,29.6450975 C30.1182937,29.1717769 30.1182937,28.4044914 29.6450896,27.9312295 Z" id="Shape"></path></g></g></g></g></g></g></g></svg>
        </a>
        <div class="cd-popup-container-fw cd-popup-container" style="">
          <div class="main-heading">Frequently Asked Questions</div>
          <input class="form-control form-control-underline search" type="text" placeholder="How can we help you? Write your question">
          <div class="text-content">
            <h3 class="select-selected collapser" data-toggle="collapse" href="" role="button" aria-expanded="false">General issues</h3>
              <ul class="collapse">
                  <div class="collapse-content">
                    <h4>What is it?</h4>
                    <p>balance-topup.com is a service of refill of cellular communication for crypto-currency and other payment systems 24/7.</p>
                    <h4>Do the service topup-balance.com have other website addresses?</h4>
                    <p>No, this is only address, we have nothing to do with services with a similar name. Please be careful.</p>
                    <h4>Who are we?</h4>
                    <p>We are a young team of blockchain developers who strive to provide honest and fast service in the field of cellular communications sales for any crypto-currency.</p>
                    <h4>Where can I know the latest news about your service?</h4>
                    <p>All the latest updates to our service you will find in the community (Facebook, Twitter, Instagram, Reddit)</p>
                    <h4>Can I offer my idea or comment about your service?</h4>
                    <p>We are always glad to hear any comments and suggestions regarding our service. Also our service is open for cooperation and expansion of the team.</p>
                    <h4>How quickly will I receive a reply from your support service?</h4>
                    <p>The average response time of the support service is 12 hours. This is due to the fact that our team is in different parts of the world, but we are working to reduce this time interval.</p>
                  </div>
              </ul>
            <h3 class="select-selected collapser" data-toggle="collapse" href="" role="button" aria-expanded="false">Registration</h3>
              <ul class="collapse">
                <div class="collapse-content">
                  <h4>Do I have to register if I want to use your service?</h4>
                  <p>Registration is not required. You can refill your balance directly, but the main plus of registration is that you do not need to pay a commission* (fee?) every time when you make payment in our service.</p>
                  <h4>What data do you need to register?</h4>
                  <p>In order to register with our service, you only need to specify your email.</p>
                </div>
              </ul>
            <h3 class="select-selected collapser" data-toggle="collapse" href="" role="button" aria-expanded="false">Refill</h3>
              <ul class="collapse">
                <div class="collapse-content">
                  <h4>How does the balance refill?</h4>
                  <p>Registration is not required. You can refill your balance directly, but the main plus of registration is that you do not need to pay a commission* (fee?) every time when you make payment in our service.</p>
                  <h4>Which countries of mobile operators can I refill?</h4>
                  <p>Available countries you can see on the main page in the field for entering your phone.</p>
                  <h4>What is the minimum amount I can refill?</h4>
                  <p>The minimum amount is not limited.</p>
                  <h4>Which commission is charged for refill my phone balance?</h4>
                  <p>The task of our team is to make refill mobile phone with minimal fee. Every day we are looking for distributors of mobile communication on the world.</p>
                </div>
              </ul>
            <h3 class="select-selected collapser" data-toggle="collapse" href="" role="button" aria-expanded="false">Payment</h3>
              <ul class="collapse">
                <div class="collapse-content">
                  <h4>How can I refill the phone?</h4>
                  <p>The following payment instruments are available for replenishment:</p>
                    <ul>
                      <li>Perfect money</li>
                      <li>Advcash</li>
                      <li>BTC, ETH, LTC, DOGE, PPC, DASH, XMR, ZEC, XRP.</li>
                    </ul>
                  <h4>How quickly will I receive funds to the account?</h4>
                  <p>Enrollment occurs after the transaction is confirmed, for the network bitcoin it is 3 confirmation. For payment systems, perfect money and advcash is instantly.</p>
                  <h4>I did not get the money on the account, what wiil I do?</h4>
                  <p>If you do not receive funds to your account, first make sure that your transaction has been confirmed on the Blockchain network, then check your number for the validity of the data, if you still did not receive the funds, contact our support service through the contact section.</p>
                  <h4>When is the refund funds?</h4>
                  <p>The refund is provided, if for technical reasons the payment to your cellular operator does not pass, in this case you receive a refund in full.</p>
                </div>
              </ul>
            <h3 class="select-selected collapser" data-toggle="collapse" href="" role="button" aria-expanded="false">Security</h3>
              <ul class="collapse">
                <div class="collapse-content">
                  <h4>How pass safe are payments on your site?</h4>
                  <p>All of our payment methods are secured. Our website is encrypted with an https certificate and we use a 256-bit SSL-connection. These measures ensure a safe environment for your payments.</p>
                  <h4>Can I transfer funds from one account to another account balance-topup.com?</h4>
                  <p>Transfer of funds from one account to another account balance-topup.com is not provided.</p>
                </div>
              </ul>
          </div>
        </div>
      </form>
    </div>
    
    <!-- Popup Ideas -->
    <div id="popup-ideas-form" class="cd-popup ideas" role="alert">
      <form class="cd-form">
        <a href="" class="cd-popup-close cd-close-button">
          <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Popup-–-Contact-(open)-eng" transform="translate(-260.000000, -56.000000)"><g id="Popup/Contact" transform="translate(190.000000, 26.000000)"><g id="Popup-send-message"><g id="UI/Icon/Close" transform="translate(70.000000, 30.000000)"><g id="Group-59"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="30" height="30"></rect><g id="close" fill="#98A6B4" fill-rule="nonzero"><path d="M29.6450975,0.354946462 C29.1718355,-0.118315487 28.40455,-0.118315487 27.9312881,0.354946462 L0.354946462,27.9312295 C-0.118315487,28.4044914 -0.118315487,29.1717769 0.354946462,29.6450389 C0.59154814,29.8817578 0.901743604,30 1.21188047,30 C1.52201734,30 1.83215421,29.8816992 2.06881449,29.6449803 L29.6450975,2.0686973 C30.1183008,1.59549394 30.1183008,0.828208412 29.6450975,0.354946462 Z" id="Shape"></path><path d="M29.6450896,27.9312295 L2.06870083,0.354946462 C1.59549667,-0.118315487 0.828151234,-0.118315487 0.354947069,0.354946462 C-0.11831569,0.828149818 -0.11831569,1.59543535 0.354947069,2.0686973 L27.9313358,29.6450389 C28.1679379,29.8816992 28.4781339,30 28.7882713,30 C29.0984087,30 29.4086047,29.8816992 29.6451481,29.6450975 C30.1182937,29.1717769 30.1182937,28.4044914 29.6450896,27.9312295 Z" id="Shape"></path></g></g></g></g></g></g></g></svg>
        </a>
        <div class="cd-popup-container" style="">
          <div class="main-heading">أفكاركم</div>
          <div class="sub-heading">سنكون سعداء بقبول اقتراحاتكم وأفكاركم،وكذلك معرفة الخيارات الممكنة للتعاون</div>
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="form-group">
                    <label>الموضوع</label>
                      <div class="custom-select with-search">
                        <input class="search" type="search" placeholder="Search country">
                        <select class="custom-scroll">
                          <option class="placeholder" value="0">إختاروا الموضوع حسب الطلب</option>
                          <option value="1">Subject 1</option>
                          <option value="2">Longer subject 2</option>
                          <option value="3">Subject 3</option>
                          <option value="4">Very very very long subject 3</option>
                          <option value="5">Shorter subject 4</option>
                          <option value="6">Shorter subject 5</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDescriptionIdeas">الوصف</label>
                    <input type="text" class="form-control form-control-underline " id="inputDescriptionIdeas">
                  </div>
                  <div class="form-group">
                    <label for="inputNameIdeas">الإسم </label>
                    <input type="text" class="form-control form-control-underline " id="inputNameIdeas">
                  </div>
                  <div class="form-group">
                    <label for="inputEmailIdeas">Email</label>
                    <input type="email" class="form-control form-control-underline " id="inputEmailIdeas">
                  </div>
                  <div class="form-group">
                    <label>البلد</label>
                      <div class="custom-select with-search">
                        <input class="search" type="search" placeholder="Search country">
                        <select>
                          <option value="">إختاروا بلدكم</option>
                          <option value="1">China</option>
                          <option value="1">France</option>
                          <option value="2">India</option>
                          <option value="3">Russia</option>
                          <option value="4">Spain</option>
                          <option value="5">United Arab Emirates</option>
                          <option value="6">United Kingdom</option>
                        </select>
                      </div>
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary">إرسال</button>
                  </div>
                </form>
              </div>

            </div>
        </div>
      </form>
    </div>

    <!-- Popup Partnership -->
    <div id="popup-partnership-form" class="cd-popup" role="alert">
      <form class="cd-form">
        <a href="" class="cd-popup-close cd-close-button">
          <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Popup-–-Contact-(open)-eng" transform="translate(-260.000000, -56.000000)"><g id="Popup/Contact" transform="translate(190.000000, 26.000000)"><g id="Popup-send-message"><g id="UI/Icon/Close" transform="translate(70.000000, 30.000000)"><g id="Group-59"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="30" height="30"></rect><g id="close" fill="#98A6B4" fill-rule="nonzero"><path d="M29.6450975,0.354946462 C29.1718355,-0.118315487 28.40455,-0.118315487 27.9312881,0.354946462 L0.354946462,27.9312295 C-0.118315487,28.4044914 -0.118315487,29.1717769 0.354946462,29.6450389 C0.59154814,29.8817578 0.901743604,30 1.21188047,30 C1.52201734,30 1.83215421,29.8816992 2.06881449,29.6449803 L29.6450975,2.0686973 C30.1183008,1.59549394 30.1183008,0.828208412 29.6450975,0.354946462 Z" id="Shape"></path><path d="M29.6450896,27.9312295 L2.06870083,0.354946462 C1.59549667,-0.118315487 0.828151234,-0.118315487 0.354947069,0.354946462 C-0.11831569,0.828149818 -0.11831569,1.59543535 0.354947069,2.0686973 L27.9313358,29.6450389 C28.1679379,29.8816992 28.4781339,30 28.7882713,30 C29.0984087,30 29.4086047,29.8816992 29.6451481,29.6450975 C30.1182937,29.1717769 30.1182937,28.4044914 29.6450896,27.9312295 Z" id="Shape"></path></g></g></g></g></g></g></g></svg>
        </a>
        <div class="cd-popup-container" style="">
          <div class="main-heading">التعاون</div>
          <div class="sub-heading">سنكون سعداء بقبول اقتراحاتكم وأفكاركم،وكذلك معرفة الخيارات الممكنة للتعاون</div>
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="form-group">
                    <label>الموضوع</label>
                      <div class="custom-select with-search">
                        <input class="search" type="search" placeholder="Search country">
                        <select>
                          <option class="placeholder" value="0">إختاروا الموضوع حسب الطلب</option>
                          <option value="1">Subject 1</option>
                          <option value="2">Longer subject 2</option>
                          <option value="3">Subject 3</option>
                          <option value="4">Very very very long subject 3</option>
                          <option value="5">Shorter subject 4</option>
                          <option value="6">Shorter subject 5</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDescriptionPartnership">الوصف</label>
                    <input type="text" class="form-control form-control-underline " id="inputDescriptionPartnership">
                  </div>
                  <div class="form-group">
                    <label for="inputNamePartnership">الإسم </label>
                    <input type="text" class="form-control form-control-underline " id="inputNamePartnership">
                  </div>
                  <div class="form-group">
                    <label for="inputEmailPartnership">Email</label>
                    <input type="email" class="form-control form-control-underline " id="inputEmailPartnership">
                  </div>
                  <div class="form-group">
                    <label>البلد</label>
                      <div class="custom-select with-search">
                        <input class="search" type="search" placeholder="Search country">
                        <select>
                          <option value="">إختاروا بلدكم</option>
                          <option value="1">China</option>
                          <option value="1">France</option>
                          <option value="2">India</option>
                          <option value="3">Russia</option>
                          <option value="4">Spain</option>
                          <option value="5">United Arab Emirates</option>
                          <option value="6">United Kingdom</option>
                        </select>
                      </div>
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary">إرسال</button>
                  </div>
                </form>
              </div>

            </div>
        </div>
      </form>
    </div>

    <!-- Popup Privacy -->
    <div id="privacy-policy-form" class="cd-popup cd-popup-width" role="alert">
      <form class="cd-form">
        <a href="" class="cd-popup-close cd-close-button">
          <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Popup-–-Contact-(open)-eng" transform="translate(-260.000000, -56.000000)"><g id="Popup/Contact" transform="translate(190.000000, 26.000000)"><g id="Popup-send-message"><g id="UI/Icon/Close" transform="translate(70.000000, 30.000000)"><g id="Group-59"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="30" height="30"></rect><g id="close" fill="#98A6B4" fill-rule="nonzero"><path d="M29.6450975,0.354946462 C29.1718355,-0.118315487 28.40455,-0.118315487 27.9312881,0.354946462 L0.354946462,27.9312295 C-0.118315487,28.4044914 -0.118315487,29.1717769 0.354946462,29.6450389 C0.59154814,29.8817578 0.901743604,30 1.21188047,30 C1.52201734,30 1.83215421,29.8816992 2.06881449,29.6449803 L29.6450975,2.0686973 C30.1183008,1.59549394 30.1183008,0.828208412 29.6450975,0.354946462 Z" id="Shape"></path><path d="M29.6450896,27.9312295 L2.06870083,0.354946462 C1.59549667,-0.118315487 0.828151234,-0.118315487 0.354947069,0.354946462 C-0.11831569,0.828149818 -0.11831569,1.59543535 0.354947069,2.0686973 L27.9313358,29.6450389 C28.1679379,29.8816992 28.4781339,30 28.7882713,30 C29.0984087,30 29.4086047,29.8816992 29.6451481,29.6450975 C30.1182937,29.1717769 30.1182937,28.4044914 29.6450896,27.9312295 Z" id="Shape"></path></g></g></g></g></g></g></g></svg>
        </a>
        <div class="cd-popup-container-fw cd-popup-container" style="">
          <div class="main-heading">Privacy Policy Topup-balance.com</div>
          <div class="text-content">
            <h3>1. Collection of information</h3>
            <p>We collect information when you register on the site, login to your account, make a purchase, or sign out of the account. The information includes your email address and phone number. Besides, we automatically register your computer and browser, including IP, software and hardware data, as well as the address of the requested page.</p>
            <h3>2. Use of information</h3>
            <ul>
              <p>The information we receive from you can be used to:</p>
              <li>improve our website</li>
              <li>improve user support system</li>
              <li>contact you by email</li>
            </ul>
            <h3>3. Protection of personal data in online sales</h3>
            <p>We are the sole owner of the information collected on this site. Your personal data will not be sold or in any way transferred to third parties for any reason, with except of the necessary data for the execution of the request or transaction, for example, when sending an order.</p>
            <h3>4. Disclosure of information to third parties</h3>
            <p>We do not sell, exchange or transfer personal data to third-party companies. We are ready to share information to prevent crime or help in their investigation, if it is a question of suspicion of fraud, actions that physically threaten people's safety, violations of the rules of use or in cases where this is provided by law. Non-confidential information may be provided to other companies for marketing, advertising, etc.</p>
            <h3>5. Data protection</h3>
            <p>We use a various means of safety features to guarantee the security of your personal data. At your service is the most modern encryption. Only those employees who work with a specific task (for example, technical support or payment) get access to personal data. Servers and computers on which confidential information is recorded are in a safe environment.</p>
            <p>Use of cookies <br> Our cookies are used to improve access to the site and determine repeat visits. Besides, they allow you to track the most interesting queries. The cookies do not transmit any confidential information.</p>
            <h3>6. Consent</h3>
            <p>By using the services of our website, you automatically agree to our privacy policy.</p>
          </div>
        </div>
      </form>
    </div>

    <!-- Popup Terms and conditions -->
    <div id="terms-and-conditions-form" class="cd-popup cd-popup-width" role="alert">
      <form class="cd-form">
        <a href="" class="cd-popup-close cd-close-button">
          <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="-English-1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="1440-Popup-–-Contact-(open)-eng" transform="translate(-260.000000, -56.000000)"><g id="Popup/Contact" transform="translate(190.000000, 26.000000)"><g id="Popup-send-message"><g id="UI/Icon/Close" transform="translate(70.000000, 30.000000)"><g id="Group-59"><rect id="Rectangle-2" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="30" height="30"></rect><g id="close" fill="#98A6B4" fill-rule="nonzero"><path d="M29.6450975,0.354946462 C29.1718355,-0.118315487 28.40455,-0.118315487 27.9312881,0.354946462 L0.354946462,27.9312295 C-0.118315487,28.4044914 -0.118315487,29.1717769 0.354946462,29.6450389 C0.59154814,29.8817578 0.901743604,30 1.21188047,30 C1.52201734,30 1.83215421,29.8816992 2.06881449,29.6449803 L29.6450975,2.0686973 C30.1183008,1.59549394 30.1183008,0.828208412 29.6450975,0.354946462 Z" id="Shape"></path><path d="M29.6450896,27.9312295 L2.06870083,0.354946462 C1.59549667,-0.118315487 0.828151234,-0.118315487 0.354947069,0.354946462 C-0.11831569,0.828149818 -0.11831569,1.59543535 0.354947069,2.0686973 L27.9313358,29.6450389 C28.1679379,29.8816992 28.4781339,30 28.7882713,30 C29.0984087,30 29.4086047,29.8816992 29.6451481,29.6450975 C30.1182937,29.1717769 30.1182937,28.4044914 29.6450896,27.9312295 Z" id="Shape"></path></g></g></g></g></g></g></g></svg>
        </a>
        <div class="cd-popup-container-fw cd-popup-container" style="">
          <div class="main-heading">Terms and Conditions</div>
          <div class="text-content">
            <p>By placing your order, you agree to have read these general conditions and our Privacy Statements and you explicitly agree to the contents thereof without further explanation. Topup-balance.com has a right to change its delivery and/or payment terms after termination of the term. Payment orders are at the cost and risk of the one giving the payment order (or authorisation). If you are under 18 years old, you need to ask permission from your parents before using balance-topup.com.</p>
            <h3>1. Use of the Services</h3>
            <ul>
              <li>Choice of the receiver's country</li>
              <li>Confirmation or choice your operator</li>
              <li>Input of the phone number to be top up</li>
              <li>Pay order</li>
            </ul>
            <h3>2. Delivery</h3>
            <p>Immediately if you have account topup-balance.com or after one confirmation blockchain network network ( usually up to 30 minutes, guaranteed delivery time 24 hours).</p>
            <h3>3. Refunds</h3>
            <p>Full refund if the problem is on our side.</p>
            <h3>4. Guarantee</h3>
            <p>The legal guarantee regulations are valid it.</p>
            <h3>5. Customer Service</h3>
            <p>Our customer service for questions, complaints and is available workdays<br>
            from <strong>9:00</strong> to <strong>17:00</strong> o’clock UTC / GMT + 3<br>
            Phone: <strong>+7 (0) 89/999 99 999</strong> <br>
            E-Mail: <a class="mail" href="mailto:">support@topup-balance.com</a>
            </p>
          </div>
        </div>
      </form>
    </div>
    
    <!-- Semi-automatic -->
    <div id="semi-automatic-form" class="cd-popup cd-popup-width semi-automatic" role="alert">
      <form class="cd-form">
        <div class="cd-popup-container-fw cd-popup-container" style="">
          <div class="main-heading">Please, read</div>
          <div class="text-content">
            <p>At the moment the service is in semi-automatic mode, all refill will be made within 12 hours after your payment.</p>
            <img src="/images/svg/semi-automatic.svg" alt="">
            <a href="" class="btn btn-default">I AGREE</a>
          </div>
        </div>
      </form>
    </div>