@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-ExtraBold.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/OpenSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src : url("../fonts/opensans/ExtraBoldItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src : url("../fonts/montserrat/Montserrat-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src : url("../fonts/montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src : url("../fonts/montserrat/Montserrat-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src : url("../fonts/montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src : url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
    font-weight: 900;
}

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin custom-scroll {
  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-highlight;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $color-highlight; 
  }
}

@mixin transition($transition...) {
    transition:         $transition-fast;
}
@mixin transition-property($property...) {
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    transition-delay:         $delay;
}