//Font Family
$font-family-regular: "OpenSans", source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-alternative: "Montserrat", source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 900;

//Fa-font
$fa-font-path: "../fonts/webfonts";

//Font Size
$font-size-x-small: 14px;
$font-size-small: 18px;
$font-size-default: 22px;
$font-size-medium: 28px;
$font-size-large: 36px;
$font-size-x-large: 42px;
$font-size-xx-large: 50px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;

$line-height-default: 1.6;

//Primary Colors
$color-primary 		: 	#0b284c;
$color-highlight 	: 	#178fff;
$color-secondary 	: 	#98a6b4;
$color-darkgray 	: 	#90959D;
$color-gray 		: 	#d0d8e2;
$color-lightgray 	: 	rgba(208, 216, 226, 0.12);
$color-darker		: 	#FAFAFA;
$color-white		: 	#FFFFFF;

//Precentage
$amount-xs: 10%;
$amount-sm: 15%;
$amount-md: 20%;
$amount-lg: 30%;

$letter-spacing-default: 0.12rem;

//Hover Colors
$color-primary-hover 	: 	lighten($color-primary, $amount-sm);
$color-highlight-hover 	: 	lighten($color-highlight, $amount-sm);
$color-secondary-hover 	: 	lighten($color-secondary, $amount-sm);
$color-darkgray-hover 	:	lighten($color-darkgray, $amount-sm);
$color-gray-hover 		:	lighten($color-gray, $amount-sm);
$color-lightgray-hover 	:	darken($color-lightgray, $amount-xs);

//Hover Colors
$color-primary-focus 	: 	darken($color-primary, $amount-xs);
$color-highlight-focus 	: 	darken($color-highlight, $amount-xs);
$color-secondary-focus 	: 	darken($color-secondary, $amount-xs);
$color-darkgray-focus 	:	darken($color-darkgray, $amount-xs);
$color-gray-focus 		:	darken($color-gray, $amount-xs);
$color-lightgray-focus 	:	darken($color-lightgray, $amount-sm);

//Transitions
$transition-default: all .3s ease;
$transition-fast: all .2s ease;

//Padding & Margin
$indent-x-small: 10px;
$indent-small: 20px;
$indent-default: 40px;
$indent-large: 60px;
$indent-x-large: 70px;
$indent-xx-large: 80px;
$indent-xxx-large: 120px;
$indent-xxxx-large: 160px;

//Borders
$border-default: 1px solid;

//Border radius
$border-radius-default: 8px;